edgewood
[{"id":"51598847.36e3a8","type":"tab","label":"Ecobee3"},{"id":"e0994af4.69f3c8","type":"tab","label":"Dark Sky"},{"id":"35a8abf3.f78d44","type":"tab","label":"Zwave"},{"id":"baca7a08.dea168","type":"tab","label":"Flic"},{"id":"e52a7c1.e42718","type":"tab","label":"WIP"},{"id":"ed7ca635.59afb8","type":"tab","label":"Github"},{"id":"8f00bc65.665df","type":"tab","label":"JSON Post"},{"id":"918f1647.ce7828","type":"tab","label":"MultiTech"},{"id":"940bff07.1e8e3","type":"mongodb","z":"","hostname":"10.0.0.100","port":"27017","db":"Ecobee3","name":"Edgewood-01"},{"id":"722044bd.d1b11c","type":"postgresdb","z":"e52a7c1.e42718","hostname":"localhost","port":"5432","db":"postgres"},{"id":"59d5fd19.8ae234","type":"postgresdb","z":"","hostname":"localhost","port":"5432","db":"lighting","ssl":false},{"id":"6607035d.6f950c","type":"darksky-credentials","z":"","key_identifier":"Node-Red"},{"id":"35e1911a.494f1e","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b0bb8bb1.75ddf8","type":"ui_base","name":"Edgewood","theme":"theme-dark"},{"id":"76a7e82.6401a18","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":"nodered-1","usetls":false,"compatmode":true,"keepalive":15,"cleansession":true,"willQos":"0","birthQos":"0"},{"id":"1f1ed968.891dd7","type":"zwave-controller","z":"","port":"/dev/ttyACM0","driverattempts":"3","pollinterval":"10000","allowunreadyupdates":false},{"id":"b9fb6c0.bdba398","type":"zwave-controller","z":"35a8abf3.f78d44","port":"/dev/ttyUSB0","driverattempts":"3","pollinterval":"500"},{"id":"93ec14cc.6afa78","type":"mqtt-broker","broker":"192.168.11.2","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":15,"cleansession":true,"willQos":"0","birthQos":"0"},{"id":"33465a05.c62a96","type":"zwave-controller","z":"35a8abf3.f78d44","port":"/dev/ttyUSB0","driverattempts":"3","pollinterval":"500"},{"id":"3848b192.a1c1ee","type":"zwave-controller","z":"35a8abf3.f78d44","port":"/dev/ttyUSB0","driverattempts":"3","pollinterval":"500"},{"id":"b3dca72a.7d4f78","type":"ui_group","z":"","name":"Dimmers","tab":"b10de062.931cb","order":3,"disp":true,"width":"6"},{"id":"37f571b6.07efde","type":"mqtt-broker","broker":"192.168.11.2","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":15,"cleansession":true,"willQos":"0","birthQos":"0"},{"id":"987ceec8.0d629","type":"ui_group","z":"","name":"Wind Speed","tab":"b10de062.931cb","order":6,"disp":true,"width":"6"},{"id":"a25807df.e4eb88","type":"ui_group","z":"","name":"Switches","tab":"b10de062.931cb","order":4,"disp":true,"width":"3"},{"id":"344e1fb3.04256","type":"ui_group","z":"","name":"Status","tab":"b10de062.931cb","order":7,"disp":true,"width":"3"},{"id":"60f617d7.b95848","type":"ui_group","z":"","name":"Lux","tab":"b10de062.931cb","order":2,"disp":true,"width":"6"},{"id":"4162ad63.0df7d4","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":true,"width":"6"},{"id":"cff1768e.7c4fb8","type":"twitter-credentials","z":"","screen_name":"@bdbuysse"},{"id":"b7b929b9.1d46e8","type":"postgresdb","z":"","hostname":"localhost","port":"5432","db":"temp","ssl":false},{"id":"3160bdf3.4e48f2","type":"ui_group","z":"","name":"HVAC","tab":"b10de062.931cb","order":1,"disp":true,"width":"6"},{"id":"5f41693b.9e1188","type":"github-credentials","z":"","name":"github"},{"id":"1b517324.11febd","type":"mqtt-broker","broker":"quickstart.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"a:quickstart:myApplicationId"},{"id":"4e7e6bdf.c06e94","type":"mqtt-broker","z":"","broker":"73.94.0.121","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b10de062.931cb","type":"ui_tab","z":"","name":"Home Control","icon":"dashboard","order":1},{"id":"d244951a.418708","type":"ui_group","z":"","name":"OAT","tab":"b10de062.931cb","order":5,"disp":true,"width":"6"},{"id":"8a9293ac.4ad11","type":"ui_group","z":"","name":"Storms","tab":"b10de062.931cb","order":8,"disp":true,"width":"6"},{"id":"b71fb839.aeed58","type":"mqtt-broker","z":"e52a7c1.e42718","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"c25faa60.59ff98","type":"inject","z":"51598847.36e3a8","name":"Refresh Thermostat Data","topic":"","payload":"Refresh Thermostat Variables","payloadType":"str","repeat":"900","crontab":"","once":false,"x":160,"y":620,"wires":[["841838c1.a3c3d8"]]},{"id":"f1e2fd00.f427f","type":"function","z":"51598847.36e3a8","name":"Get ecobeePin Token","func":"// Insert your Ecobee API Key into the following variable:\ncontext.global.EcobeeClientID=\"bygh7q8PMFCM9FFTY3ED0mE7MdAG2yYp\";\n// Insert your Ecobee API key into the above variable.\n\nvar newMsg ={\n \"url\":\"https://api.ecobee.com/authorize?response_type=ecobeePin&client_id=\"+context.global.EcobeeClientID+\"&scope=smartWrite\",\n \"method\": \"GET\",\n headers: {\n }\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":278.3690643310547,"y":106.21428489685059,"wires":[["e03906ff.bcb498"]]},{"id":"59cff96c.faf3a8","type":"debug","z":"51598847.36e3a8","name":"","active":true,"console":"true","complete":"payload","x":858.3690032958984,"y":105.96428489685059,"wires":[]},{"id":"e03906ff.bcb498","type":"http request","z":"51598847.36e3a8","name":"","method":"use","ret":"obj","url":"","x":485.3690643310547,"y":106.46428489685059,"wires":[["70bedb5f.708714"]]},{"id":"68986450.a8ab7c","type":"function","z":"51598847.36e3a8","name":"Get Thermostats","func":"if (context.global.EcobeeRefreshtoken!==\"\")\n{\n var newMsg={\n \"url\":\"https://api.ecobee.com/1/thermostat?format=json&body=%7B%22selection%22%3A%7B%22includeAlerts%22%3A%22false%22%2C%22selectionType%22%3A%22registered%22%2C%22selectionMatch%22%3A%22%22%2C%22includeEvents%22%3A%22false%22%2C%22includeSettings%22%3A%22false%22%2C%22includeRuntime%22%3A%22true%22%2C%22includeSensors%22%3A%22true%22%7D%7D\",\n \"method\": \"GET\",\n headers: {\n \"Content-Type\":\"application/json;charset=UTF-8\",\n \"Authorization\":\"Bearer \"+context.global.EcobeeAccessToken,\n }\n };\n}\nelse {\n var newMsg={\n \"url\":\"127.0.0.1\",\n \"method\":\"GET\"\n }\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":512.25,"y":619.5,"wires":[["a361f6f3.93d8a8"]]},{"id":"a361f6f3.93d8a8","type":"http request","z":"51598847.36e3a8","name":"Get Thermostat Request","method":"use","ret":"obj","url":"","x":724.4999694824219,"y":619.5,"wires":[["c7c496e2.cad218"]]},{"id":"13d238c7.41f3f7","type":"inject","z":"51598847.36e3a8","name":"Refresh token every 20 minutes","topic":"","payload":"","payloadType":"str","repeat":"1200","crontab":"","once":false,"x":172.6190643310547,"y":346.99207496643066,"wires":[["840f1430.04f068"]]},{"id":"840f1430.04f068","type":"function","z":"51598847.36e3a8","name":"Refresh Token","func":"context.global.EcobeeClientID=\"bygh7q8PMFCM9FFTY3ED0mE7MdAG2yYp\";\n//context.global.EcobeeRefreshToken=\"\";\nvar newMsg ={\n \"url\":\"https://api.ecobee.com/token?grant_type=refresh_token&code=\"+context.global.EcobeeRefreshToken+\"&client_id=\"+context.global.EcobeeClientID+\"\",\n \"method\": \"POST\",\n headers: {\n }\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":400.0357208251953,"y":346.99207496643066,"wires":[["e5de98e5.546468"]]},{"id":"e5de98e5.546468","type":"http request","z":"51598847.36e3a8","name":"","method":"use","ret":"obj","url":"","x":569.7857208251953,"y":346.74207496643066,"wires":[["545cda70.a4cde4"]]},{"id":"cd0d20c7.1bb06","type":"function","z":"51598847.36e3a8","name":"Define Access and Refresh Token vars","func":"context.global.EcobeeAccessToken=msg.payload.access_token;\ncontext.global.EcobeeRefreshToken=msg.payload.refresh_token;\nvar msg={ payload:{\n access_token:context.global.EcobeeAccessToken,\n refresh_token:context.global.EcobeeRefreshToken\n }\n};\nreturn msg;","outputs":1,"noerr":0,"x":986.0357055664062,"y":389.2420654296875,"wires":[["3dfcd42b.0ac36c","e6a5959e.253598"]]},{"id":"3dfcd42b.0ac36c","type":"debug","z":"51598847.36e3a8","name":"","active":false,"console":"false","complete":"payload","x":1250,"y":420,"wires":[]},{"id":"ea455af4.a1b7a8","type":"comment","z":"51598847.36e3a8","name":"Step #3 - Refresh Token Flow a few times for good measure.","info":"This flow will refresh your token every time the input button is pressed.\n\nGlobal variables set -- EcobeeAccessToken and EcobeeRefreshToken","x":238.5357208251953,"y":312.49207496643066,"wires":[]},{"id":"bb0b7210.a1dca","type":"comment","z":"51598847.36e3a8","name":"Step #4 - Get Thermostat Data","info":"Get thermostat data","x":152.6388931274414,"y":583.0277919769287,"wires":[]},{"id":"921f400f.2d675","type":"http response","z":"51598847.36e3a8","name":"","x":458.75,"y":1071.4444217681885,"wires":[]},{"id":"3cc485f3.a7aafa","type":"function","z":"51598847.36e3a8","name":"Throw Ecobee Data","func":"if(msg.req.headers.authorization && msg.req.headers.authorization==\"Bearer \"+context.global.FreeboardAuthTocken){\n msg.payload.thermostats=context.global.EcobeeThermostats;\n msg.payload.sensors=context.global.EcobeeSensors;\n msg.res.statusCode=\"200\";\nreturn msg;\n}\nelse\n{\n //msg.payload=\"Not Authorized\";\n msg.res.send(\"403\",\"Forbidden\");\n return;\n}\n\n//return msg;","outputs":1,"noerr":0,"x":287.75,"y":1071.4444217681885,"wires":[["921f400f.2d675"]]},{"id":"ac60e5f2.ec8058","type":"http in","z":"51598847.36e3a8","name":"Get Ecobee Data","url":"/getEcobeeData","method":"get","x":92.75,"y":1071.4444217681885,"wires":[["3cc485f3.a7aafa"]]},{"id":"b06fec88.c1471","type":"inject","z":"51598847.36e3a8","name":"Step 1","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":103.36906051635742,"y":105.71428489685059,"wires":[["f1e2fd00.f427f"]]},{"id":"884ed5ad.6a2cc8","type":"comment","z":"51598847.36e3a8","name":"Step #1 - Requesting the 4-digit ecobeePin - Log in to Ecobee.com and go to your \"My Apps\" before clicking the Inject node.","info":"The ecobeePin must be entered into your \"My Apps\" in Ecobee.com within 10 minutes.","x":445.3690643310547,"y":35.71428680419922,"wires":[]},{"id":"2e6962b2.e4e5de","type":"function","z":"51598847.36e3a8","name":"Get Authorization Token","func":"var newMsg ={\n \"url\":\"https://api.ecobee.com/token?grant_type=ecobeePin&code=\"+context.global.EcobeeAccessToken+\"&client_id=\"+context.global.EcobeeClientID,\n \"method\": \"POST\",\n headers: {\n }\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":300.3690643310547,"y":216.7142848968506,"wires":[["2120acf5.8e3e84"]]},{"id":"eebe4d36.84db","type":"debug","z":"51598847.36e3a8","name":"","active":false,"console":"true","complete":"payload","x":689.3690643310547,"y":286.4642848968506,"wires":[]},{"id":"2120acf5.8e3e84","type":"http request","z":"51598847.36e3a8","name":"","method":"use","ret":"obj","url":"","x":502.36903381347656,"y":216.9642848968506,"wires":[["eebe4d36.84db","dbd23a7.22511c8","912610b2.ed4fb"]]},{"id":"6393146a.0f3a9c","type":"comment","z":"51598847.36e3a8","name":"Step #2 - Requesting the first access token - you must run Step 2 within 10 minutes of running Step 1.","info":"Now that the app has been added to your \"My Apps\" - we need to request our first access token.","x":369.59129333496094,"y":181.214280128479,"wires":[]},{"id":"70bedb5f.708714","type":"function","z":"51598847.36e3a8","name":"Save access code","func":"context.global.EcobeeAccessToken = msg.payload.code;\nvar msg = {\"payload\":\"Ecobee Pin: \"+msg.payload.ecobeePin};\nreturn msg;","outputs":1,"noerr":0,"x":674.3690032958984,"y":105.71428489685059,"wires":[["59cff96c.faf3a8"]]},{"id":"dbd23a7.22511c8","type":"file","z":"51598847.36e3a8","name":"EcobeeTokens","filename":"/home/bdbuysse/ecobee3/token","appendNewline":false,"createDir":false,"overwriteFile":"true","x":696.3690643310547,"y":251.7142848968506,"wires":[]},{"id":"4acbf458.cbc0bc","type":"file in","z":"51598847.36e3a8","name":"EcobeeTokens","filename":"/home/bdbuysse/ecobee3/token","format":"utf8","x":261.3055648803711,"y":1156.4444026947021,"wires":[["94aba46c.da3a78"]]},{"id":"a43344a7.524a48","type":"debug","z":"51598847.36e3a8","name":"","active":false,"console":"true","complete":"payload","x":867.3055038452148,"y":1156.1110591888428,"wires":[]},{"id":"94e47180.33ff9","type":"inject","z":"51598847.36e3a8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":89.3055648803711,"y":1156.4444026947021,"wires":[["4acbf458.cbc0bc"]]},{"id":"b167b48a.05c1d8","type":"function","z":"51598847.36e3a8","name":"Define Access and Refresh Tokens","func":"if (msg.payload.refresh_token!==null)\n{\n context.global.EcobeeRefreshToken = msg.payload.refresh_token;\n node.warn(\"Refresh Token as Global Context: \"+context.global.EcobeeRefreshToken);\n}\nreturn msg;","outputs":1,"noerr":0,"x":630.3055038452148,"y":1156.4444026947021,"wires":[["a43344a7.524a48"]]},{"id":"e6a5959e.253598","type":"file","z":"51598847.36e3a8","name":"EcobeeTokens","filename":"/home/bdbuysse/ecobee3/token","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1254.0357208251953,"y":355.74207496643066,"wires":[]},{"id":"912610b2.ed4fb","type":"function","z":"51598847.36e3a8","name":"Define Access and Refresh Tokens","func":"context.global.EcobeeRefreshToken = msg.payload.refresh_token;\ncontext.global.EcoBeeAccessToken = msg.payload.access_token;\nvar msg={ \"payload\":context.global.EcobeeRefreshToken };\nreturn msg;","outputs":1,"noerr":0,"x":758.3690643310547,"y":216.7142848968506,"wires":[["a035ab9d.e5ba48"]]},{"id":"a035ab9d.e5ba48","type":"debug","z":"51598847.36e3a8","name":"","active":true,"console":"false","complete":"false","x":1009.3690032958984,"y":216.7142848968506,"wires":[]},{"id":"545cda70.a4cde4","type":"switch","z":"51598847.36e3a8","name":"Refresh Token","property":"payload.refresh_token","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":733.5357208251953,"y":346.99207496643066,"wires":[["cdb7168d.ba59b8"],["cd0d20c7.1bb06"]]},{"id":"72601179.f633b","type":"comment","z":"51598847.36e3a8","name":"This flow will extract the Access and Refresh tokens from the log file and put them in the global context variables.","info":"","x":394.9721908569336,"y":1120.1110591888428,"wires":[]},{"id":"841838c1.a3c3d8","type":"delay","z":"51598847.36e3a8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":347.4166564941406,"y":619.9166870117188,"wires":[["68986450.a8ab7c"]]},{"id":"a007dce0.13fab","type":"comment","z":"51598847.36e3a8","name":"You will have 2 minutes to enter the 4-digit pin into Ecobee.com and authorize the application. (Ecobee disgards the 4-pin code after 10 minutes!)","info":"","x":511.6190643310547,"y":70.71428489685059,"wires":[]},{"id":"8d4c849c.e1f0c8","type":"comment","z":"51598847.36e3a8","name":"Display Ecobee Data to Freeboard","info":"","x":145,"y":1034.4444217681885,"wires":[]},{"id":"94aba46c.da3a78","type":"json","z":"51598847.36e3a8","name":"","x":413.5555648803711,"y":1156.4444026947021,"wires":[["b167b48a.05c1d8"]]},{"id":"cdb7168d.ba59b8","type":"file in","z":"51598847.36e3a8","name":"EcobeeTokens","filename":"/home/bdbuysse/ecobee3/token","format":"utf8","x":909.2857208251953,"y":320.49207496643066,"wires":[["581b4e3e.735ab"]]},{"id":"581b4e3e.735ab","type":"json","z":"51598847.36e3a8","name":"","x":1064.5357208251953,"y":320.49207496643066,"wires":[["9baf4034.0f502"]]},{"id":"9baf4034.0f502","type":"function","z":"51598847.36e3a8","name":"Define Access and Refresh Tokens","func":"if (msg.payload.refresh_token!==null)\n{\n context.global.EcobeeRefreshToken = msg.payload.refresh_token;\n node.warn(\"Refresh Token as Global Context: \"+context.global.EcobeeRefreshToken);\n}\nreturn msg;","outputs":1,"noerr":0,"x":1291.285659790039,"y":320.49207496643066,"wires":[[]]},{"id":"cc4672fc.acf64","type":"inject","z":"51598847.36e3a8","name":"Step 2","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":98.61906433105469,"y":216.7142848968506,"wires":[["2e6962b2.e4e5de"]]},{"id":"35c4349b.eb210c","type":"inject","z":"e52a7c1.e42718","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 12 * * *","once":false,"x":116.66666412353516,"y":141.66665649414062,"wires":[["2458f0ca.eb3e5"]]},{"id":"ca099bf8.9d2178","type":"template","z":"e52a7c1.e42718","name":"format query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select * from table1 where field2 > $param1","x":509.66666412353516,"y":139.66665649414062,"wires":[["e55a6e6a.69a7a"]]},{"id":"e55a6e6a.69a7a","type":"postgres","z":"e52a7c1.e42718","postgresdb":"722044bd.d1b11c","name":"","output":true,"outputs":1,"x":676.6666641235352,"y":135.66665649414062,"wires":[["50da4425.82a39c","52d2f532.a1defc"]]},{"id":"50da4425.82a39c","type":"debug","z":"e52a7c1.e42718","name":"query output","active":false,"console":"false","complete":"true","x":858.6666641235352,"y":261.6666564941406,"wires":[]},{"id":"52d2f532.a1defc","type":"http request","z":"e52a7c1.e42718","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/incoming_data","x":907.3333358764648,"y":129.33332443237305,"wires":[["200455bc.33f6ca"]]},{"id":"200455bc.33f6ca","type":"debug","z":"e52a7c1.e42718","name":"http result","active":false,"console":"false","complete":"payload","x":1095.3332977294922,"y":130.99999618530273,"wires":[]},{"id":"2458f0ca.eb3e5","type":"function","z":"e52a7c1.e42718","name":"setup params","func":"msg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = 1;\nreturn msg;","outputs":1,"noerr":0,"x":309.66666412353516,"y":137.66665649414062,"wires":[["ca099bf8.9d2178"]]},{"id":"2bd9b9ca.8d4886","type":"http in","z":"e52a7c1.e42718","name":"","url":"/incoming_data","method":"post","swaggerDoc":"","x":212.66666412353516,"y":557.6666564941406,"wires":[["d385127.f2198f","a460ec50.8c483"]]},{"id":"22a9f5b4.fa6c9a","type":"http response","z":"e52a7c1.e42718","name":"","x":816.6666641235352,"y":573.6666564941406,"wires":[]},{"id":"d385127.f2198f","type":"debug","z":"e52a7c1.e42718","name":"http input","active":false,"console":"false","complete":"payload","x":431.66666412353516,"y":665.6666564941406,"wires":[]},{"id":"a460ec50.8c483","type":"function","z":"e52a7c1.e42718","name":"reply to http call","func":"msg.payload='reply from http';\nreturn msg;","outputs":1,"noerr":0,"x":580.6666641235352,"y":507.6666564941406,"wires":[["22a9f5b4.fa6c9a"]]},{"id":"156b264b.c13e0a","type":"inject","z":"e0994af4.69f3c8","name":"Home","topic":"Home","payload":"45.141574, -93.374866","payloadType":"str","repeat":"","crontab":"","once":false,"x":104.5833625793457,"y":1279.5832710266113,"wires":[["b8304ee9.27522"]]},{"id":"fa696178.eb4e","type":"function","z":"e0994af4.69f3c8","name":"make Weather object","func":"//parse forecast.io message\n\nvar weather = JSON.parse(msg.payload); \n\nvar data = weather.minutely.data;\nvar timeToRain = -1;\n\nvar i=1;\nfor (var i=0 ; i< data.length;i++) {\n\tif (data[i].precipProbability > 0.25) { weather.nextRain = parseInt(data[i].time); break; }\n}\n\n//reduce size of object\ndelete weather.minutely;\ndelete weather.hourly;\ndelete weather.daily;\ndelete weather.flags;\n\nif (weather.nextRain != null) {\n\tvar t =( weather.nextRain - parseInt(weather.currently.time) );\n\nif (t<0){t=0}\nelse{t = t/60;}\ntimeToRain = t;\n}\nvar msg2 = { payload:timeToRain};\nreturn msg2;","outputs":"1","noerr":0,"x":512.8333206176758,"y":1337.5832710266113,"wires":[["977c1695.3c6ab8","5715643.125129c"]]},{"id":"5715643.125129c","type":"debug","z":"e0994af4.69f3c8","name":"","complete":true,"x":718.9166984558105,"y":1293.3332710266113,"wires":[]},{"id":"977c1695.3c6ab8","type":"mqtt out","z":"e0994af4.69f3c8","name":"Minutes to Rain","topic":"weather/forecast/minsToRain","qos":"","retain":"","broker":"35e1911a.494f1e","x":752.0833854675293,"y":1380.0832719802856,"wires":[]},{"id":"72dea4.9e03715c","type":"mqtt in","z":"e0994af4.69f3c8","name":"Minutes To Rain","topic":"weather/forecast/minsToRain","broker":"35e1911a.494f1e","x":104.5833511352539,"y":1464.3332710266113,"wires":[["f19d44fb.c61e08"]]},{"id":"f19d44fb.c61e08","type":"function","z":"e0994af4.69f3c8","name":"Is weather unsafe?","func":"// console.log(msg.topic, msg.payload, msg.qos, msg.retain);\n// context = {};\nvar unsafe=0;\nvar minsToRain = parseInt(msg.payload);\nif ((minsToRain >=0) && (minsToRain < 46) )\n{\n   unsafe=1;\n}\nmsg.payload=unsafe;\nreturn msg;","outputs":"1","x":332.5833511352539,"y":1463.0832710266113,"wires":[["3fc1b8ac.fe4528"]]},{"id":"3fc1b8ac.fe4528","type":"mqtt out","z":"e0994af4.69f3c8","name":"Weather unsafe","topic":"weather/unsafe","broker":"35e1911a.494f1e","x":571.833381652832,"y":1464.0832710266113,"wires":[]},{"id":"4c52f601.705748","type":"function","z":"e0994af4.69f3c8","name":"Rain Warning Colour","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\n//if weather status switched off end flow now\nif(context.global.weatherStatus == \"0\")\n{\n   return null;\n}\nelse\n{\n\tvar red =0;\n\tvar blue =0;\n\tvar green =0;\n\t\n\tvar minsToRain = msg.payload;\n\t\n\tif (minsToRain == -1 || minsToRain > 45)\n\t{\n\t\tgreen=255;\n\t}\n\telse if (minsToRain == 0)\n\t{\n\t   red =255;\n\t}\n\telse\n\t{\n\t\t\tblue = (255 - (255 - (minsToRain*5)));\n\t        red = (255 - (minsToRain*5));\n\t        green =0;\n\t}\n\t\n\tmsg.payload = red + \",\" + green + \",\" + blue;\n}\nreturn msg;","outputs":1,"x":438.33338928222656,"y":1647.3332710266113,"wires":[["74e8fde4.0b5ea4","2efc1e99.7b2b82"]]},{"id":"74e8fde4.0b5ea4","type":"debug","z":"e0994af4.69f3c8","name":"rgb out","active":true,"complete":"false","x":718.3333892822266,"y":1695.3332710266113,"wires":[]},{"id":"f892f658.ab0248","type":"mqtt in","z":"e0994af4.69f3c8","name":"Minutes To Rain","topic":"weather/forecast/minsToRain","broker":"35e1911a.494f1e","x":103.58338928222656,"y":1658.083270072937,"wires":[["4c52f601.705748"]]},{"id":"2efc1e99.7b2b82","type":"mqtt out","z":"e0994af4.69f3c8","name":"Ambient Light Lounge 1","topic":"home/ambient/lounge/1","broker":"35e1911a.494f1e","x":771.0833892822266,"y":1604.5832710266113,"wires":[]},{"id":"2551f35c.ae99ec","type":"debug","z":"e0994af4.69f3c8","name":"","active":true,"complete":"false","x":488.6666946411133,"y":1221.9998970031738,"wires":[]},{"id":"464bbade.c21df4","type":"comment","z":"e0994af4.69f3c8","name":"Rain Forecaster","info":"","x":113.33335876464844,"y":1185.083270072937,"wires":[]},{"id":"b8304ee9.27522","type":"darksky","z":"e0994af4.69f3c8","darksky":"6607035d.6f950c","name":"Home","lon":"092.3747222","lat":"45.1416667","date":"","time":"","mode":"message","lang":"en","units":"us","x":319.5833625793457,"y":1277.0833015441895,"wires":[["2551f35c.ae99ec","fa696178.eb4e"]]},{"id":"2393e81a.ec7438","type":"debug","z":"e52a7c1.e42718","name":"","active":true,"complete":false,"x":543.8888854980469,"y":843.3333129882812,"wires":[]},{"id":"5197a55d.962efc","type":"inject","z":"e52a7c1.e42718","name":"","topic":"","payload":"","repeat":"","once":false,"x":143.88888549804688,"y":843.3333129882812,"wires":[["576b6eb1.2f38"]]},{"id":"576b6eb1.2f38","type":"function","z":"e52a7c1.e42718","name":"Format timestamp","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":343.8888854980469,"y":843.3333129882812,"wires":[["2393e81a.ec7438"]]},{"id":"4b72e48e.1f599c","type":"inject","z":"e52a7c1.e42718","name":"Tick","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150.00000762939453,"y":1117.777808189392,"wires":[["956a06c0.3b98f8"]]},{"id":"956a06c0.3b98f8","type":"http request","z":"e52a7c1.e42718","name":"UK Power","method":"GET","url":"http://realtimeweb-prod.nationalgrid.com/SystemData.aspx","x":309.99999237060547,"y":1117.7777783870697,"wires":[["a55990c4.657c5"]]},{"id":"a55990c4.657c5","type":"function","z":"e52a7c1.e42718","name":"UK Power Demand","func":"// does a simple text extract parse of the http output to provide an\n// object containing the uk power demand, frequency and time\n\nif (~msg.payload.indexOf('<span')) {\n    var dem = msg.payload.split('Demand:')[1].split(\"MW\")[0];\n    var fre = msg.payload.split('Frequency:')[1].split(\"Hz\")[0];\n\n    msg.payload = {};\n    msg.payload.demand = parseInt(dem.split(\">\")[1].split(\"<\")[0]);\n    msg.payload.frequency = parseFloat(fre.split(\">\")[1].split(\"<\")[0]);\n    \n    msg2 = {};\n    msg2.payload = (msg.payload.frequency >= 50) ? true : false;\n\n    return [msg,msg2];\n}\n\nreturn null;","outputs":"2","noerr":0,"x":509.2222137451172,"y":1116.6666450500488,"wires":[["70741f7.b4a44e"],["d72e3cfe.2d14b"]]},{"id":"70741f7.b4a44e","type":"debug","z":"e52a7c1.e42718","name":"","active":true,"complete":false,"x":710.3332748413086,"y":1050.0000019073486,"wires":[]},{"id":"d72e3cfe.2d14b","type":"debug","z":"e52a7c1.e42718","name":"","active":true,"complete":false,"x":714.6666488647461,"y":1177.6667003631592,"wires":[]},{"id":"126671e8.91faee","type":"comment","z":"e52a7c1.e42718","name":"Extract Text from HTML","info":"Flow extrats text from \n\nhttp://realtimeweb-prod.nationalgrid.com/SystemData.aspx\n\nDemand: 39958MW \n6:55:00 AM GMT \nFrequency: 49.902Hz \n6:57:45 AM GMT\n\nSystem Transfers\n\nN.Ireland to Great Britain: 298MW \nFrance to Great Britain: -1022MW \nNetherlands to GB: 1000MW \n12/1/2016 6:30:00 AM GMT \n\nNorth-South: 4500MW \nScot - Eng: 2869MW \n12/1/2016 7:00:00 AM GMT","x":176.1111068725586,"y":1014.4444980621338,"wires":[]},{"id":"2c5c889e.0afcb8","type":"function","z":"e0994af4.69f3c8","name":"weather","func":"summary= msg.payload.currently.summary;\nprecipProbability = msg.payload.currently.precipProbability;\nnearestStormDistance= msg.payload.currently.nearestStormDistance;\nvar summary={\n    payload: summary\n};\nvar stromdistMSG={\n    payload: \"Strom Distance: \" + nearestStormDistance\n};\nvar precipprobMSG={\n    payload: \"Probability of Percip: \" + precipProbability\n};\nreturn [ [ summary, stromdistMSG, precipprobMSG ] ];\n","outputs":1,"noerr":0,"x":640.6666412353516,"y":649.6945285797119,"wires":[["d26dd452.a9f0f8"]]},{"id":"456cd51b.ef73fc","type":"http request","z":"e0994af4.69f3c8","name":"weatherapi","method":"use","ret":"obj","url":"","tls":"","x":451.7777633666992,"y":649.6945009231567,"wires":[["2c5c889e.0afcb8"]]},{"id":"a560c88b.dae488","type":"function","z":"e0994af4.69f3c8","name":"Weather - Home","func":"context.global.weatherapitoken=\"8957af1085b3c3adcbd3e35c7c41d0dc\"\ncontext.global.weatherlatlong=\"45.141574, -93.374866\"\nif (context.global.weatherapi!==\"\")\n{\n var newMsg={\n \"url\":\"https://api.darksky.net/forecast/\"+context.global.weatherapitoken+\"/\"+context.global.weatherlatlong+\"?exclude=hourly,daily,alerts,flags\",\n \"method\": \"GET\",\n headers: {\n \"Content-Type\":\"application/json;charset=UTF-8\",\n }\n };\n}\nelse {\n var newMsg={\n \"url\":\"127.0.0.1\",\n \"method\":\"GET\"\n }\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":255.11106491088867,"y":650.8055076599121,"wires":[["456cd51b.ef73fc"]]},{"id":"60f9a600.4b658c","type":"inject","z":"e0994af4.69f3c8","name":"Injector","topic":"weatherapi","payload":"45.1416667,092.3747222","payloadType":"str","repeat":"","crontab":"","once":false,"x":93.99997329711914,"y":651.9167766571045,"wires":[["a560c88b.dae488"]]},{"id":"d26dd452.a9f0f8","type":"mqtt out","z":"e0994af4.69f3c8","name":"Storm Broadcast","topic":"weather/storm","qos":"","retain":"","broker":"35e1911a.494f1e","x":871.9166870117188,"y":610.2501831054688,"wires":[]},{"id":"9e990eb4.76fb7","type":"comment","z":"e0994af4.69f3c8","name":"Storm Alert Broadcast","info":"S","x":130.66664505004883,"y":596.777904510498,"wires":[]},{"id":"d742e126.003c6","type":"switch","z":"e0994af4.69f3c8","name":"Evaulate Storm Distance","property":"payload.currently.nearestStormDistance","propertyType":"msg","rules":[{"t":"lt","v":"500","vt":"num"},{"t":"gte","v":"500","vt":"num"}],"checkall":"true","outputs":2,"x":839.2083549499512,"y":692.7500219345093,"wires":[["34cae7eb.b6b5d8"],["427570bd.b7752"]]},{"id":"427570bd.b7752","type":"debug","z":"e0994af4.69f3c8","name":"Storm is not near","active":false,"console":"false","complete":"true","x":1127.9583625793457,"y":752.7500247955322,"wires":[]},{"id":"348e2f27.a7e37","type":"mqtt out","z":"e0994af4.69f3c8","name":"Storm within 500 miles","topic":"weather\\stormalert\\stormnear","qos":"0","retain":"","broker":"35e1911a.494f1e","x":1397.9583625793457,"y":701.5000238418579,"wires":[]},{"id":"6d91d287.6d0e6c","type":"debug","z":"e0994af4.69f3c8","name":"Storm within 500","active":false,"console":"false","complete":"true","x":1345.4583625793457,"y":780.2500238418579,"wires":[]},{"id":"34cae7eb.b6b5d8","type":"function","z":"e0994af4.69f3c8","name":"Storm Distance","func":"precipProbability = msg.payload.currently.precipProbability;\nnearestStormDistance= msg.payload.currently.nearestStormDistance;\nvar stromdistMSG={\n    payload: \"Strom Distance: \" + nearestStormDistance\n};\nvar precipprobMSG={\n    payload: \"Probability of Percip: \" + precipProbability\n};\nreturn [ [ stromdistMSG, precipprobMSG ] ];\n","outputs":1,"noerr":0,"x":1114.8333625793457,"y":697.7500228881836,"wires":[["6d91d287.6d0e6c","348e2f27.a7e37"]]},{"id":"8b31b3b0.d0c9c","type":"switch","z":"e0994af4.69f3c8","name":"Evaluate Percipitation","property":"payload.currently. precipProbability","propertyType":"msg","rules":[{"t":"lte","v":".75","vt":"num"},{"t":"gt","v":".76","vt":"num"}],"checkall":"true","outputs":2,"x":863.0178680419922,"y":1034.5952339172363,"wires":[["4aaeec73.5525b4"],["d9c20aef.b98cd8"]]},{"id":"4aaeec73.5525b4","type":"change","z":"e0994af4.69f3c8","name":"Rain Unlikely","rules":[{"t":"set","p":"payload.note","pt":"msg","to":"Rain Unlikely","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1069.8035583496094,"y":991.3809261322021,"wires":[["ab18aa2f.721a88"]]},{"id":"d9c20aef.b98cd8","type":"change","z":"e0994af4.69f3c8","name":"Rain Likely","rules":[{"t":"set","p":"payload.note","pt":"msg","to":"Rain Likely","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1068.8213500976562,"y":1091.0238065719604,"wires":[["ab18aa2f.721a88"]]},{"id":"ab18aa2f.721a88","type":"mqtt out","z":"e0994af4.69f3c8","name":"Percipitation?","topic":"weather/rain","qos":"","retain":"","broker":"35e1911a.494f1e","x":1289.7142857142856,"y":1038.5237974439349,"wires":[]},{"id":"99fc7efa.4e61b","type":"http request","z":"e0994af4.69f3c8","name":"weatherapi","method":"use","ret":"obj","url":"","tls":"","x":481.44439697265625,"y":123.99995422363281,"wires":[["3706de9a.fc2f62","31a25007.9fb16","ebd17d4b.629a","710f03b3.c131ec","728519bf.527cb8"]]},{"id":"33e373c.dc1608c","type":"function","z":"e0994af4.69f3c8","name":"Weather - Home","func":"context.global.weatherapitoken=\"8957af1085b3c3adcbd3e35c7c41d0dc\"\ncontext.global.weatherlatlong=\"45.141574, -93.374866\"\nif (context.global.weatherapi!==\"\")\n{\n var newMsg={\n \"url\":\"https://api.darksky.net/forecast/\"+context.global.weatherapitoken+\"/\"+context.global.weatherlatlong+\"?exclude=alerts,flags\",\n \"method\": \"GET\",\n headers: {\n \"Content-Type\":\"application/json;charset=UTF-8\",\n }\n };\n}\nelse {\n var newMsg={\n \"url\":\"127.0.0.1\",\n \"method\":\"GET\"\n }\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":299.4443893432617,"y":124.44430255889893,"wires":[["99fc7efa.4e61b"]]},{"id":"2b59cc82.c7dc74","type":"inject","z":"e0994af4.69f3c8","name":"Every Hour","topic":"weatherapi","payload":"45.1416667,092.3747222","payloadType":"str","repeat":"3600","crontab":"","once":false,"x":109.99995422363281,"y":125.55559062957764,"wires":[["33e373c.dc1608c"]]},{"id":"3706de9a.fc2f62","type":"function","z":"e0994af4.69f3c8","name":"Weather Icons","func":"summaryicon = msg.payload.currently.icon;\nminuteicon = msg.payload.minutely.icon;\nhouricon = msg.payload.hourly.icon;\ndailyicon = msg.payload.daily.icon;\n\n//Summary Icons\n\nvar summaryMSG={ \n    payload: summaryicon\n};\nvar minuteMSG={\n    payload: minuteicon\n};\nvar hourMSG={\n    payload: houricon\n};\nvar dailyMSG={\n    payload: dailyicon\n};\n\nreturn [ [ summaryMSG, minuteMSG, hourMSG, dailyMSG ] ];\n\n","outputs":"1","noerr":0,"x":740,"y":400,"wires":[[]]},{"id":"31a25007.9fb16","type":"function","z":"e0994af4.69f3c8","name":"Weather Summary","func":"summary = msg.payload.currently.summary;\nminute = msg.payload.minutely.summary;\nhour = msg.payload.hourly.summary;\ndaily = msg.payload.daily.summary;\n\n//Descriptions\n\n\nvar weatherMSG={ \n    payload: {'Currently': + summary}\n};\n\nreturn weatherMSG;\n\n\n/*\n    payload: {'Currently': +summary, 'Hourly': +hour, 'Daily': +daily}\n\n\nvar summarydescMSG={ \n    payload: summary\n};\n\nvar minutedescMSG={\n    payload: minute\n};\nvar hourdescMSG={\n    payload: hour\n};\nvar dailydescMSG={\n    payload: daily\n};\n\nreturn [ [summarydescMSG, minutedescMSG, hourdescMSG, dailydescMSG ] ];\n*/\n","outputs":1,"noerr":0,"x":750,"y":447,"wires":[[]]},{"id":"977f0b74.75a988","type":"comment","z":"e0994af4.69f3c8","name":"Broadcast Hourly Weather Status","info":"","x":144.1666717529297,"y":48.33333396911621,"wires":[]},{"id":"bf56bc90.6d29","type":"mqtt out","z":"51598847.36e3a8","name":"Ecobee3 Out","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":1210,"y":560,"wires":[]},{"id":"c4a813.0a1307f","type":"darksky","z":"e0994af4.69f3c8","darksky":"6607035d.6f950c","name":"Home","lon":"092.3747222","lat":"45.1416667","date":"","time":"","mode":"message","lang":"en","units":"us","x":272.3333053588867,"y":830.6666507720947,"wires":[["6410da03.5ffc84"]]},{"id":"4c4ffcd1.c64674","type":"debug","z":"e0994af4.69f3c8","name":"","active":true,"console":"false","complete":"true","x":623.1666450500488,"y":824.0000228881836,"wires":[]},{"id":"f5dbf3d9.c8bc5","type":"inject","z":"e0994af4.69f3c8","name":"Injector","topic":"weatherapi","payload":"45.1416667,092.3747222","payloadType":"str","repeat":"","crontab":"","once":false,"x":102.33332443237305,"y":835.6666522026062,"wires":[["c4a813.0a1307f"]]},{"id":"2f4ffd86.3ad532","type":"function","z":"e0994af4.69f3c8","name":"","func":"var weather=msg.payload.weather;\n\nvar weathermsg={\n    payload: weather\n};\n\nreturn weathermsg;","outputs":1,"noerr":0,"x":529.0000076293945,"y":972.7500143051147,"wires":[["4c4ffcd1.c64674"]]},{"id":"42040fe6.4c9f6","type":"json","z":"e0994af4.69f3c8","name":"","x":444.8333257039387,"y":832.3333352406819,"wires":[[]]},{"id":"ebd17d4b.629a","type":"function","z":"e0994af4.69f3c8","name":"Sunset","func":"if (msg.payload.currently.summary.length >1){ \nvar temp = msg.payload.currently.temperature;\nvar feelslike = msg.payload.currently.apparentTemperature;\nvar windspeed = msg.payload.currently.windSpeed;\nvar precipProbability = msg.payload.currently.precipProbability;\nvar precipType = msg.payload.currently.precipType;\nvar summary = msg.payload.currently.summary;\nvar sunset = msg.payload.daily.data.sunsetTime;\nvar dailyicon = msg.payload.daily.data;\nmsg.payload = {};\nmsg.payload.temp= temp;\nmsg.payload.feelslike = feelslike;\nmsg.payload.sunset = sunset;\n\nmsg2 = {};\n    msg2.payload = (\"Fuck\");\n\nreturn [msg, msg2];\n}\n\n/*\n\nif (msg.payload.currently.summary.length >1){ \n    msg.payload ={\"weather\":[{\"id\": \"summary\", \"value\": summary}]};\n    return msg;\n}\nreturn \"bad.\";\n\n\n\n\n//Descriptions\nvar tempMSG={ \n    payload: temp\n};\nvar feelslikeMSG={\n    payload: feelslike\n};\nvar windspeedMSG={\n    payload: windspeed\n};\nvar precipProbabilityMSG={\n    payload: precipProbability\n};\nvar precipTypeMSG={\n    payload: precipType\n};\n\n\nreturn [ [tempMSG, feelslikeMSG, windspeedMSG, precipProbabilityMSG, precipTypeMSG ] ];\n*/\n","outputs":1,"noerr":0,"x":720,"y":487,"wires":[[]]},{"id":"6410da03.5ffc84","type":"change","z":"e0994af4.69f3c8","name":"","rules":[{"t":"delete","p":"payload.hourly","pt":"msg"},{"t":"delete","p":"payload.minutely","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460.25000762939453,"y":892.7500133514404,"wires":[["4c4ffcd1.c64674"]]},{"id":"41aebdf4.a1de24","type":"inject","z":"e52a7c1.e42718","name":"Yahoo Finance","topic":"","payload":"x","payloadType":"str","repeat":"","crontab":"","once":false,"x":149.04762649536133,"y":1254.6189492940903,"wires":[["8bc85423.702dd8"]]},{"id":"cefce711.aa9948","type":"html","z":"e52a7c1.e42718","name":"Get Indexes","tag":"l84","ret":"html","as":"single","x":528.1905479431152,"y":1253.4761270284653,"wires":[["32604b6d.f08614"]]},{"id":"32604b6d.f08614","type":"debug","z":"e52a7c1.e42718","name":"","active":true,"console":"false","complete":"true","x":732.1903953552246,"y":1252.0476602315903,"wires":[]},{"id":"8bc85423.702dd8","type":"http request","z":"e52a7c1.e42718","name":"Market Indexes","method":"GET","ret":"txt","url":"http://finance.yahoo.com/market-overview?bypass=true","tls":"","x":345.190486907959,"y":1253.4762490987778,"wires":[["cefce711.aa9948"]]},{"id":"4dc58562.9a0bfc","type":"debug","z":"e0994af4.69f3c8","name":"","active":true,"console":"false","complete":"true","x":507.33342361450195,"y":1973.6664180755615,"wires":[]},{"id":"9826df45.2e0f1","type":"http request","z":"e0994af4.69f3c8","name":"weatherapi","method":"use","ret":"obj","url":"","tls":"","x":314.55559158325195,"y":2104.0632066726685,"wires":[["5df13515.e64e2c"]]},{"id":"d232e507.879c38","type":"function","z":"e0994af4.69f3c8","name":"Weather - Home","func":"context.global.weatherapitoken=\"8957af1085b3c3adcbd3e35c7c41d0dc\"\ncontext.global.weatherlatlong=\"45.141574, -93.374866\"\nif (context.global.weatherapi!==\"\")\n{\n var newMsg={\n \"url\":\"https://api.darksky.net/forecast/\"+context.global.weatherapitoken+\"/\"+context.global.weatherlatlong+\"?exclude=alerts,flags\",\n \"method\": \"GET\",\n headers: {\n \"Content-Type\":\"application/json;charset=UTF-8\",\n }\n };\n}\nelse {\n var newMsg={\n \"url\":\"127.0.0.1\",\n \"method\":\"GET\"\n }\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":253.25395965576172,"y":2005.9202327728271,"wires":[["9826df45.2e0f1"]]},{"id":"3eefd1a3.b2b34e","type":"inject","z":"e0994af4.69f3c8","name":"dev","topic":"weatherapi","payload":"45.1416667,092.3747222","payloadType":"str","repeat":"","crontab":"","once":false,"x":96.66668701171875,"y":2006.5554332733154,"wires":[["d232e507.879c38"]]},{"id":"5df13515.e64e2c","type":"function","z":"e0994af4.69f3c8","name":"Test Temp","func":"var outputmsg1 = [];\n\nfor (i=0;i < msg.payload.currently.length - 1;i++){\n    var currently = msg.payload.currently[i];\n    outputmsg1.push(\n        {payload: \"good job\" + currently\n        });\n}\n\nvar outputmsg2 = {payload: \"Second Msg\"};\nreturn [[ outputmsg1, outputmsg2]];","outputs":"2","noerr":0,"x":556.857120513916,"y":2129.9840812683105,"wires":[[],["673a28a.7d14fd8"]]},{"id":"2f701835.3d9ca8","type":"debug","z":"e0994af4.69f3c8","name":"","active":true,"console":"false","complete":"false","x":859.2380790710449,"y":2076.4124088287354,"wires":[]},{"id":"673a28a.7d14fd8","type":"debug","z":"e0994af4.69f3c8","name":"","active":true,"console":"false","complete":"false","x":775.3333740234375,"y":2169.333251953125,"wires":[]},{"id":"62f0774c.bb9918","type":"inject","z":"e52a7c1.e42718","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":102.5,"y":3138.75,"wires":[["fed75689.e78428"]]},{"id":"fed75689.e78428","type":"function","z":"e52a7c1.e42718","name":"books","func":"msg.payload =\n{\n  \"store\": {\n    \"book\": [\n      {\n        \"category\": \"reference\",\n        \"author\": \"Nigel Rees\",\n        \"title\": \"Sayings of the Century\",\n        \"price\": 8.95\n      },{\n        \"category\": \"fiction\",\n        \"author\": \"Evelyn Waugh\",\n        \"title\": \"Sword of Honour\",\n        \"price\": 12.99\n      },{\n        \"category\": \"fiction\",\n        \"author\": \"Herman Melville\",\n        \"title\": \"Moby Dick\",\n        \"isbn\": \"0-553-21311-3\",\n        \"price\": 8.99\n      },{\n        \"category\": \"fiction\",\n        \"author\": \"J. R. R. Tolkien\",\n        \"title\": \"The Lord of the Rings\",\n        \"isbn\": \"0-395-19395-8\",\n        \"price\": 22.99\n      }\n    ],\n    \"bicycle\": {\n      \"color\": \"red\",\n      \"price\": 19.95\n    }\n  }\n};\nvar output = [];\nfor(i=0; i<13; i++){output.push(msg);};\n\nreturn output;","outputs":"13","x":254.5,"y":3137.75,"wires":[["3faef8c5.c77288"],["5e25f228.24d55c"],["16f9b450.00625c"],["86af9771.ecc3a8"],["ed9b6c29.e84ff"],["51e5c1ac.f08c1"],["8cee64f7.f06948"],["ad7546c2.712a88"],["8627a294.a3cb3"],["9288cc6d.ad427"],["af0e20f2.a66b5"],["54c6193a.eb6958"],["b574600e.ccb5f"]]},{"id":"3faef8c5.c77288","type":"jsonpath","z":"e52a7c1.e42718","expression":"$.store.book[*].author","split":false,"name":"$.store.book[*].author","x":585.5,"y":2873.75,"wires":[["d1c8acec.1f212"]]},{"id":"d1c8acec.1f212","type":"debug","z":"e52a7c1.e42718","name":"the authors of all books in the store","active":true,"console":"false","complete":"false","x":872.5,"y":2873.75,"wires":[]},{"id":"5e25f228.24d55c","type":"jsonpath","z":"e52a7c1.e42718","expression":"$..author","split":false,"name":"$..author","x":545.5,"y":2923.75,"wires":[["1d7810de.e9a67f"]]},{"id":"1d7810de.e9a67f","type":"debug","z":"e52a7c1.e42718","name":"all authors","active":true,"console":"false","complete":"false","x":796.5,"y":2923.75,"wires":[]},{"id":"16f9b450.00625c","type":"jsonpath","z":"e52a7c1.e42718","expression":"$.store.*","split":false,"name":"$.store.*","x":541.5,"y":2973.75,"wires":[["c855e22a.68762"]]},{"id":"c855e22a.68762","type":"debug","z":"e52a7c1.e42718","name":"all things in store","active":true,"console":"false","complete":"false","x":818.5,"y":2973.75,"wires":[]},{"id":"86af9771.ecc3a8","type":"jsonpath","z":"e52a7c1.e42718","expression":"$.store..price","split":false,"name":"$.store..price","x":557.5,"y":3023.75,"wires":[["98584e68.ebda5"]]},{"id":"98584e68.ebda5","type":"debug","z":"e52a7c1.e42718","name":"the price of everything in the store","active":true,"console":"false","complete":"false","x":874.5,"y":3023.75,"wires":[]},{"id":"ed9b6c29.e84ff","type":"jsonpath","z":"e52a7c1.e42718","expression":"$..book[2]","split":false,"name":"$..book[2]","x":549.5,"y":3073.75,"wires":[["5551bbf7.c1dc94"]]},{"id":"5551bbf7.c1dc94","type":"debug","z":"e52a7c1.e42718","name":"the third book","active":true,"console":"false","complete":"false","x":810.5,"y":3073.75,"wires":[]},{"id":"51e5c1ac.f08c1","type":"jsonpath","z":"e52a7c1.e42718","expression":"$..book[(@.length-1)]","split":false,"name":"$..book[(@.length-1)]","x":585.5,"y":3123.75,"wires":[["725c3ce7.e90324"]]},{"id":"725c3ce7.e90324","type":"debug","z":"e52a7c1.e42718","name":"the last book in order","active":true,"console":"false","complete":"false","x":836.5,"y":3123.75,"wires":[]},{"id":"8cee64f7.f06948","type":"jsonpath","z":"e52a7c1.e42718","expression":"$..book[-1:]","split":false,"name":"$..book[-1:]","x":552.5,"y":3173.75,"wires":[["d39a4e77.a6998"]]},{"id":"d39a4e77.a6998","type":"debug","z":"e52a7c1.e42718","name":"the last book in order","active":true,"console":"false","complete":"false","x":832.5,"y":3173.75,"wires":[]},{"id":"ad7546c2.712a88","type":"jsonpath","z":"e52a7c1.e42718","expression":"$..book[0,1]","split":false,"name":"$..book[0,1]","x":552.5,"y":3223.75,"wires":[["9f00b875.9b8358"]]},{"id":"9f00b875.9b8358","type":"debug","z":"e52a7c1.e42718","name":"the first two books","active":true,"console":"false","complete":"false","x":823.5,"y":3223.75,"wires":[]},{"id":"8627a294.a3cb3","type":"jsonpath","z":"e52a7c1.e42718","expression":"$..book[:2]","split":false,"name":"$..book[:2]","x":548.5,"y":3273.75,"wires":[["2897a784.5213a8"]]},{"id":"2897a784.5213a8","type":"debug","z":"e52a7c1.e42718","name":"the first two books","active":true,"console":"false","complete":"false","x":822.5,"y":3273.75,"wires":[]},{"id":"9288cc6d.ad427","type":"jsonpath","z":"e52a7c1.e42718","expression":"$..book[?(@.isbn)]","split":false,"name":"$..book[?(@.isbn)]","x":572.5,"y":3323.75,"wires":[["3d9b1de6.a49772"]]},{"id":"3d9b1de6.a49772","type":"debug","z":"e52a7c1.e42718","name":"filter all books with isbn number","active":true,"console":"false","complete":"false","x":858.5,"y":3323.75,"wires":[]},{"id":"af0e20f2.a66b5","type":"jsonpath","z":"e52a7c1.e42718","expression":"$..book[?(@.price<10)]","split":false,"name":"$..book[?(@.price<10)]","x":584.5,"y":3373.75,"wires":[["5c31ba69.677334"]]},{"id":"5c31ba69.677334","type":"debug","z":"e52a7c1.e42718","name":"filter all books cheapier than 10","active":true,"console":"false","complete":"false","x":856.5,"y":3373.75,"wires":[]},{"id":"54c6193a.eb6958","type":"jsonpath","z":"e52a7c1.e42718","expression":"$..[?(@.price>19)]","split":false,"name":"$..[?(@.price>19)]","x":572.5,"y":3423.75,"wires":[["687369e.76b3998"]]},{"id":"687369e.76b3998","type":"debug","z":"e52a7c1.e42718","name":"categories with things more expensive than 19","active":true,"console":"false","complete":"false","x":903.5,"y":3423.75,"wires":[]},{"id":"b574600e.ccb5f","type":"jsonpath","z":"e52a7c1.e42718","expression":"$..*","split":false,"name":"$..*","x":535.5,"y":3473.75,"wires":[["52cf54d8.6c3d4c"]]},{"id":"52cf54d8.6c3d4c","type":"debug","z":"e52a7c1.e42718","name":"all members of JSON structure","active":true,"console":"false","complete":"false","x":859.5,"y":3473.75,"wires":[]},{"id":"3d40dd3c.a0ee72","type":"comment","z":"e52a7c1.e42718","name":"SEE ALSO","info":"1. http://goessner.net/articles/JsonPath/\n2. https://www.npmjs.org/package/JSONPath\n3. https://groups.google.com/forum/#!topic/node-red/CbWA7t3JHS4/discussion\n4. https://github.com/kmi/node-red-contrib-jsonpath","x":68.5,"y":3503.75,"wires":[]},{"id":"66846232.996bcc","type":"function","z":"e0994af4.69f3c8","name":"JSON Parse","func":"var objJson = JSON.parse(msg.payload.currently);\nnmsg.payload.temperature = objJson.temperature;\nnmsg.payload.humidity = objJson.humidity;\n//nmsg.payload.battery= objJson.bat;\n\nvar newMsg = { payload: nmsg.payload.temperature};\nreturn newMsg;\n\n\n/*return msg;”,”outputs”:1,”noerr”:0,”x”:471.25000762939453,”y”:295.0000057220459,”z”:”f3306746.0ccf98″,\n\n\n”wires”:[[“5907fe7d.a6f8″,”4b7d6b93.b48294”]]},\nreturn msg;\n*/","outputs":1,"noerr":0,"x":682.77783203125,"y":2077.777914047241,"wires":[["2f701835.3d9ca8"]]},{"id":"f5b1acb4.5252b","type":"switch","z":"e0994af4.69f3c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":""}],"checkall":"true","outputs":1,"x":515.5,"y":2259,"wires":[[]]},{"id":"25505b23.ec76c4","type":"json","z":"e0994af4.69f3c8","name":"","x":535.6110916137695,"y":2078.111166000366,"wires":[["66846232.996bcc"]]},{"id":"bab77074.9867c","type":"function","z":"e0994af4.69f3c8","name":"Sunset","func":"if (msg.payload.currently.summary.length >1){ \nvar temp = msg.payload.currently.temperature;\nvar feelslike = msg.payload.currently.apparentTemperature;\nvar windspeed = msg.payload.currently.windSpeed;\nvar precipProbability = msg.payload.currently.precipProbability;\nvar precipType = msg.payload.currently.precipType;\nvar summary = msg.payload.currently.summary;\n\nmsg.payload = {};\nmsg.payload.temp = temp;\nmsg.payload.feelslike = feelslike;\n\nmsg2 = {};\n    msg2.payload = (\"Fuck\");\n\nreturn [msg, msg2];\n}\n\n/*\n\nif (msg.payload.currently.summary.length >1){ \n    msg.payload ={\"weather\":[{\"id\": \"summary\", \"value\": summary}]};\n    return msg;\n}\nreturn \"bad.\";\n\n\n\n\n//Descriptions\nvar tempMSG={ \n    payload: temp\n};\nvar feelslikeMSG={\n    payload: feelslike\n};\nvar windspeedMSG={\n    payload: windspeed\n};\nvar precipProbabilityMSG={\n    payload: precipProbability\n};\nvar precipTypeMSG={\n    payload: precipType\n};\n\n\nreturn [ [tempMSG, feelslikeMSG, windspeedMSG, precipProbabilityMSG, precipTypeMSG ] ];\n*/\n","outputs":1,"noerr":0,"x":231.90473175048828,"y":323.0952124595642,"wires":[[]]},{"id":"c7c496e2.cad218","type":"function","z":"51598847.36e3a8","name":"Temp, Humidity JSON","func":"//BDB Ecobee3 Function\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Ecobee Code Starts Here\nvar currentTemp=\"\";\nvar currentHumidity=\"\";\nvar currentruntime=\"\";\ncontext.global.EcobeeThermostats = {};\ncontext.global.EcobeeSensors = {};\nSensorCaps = {};\nfor(i = 0; i<msg.payload.thermostatList.length; i++) \n { \n if (msg.payload.thermostatList[i].modelNumber==\"athenaSmart\")\n {\n context.global.EcobeeThermostats[msg.payload.thermostatList[i].identifier] = {\n \"name\":msg.payload.thermostatList[i].name,\n \"connected\":msg.payload.thermostatList[i].runtime.connected,\n \"actualTemperature\": msg.payload.thermostatList[i].runtime.actualTemperature,\n \"actualHumidity\": msg.payload.thermostatList[i].runtime.actualHumidity,\n \"currentruntime\": msg.payload.thermostatList[i].runtime.runtimeInterval,\n \"desiredHeat\": msg.payload.thermostatList[i].runtime.desiredHeat,\n\t\t\t\t\"desiredCool\": msg.payload.thermostatList[i].runtime.desiredCool,\n\t\t\t\t\"desiredFanMode\": msg.payload.thermostatList[i].runtime.desiredFanMode\n };\n\t\t\tcurrentTemp=msg.payload.thermostatList[i].runtime.actualTemperature/10;\n\t\t\tcurrentHumidity=msg.payload.thermostatList[i].runtime.actualHumidity;\n\t\t\tcurrentruntime=msg.payload.thermostatList[i].runtime.runtimeInterval;\n for (j=0; j<msg.payload.thermostatList[i].remoteSensors.length; j++)\n {\n var SensorName=msg.payload.thermostatList[i].remoteSensors[j].name;\n var SensorInUse=msg.payload.thermostatList[i].remoteSensors[j].inUse;\n for (z=0; z<msg.payload.thermostatList[i].remoteSensors[j].capability.length; z++)\n {\n SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id] = {\n \"type\":msg.payload.thermostatList[i].remoteSensors[j].capability[z].type,\n \"value\":msg.payload.thermostatList[i].remoteSensors[j].capability[z].value\n };\n \n if (SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id].type==\"temperature\")\n {\n var SensorTemp=SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id].value;\n }\n if (SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id].type==\"occupancy\")\n {\n var SensorOccupancy=SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id].value;\n }\n \n context.global.EcobeeSensors[msg.payload.thermostatList[i].remoteSensors[j].name] = {\n \"name\":SensorName,\n \"inUse\":SensorInUse,\n \"sensorTemp\":SensorTemp,\n \"sensorOccupancy\":SensorOccupancy\n };\n }\n }\n }\n }\n\nvar tempMsg={\n    payload: currentTemp,\n    topic: \"ecobee3\\temp\",\n    timestamp: time, \n    currentTemp: currentTemp, \n    currentHumidity: currentHumidity,\n    runtime: currentruntime*5, \n};\nvar rhMsg={\n    payload: currentHumidity,\n    topic: \"ecobee3\\rh\",\n    timestamp: time, \n    currentTemp: currentTemp, \n    currentHumidity: currentHumidity,\n    runtime: currentruntime*5, \n};\n\nreturn [ [tempMsg, rhMsg], [tempMsg], [rhMsg] ];\n\n\n","outputs":"3","noerr":0,"x":960,"y":620,"wires":[["bf56bc90.6d29"],["61bcf460.acc9ec","e3ca621.fe0baa"],["2226b5b4.630e6a"]]},{"id":"babbd4.3ab2f43","type":"inject","z":"35a8abf3.f78d44","name":"Interval update interval","topic":"setValue","payload":"{\"nodeid\" : 24, \"cmdclass\": 112, \"cmdidx\" : 111, \"value\" : 60}","payloadType":"json","repeat":"","crontab":"","once":false,"x":2700,"y":1840,"wires":[["13045ed.ab9c6a1","4dbb465e.d10228"]]},{"id":"4fb4e151.eed9d","type":"inject","z":"35a8abf3.f78d44","name":"Temp Calibration -1.8 ","topic":"setValue","payload":"{\"nodeid\" : 6, \"cmdclass\": 112, \"cmdidx\" : 201, \"value\" : -1.8}","payloadType":"json","repeat":"","crontab":"","once":false,"x":2699,"y":1801,"wires":[[]]},{"id":"83a47088.dded9","type":"inject","z":"35a8abf3.f78d44","name":"Set Motion Sensivity 4","topic":"setValue","payload":"{\"nodeid\" : 22, \"cmdclass\": 112, \"cmdidx\" : 4, \"value\" : 4}","payloadType":"json","repeat":"","crontab":"","once":false,"x":2698,"y":1762,"wires":[["13045ed.ab9c6a1"]]},{"id":"81c1cc5.681483","type":"zwave-out","z":"35a8abf3.f78d44","name":"ZWave Out","controller":"b9fb6c0.bdba398","x":470,"y":640,"wires":[]},{"id":"7e81993b.3fa458","type":"zwave-in","z":"35a8abf3.f78d44","name":"Zwave In","controller":"1f1ed968.891dd7","x":460,"y":560,"wires":[["8a235be2.bb32b8","408700b0.5bfac"]]},{"id":"8a235be2.bb32b8","type":"debug","z":"35a8abf3.f78d44","name":"","active":false,"console":"false","complete":"true","x":710,"y":420,"wires":[]},{"id":"9f3cc513.492b18","type":"mqtt in","z":"35a8abf3.f78d44","name":"","topic":"zwave/events/driver ready/#","qos":"2","broker":"35e1911a.494f1e","x":2600,"y":3020,"wires":[["5110f6a5.19ae08"]]},{"id":"ffde2024.299fc","type":"function","z":"35a8abf3.f78d44","name":"driver ready","func":"msg.payload = 'Start sccanning '+ msg.payload.id;\nreturn msg;","outputs":1,"x":2992,"y":3025.6667289733887,"wires":[[]]},{"id":"873b5bb2.c03768","type":"mqtt in","z":"35a8abf3.f78d44","name":"","topic":"zwave/events/driver failed/#","qos":"2","broker":"35e1911a.494f1e","x":2594,"y":3078.3333435058594,"wires":[["fc4f32f1.f1f7"]]},{"id":"9ab6b42f.c91558","type":"function","z":"35a8abf3.f78d44","name":"driver failed","func":"msg.payload='failed to start driver';\nreturn msg;","outputs":1,"x":3021,"y":3084.6666870117188,"wires":[[]]},{"id":"4dbf7d8d.aa8434","type":"mqtt in","z":"35a8abf3.f78d44","name":"","topic":"zwave/events/node added/#","qos":"2","broker":"35e1911a.494f1e","x":2597,"y":3138.3333435058594,"wires":[["b2d0cd8e.09b78"]]},{"id":"1de5c4e5.21d0fb","type":"function","z":"35a8abf3.f78d44","name":"node added","func":"if(!context.global.zwavenodes) context.global.zwavenodes = [];\ncontext.global.zwavenodes[msg.payload.nodeid] = {\n        \t\tnodeid : msg.payload.nodeid,\n        \t\tmanufacturer: '',\n        \t\tmanufacturerid: '',\n        \t\tproduct: '',\n        \t\tproducttype: '',\n        \t\tproductid: '',\n        \t\ttype: '',\n        \t\tname: '',\n        \t\tloc: '',\n        \t\tclasses: {},\n        \t\tready: false,\n        \t    status: '',\n    \t\t};\n    \t\t\nreturn msg;","outputs":1,"x":3039,"y":3139.6666870117188,"wires":[[]]},{"id":"a692cb56.ccf058","type":"mqtt in","z":"35a8abf3.f78d44","name":"","topic":"zwave/events/value changed/#","qos":"2","broker":"35e1911a.494f1e","x":2597,"y":3275.3333435058594,"wires":[["38ffe500.2c1ddc"]]},{"id":"763a2bad.446654","type":"function","z":"35a8abf3.f78d44","name":"value changed","func":"if (context.global.zwavenodes[msg.payload.nodeid]['ready']) {\ncontext.global.zwavenodes[msg.payload.nodeid]['classes'][msg.payload.cmdclass][msg.payload.cmdidx] = msg.payload.currState; \n}\nreturn msg;","outputs":1,"x":3040,"y":3270.666717529297,"wires":[[]]},{"id":"2c7f46c4.8479ca","type":"function","z":"35a8abf3.f78d44","name":"node ready","func":"context.global.zwavenodes[msg.payload.nodeid]['manufacturer']= msg.payload.nodeinfo.manufacturer;\ncontext.global.zwavenodes[msg.payload.nodeid]['manufacturerid'] = msg.payload.nodeinfo.manufacturerid;\ncontext.global.zwavenodes[msg.payload.nodeid]['product'] = msg.payload.nodeinfo.product;\ncontext.global.zwavenodes[msg.payload.nodeid]['producttype'] = msg.payload.nodeinfo.producttype;\ncontext.global.zwavenodes[msg.payload.nodeid]['productid'] = msg.payload.nodeinfo.productid;\ncontext.global.zwavenodes[msg.payload.nodeid]['type'] = msg.payload.nodeinfo.type;\ncontext.global.zwavenodes[msg.payload.nodeid]['name'] = msg.payload.nodeinfo.name;\ncontext.global.zwavenodes[msg.payload.nodeid]['loc'] = msg.payload.nodeinfo.loc;\ncontext.global.zwavenodes[msg.payload.nodeid]['ready'] = true;\nreturn msg;\n","outputs":1,"x":3057,"y":3393.3333740234375,"wires":[[]]},{"id":"897f15a4.135278","type":"mqtt in","z":"35a8abf3.f78d44","name":"","topic":"zwave/events/node ready/#","qos":"2","broker":"35e1911a.494f1e","x":2611,"y":3390.3333740234375,"wires":[["f0343e51.b1e82"]]},{"id":"52195e7e.1ea85","type":"function","z":"35a8abf3.f78d44","name":"notification","func":"/*\n\ncontext.global.zwavenodes[msg.payload.nodeid]['status']=msg.payload.notification;\nreturn msg;\n\n*/","outputs":1,"noerr":0,"x":3548.8095207214355,"y":3589.380967617035,"wires":[[]]},{"id":"48a3d106.1b7b5","type":"mqtt in","z":"35a8abf3.f78d44","name":"","topic":"zwave/notification/#","qos":"2","broker":"35e1911a.494f1e","x":3192,"y":3625.6667289733887,"wires":[["980b67c2.aee188","f23efba.71e6f08"]]},{"id":"43a3cc50.18c274","type":"function","z":"35a8abf3.f78d44","name":"scan complete","func":"msg.payload=\"Scan complete\"\n\nreturn msg;","outputs":1,"x":3062,"y":3507,"wires":[[]]},{"id":"d847a43c.69a778","type":"mqtt in","z":"35a8abf3.f78d44","name":"","topic":"zwave/events/scan complete/#","qos":"2","broker":"35e1911a.494f1e","x":2620,"y":3510,"wires":[["c44f83ba.8b888"]]},{"id":"5110f6a5.19ae08","type":"json","z":"35a8abf3.f78d44","name":"","x":2831,"y":3021,"wires":[["ffde2024.299fc"]]},{"id":"fc4f32f1.f1f7","type":"json","z":"35a8abf3.f78d44","name":"","x":2832,"y":3081,"wires":[["9ab6b42f.c91558"]]},{"id":"b2d0cd8e.09b78","type":"json","z":"35a8abf3.f78d44","name":"","x":2824,"y":3141,"wires":[["1de5c4e5.21d0fb"]]},{"id":"38ffe500.2c1ddc","type":"json","z":"35a8abf3.f78d44","name":"","x":2814,"y":3276,"wires":[["763a2bad.446654"]]},{"id":"f0343e51.b1e82","type":"json","z":"35a8abf3.f78d44","name":"","x":2833,"y":3388,"wires":[["2c7f46c4.8479ca"]]},{"id":"980b67c2.aee188","type":"json","z":"35a8abf3.f78d44","name":"","x":3352,"y":3585.6667289733887,"wires":[["52195e7e.1ea85"]]},{"id":"c44f83ba.8b888","type":"json","z":"35a8abf3.f78d44","name":"","x":2837,"y":3514,"wires":[["43a3cc50.18c274"]]},{"id":"9b15ac1d.fcfa","type":"mqtt in","z":"35a8abf3.f78d44","name":"","topic":"zwave/events/value added/#","qos":"2","broker":"35e1911a.494f1e","x":2600,"y":3200,"wires":[["91b42ed5.cf6c3"]]},{"id":"dbf9f9e9.9b2768","type":"function","z":"35a8abf3.f78d44","name":"value added","func":"if (!context.global.zwavenodes[msg.payload.nodeid]['classes'][msg.payload.cmdclass])\n     context.global.zwavenodes[msg.payload.nodeid]['classes'][msg.payload.cmdclass] = {};\ncontext.global.zwavenodes[msg.payload.nodeid]['classes'][msg.payload.cmdclass][msg.payload.cmdidx] = msg.payload.currState;\n\nreturn msg;","outputs":1,"x":3041,"y":3197.3333740234375,"wires":[[]]},{"id":"91b42ed5.cf6c3","type":"json","z":"35a8abf3.f78d44","name":"","x":2828,"y":3205.6666564941406,"wires":[["dbf9f9e9.9b2768"]]},{"id":"55055940.faf8e8","type":"mqtt in","z":"35a8abf3.f78d44","name":"","topic":"zwave/events/value removed/#","qos":"2","broker":"35e1911a.494f1e","x":2608,"y":3335,"wires":[["db183610.0c5468"]]},{"id":"3313aee3.ffd2a2","type":"function","z":"35a8abf3.f78d44","name":"value removed","func":"if (context.global.zwavenodes[msg.payload.nodeid]['classes'][msg.payload.cmdclass] &&\n    context.global.zwavenodes[msg.payload.nodeid]['classes'][msg.payload.cmdclass][msg.payload.cmdidx])\n        delete context.global.zwavenodes[msg.payload.nodeid]['classes'][msg.payload.cmdclass][msg.payload.cmdidx];\n\nreturn msg;","outputs":1,"x":3035,"y":3338.3333740234375,"wires":[[]]},{"id":"db183610.0c5468","type":"json","z":"35a8abf3.f78d44","name":"","x":2823,"y":3335.6666564941406,"wires":[["3313aee3.ffd2a2"]]},{"id":"e0d5c1b9.7d01a","type":"inject","z":"35a8abf3.f78d44","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":2572,"y":3574,"wires":[["fcf0b80.247b948"]]},{"id":"fcf0b80.247b948","type":"function","z":"35a8abf3.f78d44","name":"delete context.global.zwavenodes","func":"delete context.global.zwavenodes;\nreturn msg;","outputs":1,"x":2827,"y":3576,"wires":[[]]},{"id":"5ecd6c64.5fbee4","type":"switch","z":"35a8abf3.f78d44","name":"Multisensor6","property":"payload.label","propertyType":"msg","rules":[{"t":"eq","v":"Luminance","vt":"str"},{"t":"eq","v":"Ultraviolet","vt":"str"},{"t":"eq","v":"Temperature","vt":"str"},{"t":"eq","v":"Relative Humidity","vt":"str"},{"t":"eq","v":"Battery Level","vt":"str"},{"t":"eq","v":"Vibration","vt":"str"},{"t":"eq","v":"Alarm Level","vt":"str"},{"t":"eq","v":"Alarm Type","vt":"str"},{"t":"eq","v":"Burglar","vt":"str"}],"checkall":"true","outputs":9,"x":730,"y":1680,"wires":[["315cd05b.6f5e1","377b5908.695fc6"],["b3d7e12.80eee2","e7d452df.ee023"],["30a6a7e5.c47078"],["eb92cf31.bec7d"],["a836a0a6.a7afd","65a9cf7b.e3b7d"],["a309ffb4.78294"],["79ae45ba.09d07c"],["ee8d6981.1d5ad8"],["5220aa9.32f7b54"]]},{"id":"315cd05b.6f5e1","type":"template","z":"35a8abf3.f78d44","name":"Display Lux","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Luminance is now {{payload.value.value}}","x":1021.25,"y":2212.75,"wires":[["a335be90.1509f"]]},{"id":"377b5908.695fc6","type":"template","z":"35a8abf3.f78d44","name":"Log Lux","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}}  {{payload.value.value}}","x":1011.25,"y":1412.75,"wires":[["fde4cc99.b85b3"]]},{"id":"d8a7dc28.18c5e","type":"inject","z":"35a8abf3.f78d44","name":"Turn Off","topic":"switchOff","payload":"{\"nodeid\" :2}","payloadType":"json","repeat":"","crontab":"","once":false,"x":204.92843627929688,"y":758.0119333267212,"wires":[["81c1cc5.681483"]]},{"id":"da0d23e2.1c9e5","type":"inject","z":"35a8abf3.f78d44","name":"Add Node","topic":"addNode","payload":"{\"nodeid\": 19, \"true\" : true}","payloadType":"json","repeat":"","crontab":"","once":false,"x":200,"y":480,"wires":[["81c1cc5.681483","5a492f05.952fc"]]},{"id":"cb6a1d26.9762","type":"bigtimer","z":"35a8abf3.f78d44","outtopic":"porch","outpayload1":"ON","outpayload2":"OFF","name":"Evening","lat":"45.0830","lon":"-93.2229","starttime":"5004","endtime":"1395","startoff":"0","endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":true,"repeat":false,"atstart":true,"odd":false,"even":false,"x":258.7857360839844,"y":115.21421813964844,"wires":[["35dc1285.487e9e","e99ac862.bd9198"],[],[]]},{"id":"976315af.14d6c8","type":"inject","z":"35a8abf3.f78d44","name":"On","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":120,"wires":[["cb6a1d26.9762"]]},{"id":"98584f9f.f6ff2","type":"inject","z":"35a8abf3.f78d44","name":"Off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":160,"wires":[["cb6a1d26.9762"]]},{"id":"8bd849f0.dbaf78","type":"inject","z":"35a8abf3.f78d44","name":"Default","topic":"","payload":"default","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":200,"wires":[["cb6a1d26.9762"]]},{"id":"35dc1285.487e9e","type":"function","z":"35a8abf3.f78d44","name":"On or Off","func":"var count;\nif (msg.payload ==\"ON\"){\nreturn {topic:\"switchOn\", payload:\"{\\\"nodeid\\\":4}\"};}\nelse if (msg.payload ==\"OFF\"){\nreturn {topic:\"switchOff\", payload:\"{\\\"nodeid\\\":4}\"};\n}\nelse {\nreturn {topic:\"blank\", payload:\"boom\"};\n}","outputs":1,"noerr":0,"x":453.57147216796875,"y":152.42864990234375,"wires":[["e53b5a72.1a3e98"]]},{"id":"284326d2.0a09ca","type":"comment","z":"35a8abf3.f78d44","name":"Node 4: Porch Routine","info":"","x":105,"y":57.14281368255615,"wires":[]},{"id":"22dd9b76.18ab04","type":"inject","z":"35a8abf3.f78d44","name":"Kitchen 75%","topic":"setValue","payload":"{\"nodeid\":5, \"cmdclass\":38, \"value\":75}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1850,"y":220,"wires":[["5d8ca477.46b23c"]]},{"id":"7ab65a54.86f544","type":"inject","z":"35a8abf3.f78d44","name":"Kitchen 100%","topic":"setValue","payload":"{\"nodeid\":5, \"cmdclass\":38, \"value\":99}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1850,"y":180,"wires":[["5d8ca477.46b23c"]]},{"id":"91056f6a.3ad33","type":"inject","z":"35a8abf3.f78d44","name":"Kitchen 25%","topic":"setValue","payload":"{\"nodeid\":5, \"cmdclass\":38, \"value\":25}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1850,"y":300,"wires":[["5d8ca477.46b23c"]]},{"id":"20a329e8.f9e9c6","type":"mqtt in","z":"35a8abf3.f78d44","name":"setValue","topic":"setValue","qos":"2","broker":"35e1911a.494f1e","x":207.64275741577148,"y":653.0357360839844,"wires":[["81c1cc5.681483"]]},{"id":"5d8ca477.46b23c","type":"mqtt out","z":"35a8abf3.f78d44","name":"5) Kitchen Out","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":2120,"y":220,"wires":[]},{"id":"d7842a27.e3d498","type":"inject","z":"35a8abf3.f78d44","name":"Kitchen 50%","topic":"setValue","payload":"{\"nodeid\":5, \"cmdclass\":38, \"value\":50}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1850,"y":260,"wires":[["5d8ca477.46b23c"]]},{"id":"a2f1ab0d.dee848","type":"comment","z":"35a8abf3.f78d44","name":"Node 5: Kitchen Island","info":"","x":1880,"y":40,"wires":[]},{"id":"e53b5a72.1a3e98","type":"mqtt out","z":"35a8abf3.f78d44","name":"4) Porch Out","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":623.5,"y":152,"wires":[]},{"id":"7d0d40b2.a9c7","type":"mqtt in","z":"35a8abf3.f78d44","name":"switchOn","topic":"switchOn","qos":"2","broker":"35e1911a.494f1e","x":206.64275741577148,"y":543.0357341766357,"wires":[["81c1cc5.681483"]]},{"id":"ca6619a3.026fc8","type":"mqtt in","z":"35a8abf3.f78d44","name":"switchOff","topic":"switchOff","qos":"2","broker":"35e1911a.494f1e","x":208.14275741577148,"y":598.0357351303101,"wires":[["81c1cc5.681483"]]},{"id":"ccaad4f2.e28ca8","type":"comment","z":"35a8abf3.f78d44","name":"Aeon Labs Multi Sensor 6","info":"","x":2680.6904792785645,"y":1717.2857613563538,"wires":[]},{"id":"2ed887c9.daef08","type":"ui_slider","z":"35a8abf3.f78d44","name":"6) Dinning Room","label":"Dinning Room","group":"b3dca72a.7d4f78","order":4,"width":0,"height":0,"passthru":true,"topic":"dimmer","min":0,"max":"100","step":1,"x":2570,"y":100,"wires":[["9a70ede3.57989"]]},{"id":"9a70ede3.57989","type":"function","z":"35a8abf3.f78d44","name":"setValue","func":"var dimmer=msg.payload;\n\nvar dimmerMSG={ \n    topic: 'setValue',\n    payload: {'nodeid':6, 'cmdclass':38, 'value': +dimmer}\n};\n\n\n/*\n\"{\"nodeid\":5, \"cmdclass\":38, \"value\":99}\"\n    payload: {\"nodeid 5 cmdclass test + dimmer\"    \n};\n*/\n\nreturn dimmerMSG;\n\n","outputs":1,"noerr":0,"x":2753.142822265625,"y":99.4285888671875,"wires":[["b75e6361.7922a"]]},{"id":"b6cea829.4ef468","type":"bigtimer","z":"35a8abf3.f78d44","outtopic":"setaeon","outpayload1":"five","outpayload2":"twohrs","name":"Set Lux Sensor Interval","lat":"45.0941315","lon":"-93.35634049999999","starttime":5001,"endtime":"5005","startoff":"60","endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"x":2942.6904907226562,"y":1722.7857666015625,"wires":[[],[],[]]},{"id":"b75e6361.7922a","type":"mqtt out","z":"35a8abf3.f78d44","name":"6) Dinning Out","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":2953.142822265625,"y":199.4285888671875,"wires":[]},{"id":"7279b522.b2c55c","type":"ui_slider","z":"35a8abf3.f78d44","name":"5) Island","label":"Kitchen Isld","group":"b3dca72a.7d4f78","order":1,"width":0,"height":0,"passthru":true,"topic":"kitchen","min":0,"max":"100","step":1,"x":1720,"y":420,"wires":[["b8cc0c74.2d81c"]]},{"id":"655848a9.979458","type":"comment","z":"35a8abf3.f78d44","name":"Node 6: Dinning Room","info":"","x":2578,"y":54,"wires":[]},{"id":"b8cc0c74.2d81c","type":"function","z":"35a8abf3.f78d44","name":"setValue","func":"var kitchenisld=msg.payload;\n\n\nvar kitchenisldMSG={ \n    topic: 'setValue',\n    payload: {'nodeid':5, 'cmdclass':38, 'value': +kitchenisld}\n};\n\nreturn kitchenisldMSG;\n\n","outputs":1,"noerr":0,"x":1860,"y":420,"wires":[["5d8ca477.46b23c"]]},{"id":"c026a8cd.503ec8","type":"comment","z":"35a8abf3.f78d44","name":"Node 7: Living Room","info":"","x":3460,"y":60,"wires":[]},{"id":"9c0448e1.32c518","type":"mqtt out","z":"35a8abf3.f78d44","name":"7) Living Room","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":3820,"y":120,"wires":[]},{"id":"942792b.6cd237","type":"function","z":"35a8abf3.f78d44","name":"setValue","func":"var dimmer=msg.payload;\n\nvar dimmerMSG={ \n    topic: 'setValue',\n    payload: {'nodeid':7, 'cmdclass':38, 'value': +dimmer}\n};\n\nreturn dimmerMSG;\n\n","outputs":1,"noerr":0,"x":3640,"y":120,"wires":[["9c0448e1.32c518"]]},{"id":"dfda0c8.128a4f","type":"ui_slider","z":"35a8abf3.f78d44","name":"7) Living Room","label":"Living Room","group":"b3dca72a.7d4f78","order":5,"width":0,"height":0,"passthru":true,"topic":"dimmer","min":0,"max":"100","step":1,"x":3440,"y":120,"wires":[["942792b.6cd237"]]},{"id":"bc8e00b.8eb0f","type":"ui_button","z":"35a8abf3.f78d44","name":"4) Porch 1","group":"a25807df.e4eb88","order":1,"width":0,"height":0,"label":"Porch On","color":"","bgcolor":"","icon":"","payload":"{\"nodeid\" : 4}","payloadType":"json","topic":"switchOn","x":459.2857131958008,"y":194.28570556640625,"wires":[["e53b5a72.1a3e98"]]},{"id":"24384465.533fac","type":"ui_button","z":"35a8abf3.f78d44","name":"4) Porch 0","group":"a25807df.e4eb88","order":2,"width":0,"height":0,"label":"Porch Off","color":"","bgcolor":"","icon":"","payload":"{\"nodeid\" : 4}","payloadType":"json","topic":"switchOff","x":460,"y":235.71429443359375,"wires":[["e53b5a72.1a3e98"]]},{"id":"ab60365f.0bbcd8","type":"inject","z":"35a8abf3.f78d44","name":"getNodeStatistics","topic":"getNodeStatistics","payload":"{\"args\": [19]}","payloadType":"json","repeat":"","crontab":"","once":false,"x":178.89275360107422,"y":797.0357284545898,"wires":[["81c1cc5.681483","625d0f9.6f333f"]]},{"id":"13045ed.ab9c6a1","type":"mqtt out","z":"35a8abf3.f78d44","name":"setValue","topic":"setValue","qos":"","retain":"","broker":"35e1911a.494f1e","x":2929.619062151228,"y":1800.857195172991,"wires":[]},{"id":"4dbb465e.d10228","type":"debug","z":"35a8abf3.f78d44","name":"","active":true,"console":"false","complete":"true","x":2904.6904907226562,"y":1867.2857666015625,"wires":[]},{"id":"99201fff.5f26d","type":"mongodb out","z":"35a8abf3.f78d44","mongodb":"940bff07.1e8e3","name":"Lighting","collection":"Lighting","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1400,"y":1420,"wires":[]},{"id":"4bd89223.2eda5c","type":"debug","z":"35a8abf3.f78d44","name":"","active":true,"console":"false","complete":"true","x":1336.2499694824219,"y":2331.7499828338623,"wires":[]},{"id":"b3f90db3.17ce3","type":"mqtt out","z":"35a8abf3.f78d44","name":"zwave/lux","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":1400,"y":1360,"wires":[]},{"id":"2a4ed1a5.b2ba0e","type":"ui_chart","z":"35a8abf3.f78d44","name":"Basement Lux","group":"60f617d7.b95848","order":3,"width":0,"height":0,"label":"Basement Lux","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"48","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":3647.1429557800293,"y":556.4285707473755,"wires":[[],[]]},{"id":"fde4cc99.b85b3","type":"function","z":"35a8abf3.f78d44","name":"Format Lux","func":"var count;\nvar luminance = msg.payload;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Format Message\n\nreturn {topic:\"zwave/lux/main\", payload: luminance, timestamp: time, lux: luminance};\n","outputs":"1","noerr":0,"x":1221.25,"y":1412.75,"wires":[["b3f90db3.17ce3","8561f420.028ab8","e5bae0e1.43fc7","99201fff.5f26d"]]},{"id":"65a9cf7b.e3b7d","type":"template","z":"35a8abf3.f78d44","name":"Display Battery","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Battery is now {{payload.value.value}}","x":1031.25,"y":2332.75,"wires":[["4bd89223.2eda5c"]]},{"id":"1957e4ca.66f35b","type":"mqtt out","z":"35a8abf3.f78d44","name":"zwave","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":1090,"y":520,"wires":[]},{"id":"b6e66573.a643f8","type":"mqtt in","z":"35a8abf3.f78d44","name":"zwave/update","topic":"zwave/update","qos":"2","broker":"35e1911a.494f1e","x":130,"y":3340,"wires":[["8ccdc2c4.c9219"]]},{"id":"5d6422eb.724dfc","type":"switch","z":"35a8abf3.f78d44","name":"Nodeid","property":"payload.nodeid","propertyType":"msg","rules":[{"t":"eq","v":"22","vt":"num"},{"t":"eq","v":"24","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"}],"checkall":"true","outputs":6,"x":440,"y":3340,"wires":[["5ecd6c64.5fbee4"],["b4ebf13e.bb4b3"],["b4719db6.a939a"],["1404ec35.5a56d4"],["e66cb762.d12078"],["98eaf8e6.616b88"]]},{"id":"3fbbfbd6.4d5d34","type":"comment","z":"35a8abf3.f78d44","name":"Node 22: Great Room Multisensor","info":"","x":820,"y":1140,"wires":[]},{"id":"408700b0.5bfac","type":"switch","z":"35a8abf3.f78d44","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"zwave: value changed","vt":"str"},{"t":"eq","v":"zwave: notification","vt":"str"},{"t":"eq","v":"zwave: node event","vt":"str"},{"t":"eq","v":"zwave: node ready","vt":"str"},{"t":"else"}],"checkall":"true","outputs":5,"x":670,"y":560,"wires":[["f5ef294b.1ad838"],["5b00aafb.33a314"],["3dd90a14.aa4246"],["ded28118.1165"],["5701e7d8.911bd8"]]},{"id":"f5ef294b.1ad838","type":"template","z":"35a8abf3.f78d44","name":"zwave/update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"zwave/update","x":880,"y":480,"wires":[["1957e4ca.66f35b","401d4474.e5dfbc"]]},{"id":"5a374e84.c20c6","type":"debug","z":"e52a7c1.e42718","name":"","active":true,"console":"false","complete":"false","x":1466.25,"y":4456.25,"wires":[]},{"id":"57c27c4d.5818d4","type":"inject","z":"e52a7c1.e42718","name":"","topic":"","payload":"welcome","payloadType":"str","repeat":"","crontab":"","once":false,"x":1096.25,"y":4436.25,"wires":[["cf6779a8.719438"]]},{"id":"cf6779a8.719438","type":"ui_template","z":"e52a7c1.e42718","group":"8a9293ac.4ad11","name":"testing payload","order":0,"width":"0","height":"0","format":"<h3>Testing dynamic scripts with Dashboard 2.0</h3>\n{{msg.payload}}\n<script>\n    (function(scope) {\n        console.log('Position 1');\n        console.dir(scope);\n        console.log(scope.msg);\n        scope.$watch('msg.payload', function(data) {\n            console.log('Position 2');\n            console.dir(data);\n        });\n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"x":1296.25,"y":4456.25,"wires":[["5a374e84.c20c6"]]},{"id":"7dbd6bf2.1b52a4","type":"inject","z":"e52a7c1.e42718","name":"","topic":"","payload":"not welcome","payloadType":"str","repeat":"","crontab":"","once":false,"x":1106.25,"y":4476.25,"wires":[["cf6779a8.719438"]]},{"id":"f3e5c96e.5fd508","type":"mqtt in","z":"35a8abf3.f78d44","name":"setLevel","topic":"setLevel","qos":"2","broker":"35e1911a.494f1e","x":208.89275741577148,"y":702.0357360839844,"wires":[["81c1cc5.681483"]]},{"id":"e7d452df.ee023","type":"template","z":"35a8abf3.f78d44","name":"Display UV","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Ultraviolet is now {{payload.value.value}}","x":1021.25,"y":2272.75,"wires":[[]]},{"id":"30a6a7e5.c47078","type":"template","z":"35a8abf3.f78d44","name":"Log Temp","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}}  {{payload.value.value}}","x":1000,"y":1580,"wires":[["c4af91f5.33d27"]]},{"id":"eb92cf31.bec7d","type":"template","z":"35a8abf3.f78d44","name":"Log Humidity","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}}  {{payload.value.value}}","x":1033.7500305175781,"y":1778.7500171661377,"wires":[["9d3e98f8.724418"]]},{"id":"a309ffb4.78294","type":"template","z":"35a8abf3.f78d44","name":"Log Vibration","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}}  {{payload.value.value}}","x":1021.25,"y":1952.75,"wires":[[]]},{"id":"a836a0a6.a7afd","type":"template","z":"35a8abf3.f78d44","name":"Log Battery","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}}  {{payload.value.value}}","x":1021.25,"y":1892.75,"wires":[["619d7967.dd28e8"]]},{"id":"b3d7e12.80eee2","type":"template","z":"35a8abf3.f78d44","name":"Log UV","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}}  {{payload.value.value}}","x":1020,"y":1500,"wires":[["9f004f83.7fe4b"]]},{"id":"9f004f83.7fe4b","type":"function","z":"35a8abf3.f78d44","name":"Format UV","func":"var uv = msg.payload;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Format Message\n\nreturn {topic:\"zwave/uv/main\", payload: uv, timestamp: time, ultraviolet: uv};\n","outputs":"1","noerr":0,"x":1210,"y":1500,"wires":[["a09ebdf9.82a25"]]},{"id":"a09ebdf9.82a25","type":"mqtt out","z":"35a8abf3.f78d44","name":"zwave/uv/main","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":1420,"y":1500,"wires":[]},{"id":"d493a5ea.989ed8","type":"ui_chart","z":"35a8abf3.f78d44","name":"Basement UV","group":"60f617d7.b95848","order":6,"width":0,"height":0,"label":"Basement UV","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"-25","ymax":"25","removeOlder":"48","removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"x":3676.6668014526367,"y":748.7500123977661,"wires":[[],[]]},{"id":"619d7967.dd28e8","type":"function","z":"35a8abf3.f78d44","name":"Format Battery","func":"var battery = msg.payload;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Format Message\n\n\nreturn {topic:\"zwave/battery/node22\", payload: battery, timestamp: time, batstatus: battery};\n","outputs":"1","noerr":0,"x":1229.2499694824219,"y":1893.4999828338623,"wires":[["76583db0.01f9d4","68b33dae.61c504"]]},{"id":"76583db0.01f9d4","type":"ui_gauge","z":"35a8abf3.f78d44","name":"Node22: Battery Status","group":"344e1fb3.04256","order":2,"width":0,"height":0,"gtype":"gage","title":"Node22 Battery Status","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":1451.25,"y":1891.5,"wires":[]},{"id":"5b00aafb.33a314","type":"template","z":"35a8abf3.f78d44","name":"zwave/notification","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"zwave/notification","x":890,"y":520,"wires":[["1957e4ca.66f35b"]]},{"id":"3dd90a14.aa4246","type":"template","z":"35a8abf3.f78d44","name":"zwave/event","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"zwave/event","x":870,"y":560,"wires":[["1957e4ca.66f35b"]]},{"id":"f23efba.71e6f08","type":"debug","z":"35a8abf3.f78d44","name":"","active":false,"console":"false","complete":"true","x":3368.8095207214355,"y":3669.380967617035,"wires":[]},{"id":"79ae45ba.09d07c","type":"template","z":"35a8abf3.f78d44","name":"Log Alarm Level","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}}  {{payload.value.value}}","x":1031.25,"y":2012.75,"wires":[["1788499f.fb7ba6"]]},{"id":"ee8d6981.1d5ad8","type":"template","z":"35a8abf3.f78d44","name":"Log Alarm Type","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}}  {{payload.value.value}}","x":1031.25,"y":2072.75,"wires":[["7f285a3.146f0a4"]]},{"id":"5220aa9.32f7b54","type":"template","z":"35a8abf3.f78d44","name":"Log Burglar","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}}  {{payload.value.value}}","x":1021.25,"y":2132.75,"wires":[["4a48b768.5cf828"]]},{"id":"4a48b768.5cf828","type":"function","z":"35a8abf3.f78d44","name":"Format Burglar","func":"var burglar = msg.payload;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Format Message\n\nif (msg.payload >= 0){\nreturn {topic:\"zwave/main/burglar\", payload: burglar, timestamp: time, alarm: burglar};}\nelse {\nreturn {topic:\"zwave/main/burglar\", payload:\"Main Floor Burglar Alarm go boom\", timestamp: time};\n}\nreturn msg;","outputs":"1","noerr":0,"x":1226.2499694824219,"y":2131.7499828338623,"wires":[["262d03ca.889f6c"]]},{"id":"262d03ca.889f6c","type":"debug","z":"35a8abf3.f78d44","name":"","active":false,"console":"false","complete":"true","x":1436.2499694824219,"y":2071.7499828338623,"wires":[]},{"id":"7f285a3.146f0a4","type":"function","z":"35a8abf3.f78d44","name":"Format Alarm Type","func":"var alarmtyp = msg.payload;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Format Message\n\nif (msg.payload >= 0){\nreturn {topic:\"zwave/main/alarmtype\", payload: alarmtyp, timestamp: time, alarmtype: alarmtyp};}\nelse {\nreturn {topic:\"zwave/main/alarmtype\", payload:\"Alarm Type go boom\", timestamp: time};\n}\nreturn msg;","outputs":"1","noerr":0,"x":1236.2499694824219,"y":2071.7499828338623,"wires":[["262d03ca.889f6c"]]},{"id":"1788499f.fb7ba6","type":"function","z":"35a8abf3.f78d44","name":"Format Alarm Level","func":"var alarmlvl = msg.payload;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Format Message\n\nif (msg.payload >= 0){\nreturn {topic:\"zwave/main/alarmlvl\", payload: alarmlvl, timestamp: time, alarmlevel: alarmlvl};}\nelse {\nreturn {topic:\"zwave/main/alarmlvl\", payload:\"Main Floor Alarm Level go boom\", timestamp: time};\n}\nreturn msg;","outputs":"1","noerr":0,"x":1237.4999694824219,"y":2013.2499828338623,"wires":[["262d03ca.889f6c"]]},{"id":"8ccdc2c4.c9219","type":"json","z":"35a8abf3.f78d44","name":"","x":290,"y":3340,"wires":[["5d6422eb.724dfc"]]},{"id":"9c19b369.2971d","type":"mongodb out","z":"35a8abf3.f78d44","mongodb":"940bff07.1e8e3","name":"HVAC","collection":"HVAC","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1387,"y":1625.5,"wires":[]},{"id":"c4af91f5.33d27","type":"function","z":"35a8abf3.f78d44","name":"Format Temp","func":"var tempvalue = msg.payload;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Format Message\n\nreturn {topic:\"zwave/temp/main\", payload: tempvalue, timestamp: time, temp: tempvalue};\n","outputs":"1","noerr":0,"x":1210,"y":1580,"wires":[["9c19b369.2971d","8f35562a.75e398"]]},{"id":"9d3e98f8.724418","type":"function","z":"35a8abf3.f78d44","name":"Format RH","func":"var rhvalue = msg.payload;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Format Message\nreturn {topic:\"zwave/rh/main\", payload: rhvalue, timestamp: time, humidity: rhvalue};\n","outputs":"1","noerr":0,"x":1223.7500305175781,"y":1778.7500171661377,"wires":[["89bfd0b7.32e29","f5eca92f.318d18"]]},{"id":"2fc2743d.3ec6cc","type":"debug","z":"e0994af4.69f3c8","name":"","active":true,"console":"false","complete":"true","x":871.428581237793,"y":39.99999952316284,"wires":[]},{"id":"eab16ffc.b95a3","type":"bigtimer","z":"35a8abf3.f78d44","outtopic":"avrack","outpayload1":"ON","outpayload2":"OFF","name":"AV Rack","lat":"45.0941315","lon":"-93.35634049999999","starttime":"960","endtime":"75","startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":"1","w1":"1","d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"x":1020,"y":180,"wires":[["2a658555.0c9d7a"],[],[]]},{"id":"257bfdbc.0015e2","type":"inject","z":"35a8abf3.f78d44","name":"On","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":836.0000152587891,"y":114.78575706481934,"wires":[["eab16ffc.b95a3"]]},{"id":"a25baf0b.510e9","type":"inject","z":"35a8abf3.f78d44","name":"Off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"x":830.6428451538086,"y":161.92853021621704,"wires":[["eab16ffc.b95a3"]]},{"id":"7dc2e5fb.07cd5c","type":"inject","z":"35a8abf3.f78d44","name":"Default","topic":"","payload":"default","payloadType":"str","repeat":"","crontab":"","once":false,"x":831.3571319580078,"y":210.50000095367432,"wires":[["eab16ffc.b95a3"]]},{"id":"2a658555.0c9d7a","type":"function","z":"35a8abf3.f78d44","name":"On or Off","func":"var count;\nif (msg.payload ==\"ON\"){\nreturn {topic:\"switchOn\", payload:\"{\\\"nodeid\\\":2}\"};}\nelse if (msg.payload ==\"OFF\"){\nreturn {topic:\"switchOff\", payload:\"{\\\"nodeid\\\":2}\"};\n}\nelse {\nreturn {topic:\"blank\", payload:\"boom\"};\n}","outputs":1,"noerr":0,"x":1160,"y":100,"wires":[["169d0fe8.9e4a4"]]},{"id":"156b10c7.38b54f","type":"comment","z":"35a8abf3.f78d44","name":"Node 2: AV","info":"","x":819.2142639160156,"y":71.92859649658203,"wires":[]},{"id":"6d2e9f00.978ce","type":"mqtt out","z":"35a8abf3.f78d44","name":"2) AV Out","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":1380,"y":220,"wires":[]},{"id":"5b37a42f.4f40bc","type":"ui_button","z":"35a8abf3.f78d44","name":"2) AV 1","group":"a25807df.e4eb88","order":3,"width":0,"height":0,"label":"AV On","color":"","bgcolor":"","icon":"","payload":"{\"nodeid\" : 2}","payloadType":"json","topic":"switchOn","x":1200,"y":200,"wires":[["6d2e9f00.978ce"]]},{"id":"3b7c3edb.9b3e32","type":"ui_button","z":"35a8abf3.f78d44","name":"2) AV 0","group":"a25807df.e4eb88","order":4,"width":0,"height":0,"label":"AV Off","color":"","bgcolor":"","icon":"","payload":"{\"nodeid\" : 2}","payloadType":"json","topic":"switchOff","x":1200,"y":240,"wires":[["6d2e9f00.978ce"]]},{"id":"625d0f9.6f333f","type":"debug","z":"35a8abf3.f78d44","name":"","active":true,"console":"false","complete":"true","x":468.8927536010742,"y":797.0357284545898,"wires":[]},{"id":"e673d7a8.6f9568","type":"inject","z":"35a8abf3.f78d44","name":"enablePoll","topic":"enablePoll","payload":"{\"args\": [24, 37]}","payloadType":"json","repeat":"","crontab":"","once":false,"x":208.89275360107422,"y":857.0357284545898,"wires":[["81c1cc5.681483","625d0f9.6f333f"]]},{"id":"169d0fe8.9e4a4","type":"debug","z":"35a8abf3.f78d44","name":"","active":true,"console":"false","complete":"true","x":1370,"y":100,"wires":[]},{"id":"7e8857d6.fd7758","type":"inject","z":"35a8abf3.f78d44","name":"Interval update interval","topic":"setValue","payload":"{\"nodeid\" :24, \"cmdclass\": 134}","payloadType":"json","repeat":"","crontab":"","once":false,"x":2700,"y":1900,"wires":[["13045ed.ab9c6a1","4dbb465e.d10228"]]},{"id":"8561f420.028ab8","type":"debug","z":"35a8abf3.f78d44","name":"","active":true,"console":"false","complete":"true","x":1384,"y":1252,"wires":[]},{"id":"dfd034ec.6784c8","type":"mongodb in","z":"51598847.36e3a8","mongodb":"940bff07.1e8e3","name":"","collection":"temp","operation":"find","x":1480,"y":920,"wires":[["1e37836c.0a4a5d","84649a6d.4cc438"]]},{"id":"2c321e41.6ea942","type":"debug","z":"51598847.36e3a8","name":"","active":true,"console":"false","complete":"true","x":1830,"y":980,"wires":[]},{"id":"8ed34d44.a270d","type":"inject","z":"51598847.36e3a8","name":"","topic":"","payload":"\"db.temp.find()\"","payloadType":"json","repeat":"","crontab":"","once":false,"x":1080,"y":900,"wires":[["572f3129.2234c","4f24292c.bc4ba8"]]},{"id":"572f3129.2234c","type":"debug","z":"51598847.36e3a8","name":"","active":true,"console":"true","complete":"true","x":1250,"y":880,"wires":[]},{"id":"39c1fa63.1ac596","type":"function","z":"51598847.36e3a8","name":"Format Temp","func":"var tempvalue = msg.payload.currentTemp;\nvar timestamp = msg.payload.time;\n\nreturn {topic:\"Ecobee3/temp\", payload: tempvalue + \",\" + timestamp};\n\n/*\nif (msg.payload >= 0){\nreturn {topic:\"Ecobee3/temp\", payload: tempvalue + \",\" + timestamp};}\nelse {\nreturn {topic:\"Ecobee3/temp\", payload:\"Temp go boom\"};\n}\nreturn msg;\n*/","outputs":"1","noerr":0,"x":1850,"y":900,"wires":[["d71ac27.0dbeb4"]]},{"id":"e395dbf.a401328","type":"function","z":"51598847.36e3a8","name":"Format RH","func":"var rhvalue = msg.payload;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Format Message\n\nif (msg.payload >= 0){\nreturn {topic:\"Ecobee3/RH\", payload: rhvalue, timestamp: time, humidity: rhvalue};}\nelse {\nreturn {topic:\"Ecobee3/RH\", payload:\"Humidity go boom\", timestamp: time};\n}\nreturn msg;","outputs":"1","noerr":0,"x":1850,"y":860,"wires":[["d71ac27.0dbeb4"]]},{"id":"4f24292c.bc4ba8","type":"function","z":"51598847.36e3a8","name":"Query Temp","func":"var TempQuery={\n    payload: \"db.temp.find()\",\n    limit: 1000,\n    skip: 0,\n};\nreturn TempQuery;\n\n\n\n\n/*\nvar TempQuery={\n    payload: db.getCollection('temp').find({})\n};\nreturn TempQuery;\n*/\n\n/*\nvar Msg1={\n payload:year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second + \" Main Floor Temp: \" + currentTemp + \"*F. Runtime: \" + currentruntime*5 \n};\nvar Msg2={\n payload:\"Humidity is \" + currentHumidity + \"%.\"\n};\nreturn [ [Msg1, Msg2 ] ];\n*/","outputs":1,"noerr":0,"x":1270,"y":920,"wires":[["dfd034ec.6784c8"]]},{"id":"1e37836c.0a4a5d","type":"debug","z":"51598847.36e3a8","name":"","active":false,"console":"false","complete":"true","x":1670,"y":860,"wires":[]},{"id":"4261b501.9a934c","type":"inject","z":"51598847.36e3a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1100,"y":1000,"wires":[["a9d8eac1.24f318"]]},{"id":"a9d8eac1.24f318","type":"function","z":"51598847.36e3a8","name":"Query Temp","func":"var TempQuery1={\n    payload: \"db.temp.find({ payload: 65.4})\",\n    limit: 1,\n    skip: 0,\n};\nreturn TempQuery1;\n\n\n\n\n/*\nvar TempQuery={\n    payload: db.getCollection('temp').find({})\n};\nreturn TempQuery;\n*/\n\n/*\nvar Msg1={\n payload:year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second + \" Main Floor Temp: \" + currentTemp + \"*F. Runtime: \" + currentruntime*5 \n};\nvar Msg2={\n payload:\"Humidity is \" + currentHumidity + \"%.\"\n};\nreturn [ [Msg1, Msg2 ] ];\n*/","outputs":1,"noerr":0,"x":1270,"y":1000,"wires":[["dfd034ec.6784c8"]]},{"id":"84649a6d.4cc438","type":"bigsplitter","z":"51598847.36e3a8","name":"","property":"payload","x":1680,"y":920,"wires":[["39c1fa63.1ac596","79a6ae04.5bad7","e395dbf.a401328"],["2c321e41.6ea942"]]},{"id":"d71ac27.0dbeb4","type":"debug","z":"51598847.36e3a8","name":"","active":true,"console":"false","complete":"true","x":2010,"y":900,"wires":[]},{"id":"79a6ae04.5bad7","type":"function","z":"51598847.36e3a8","name":"Format Temp","func":"var tempvalue = msg.payload.currentTemp;\nvar timestamp = msg.payload.time;\n\nreturn {topic:\"Ecobee3/temp\", payload: tempvalue};\n\n/*\nif (msg.payload >= 0){\nreturn {topic:\"Ecobee3/temp\", payload: tempvalue + \",\" + timestamp};}\nelse {\nreturn {topic:\"Ecobee3/temp\", payload:\"Temp go boom\"};\n}\nreturn msg;\n*/","outputs":"1","noerr":0,"x":1850,"y":940,"wires":[[]]},{"id":"61bcf460.acc9ec","type":"ui_chart","z":"51598847.36e3a8","name":"Main Temp","group":"3160bdf3.4e48f2","order":1,"width":0,"height":0,"label":"Ecobee3 Temp","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"48","removeOlderPoints":"500","removeOlderUnit":"3600","cutout":0,"x":1210,"y":620,"wires":[["8e348792.091f58"],[]]},{"id":"2226b5b4.630e6a","type":"ui_chart","z":"51598847.36e3a8","name":"Ecobee 3 RH","group":"3160bdf3.4e48f2","order":3,"width":0,"height":0,"label":"Ecobee 3 RH","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"48","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"x":1190,"y":660,"wires":[["8e348792.091f58"],[]]},{"id":"a0b5904d.1fc57","type":"github-repo","z":"ed7ca635.59afb8","github":"5f41693b.9e1188","name":"Show node-red repo info","username":"bdbuysse","usernameType":"str","repository":"node-red","repositoryType":"str","action":"show","branch":"master","branchType":"str","path":"","pathType":"str","pathto":"","pathtoType":"str","contents":"payload","contentsType":"msg","outputs":"1","x":310,"y":80,"wires":[["93fffb3f.480fe8"]]},{"id":"8cb4b55.cbd2348","type":"github-user","z":"ed7ca635.59afb8","github":"5f41693b.9e1188","name":"Get your personal info","action":"show","outputs":"1","options":"","optionsType":"json","username":"bdbuysse","usernameType":"str","orgname":"","orgnameType":"str","x":307,"y":157,"wires":[["93fffb3f.480fe8"]]},{"id":"bca58d2b.d10a7","type":"inject","z":"ed7ca635.59afb8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":111,"y":79,"wires":[["a0b5904d.1fc57"]]},{"id":"93fffb3f.480fe8","type":"debug","z":"ed7ca635.59afb8","name":"","active":true,"console":"false","complete":"false","x":641,"y":152,"wires":[]},{"id":"25938d67.742252","type":"inject","z":"ed7ca635.59afb8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":107,"y":154,"wires":[["8cb4b55.cbd2348"]]},{"id":"f25a33be.b9a94","type":"github-repo","z":"ed7ca635.59afb8","github":"5f41693b.9e1188","name":"Get contents of msg.payload at 'master'","username":"bdbuysse","usernameType":"str","repository":"payload","repositoryType":"msg","action":"contents","branch":"master","branchType":"str","path":"","pathType":"str","pathto":"","pathtoType":"str","contents":"payload","contentsType":"msg","outputs":"1","x":379,"y":239,"wires":[["93fffb3f.480fe8"]]},{"id":"afad29e8.bd4088","type":"inject","z":"ed7ca635.59afb8","name":"","topic":"","payload":"node-red","payloadType":"str","repeat":"","crontab":"","once":false,"x":112,"y":240,"wires":[["f25a33be.b9a94"]]},{"id":"e51a9d15.e7b3c","type":"github-repo","z":"ed7ca635.59afb8","github":"5f41693b.9e1188","name":"flows_edgewood-01.json","username":"bdbuysse","usernameType":"str","repository":"node-red","repositoryType":"str","action":"write","branch":"master","branchType":"str","path":"edgewood","pathType":"str","pathto":"","pathtoType":"str","contents":"payload","contentsType":"msg","outputs":"0","x":490,"y":460,"wires":[]},{"id":"b8e51af7.519998","type":"inject","z":"ed7ca635.59afb8","name":"inject","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":420,"wires":[["9e732199.9651"]]},{"id":"9e732199.9651","type":"file in","z":"ed7ca635.59afb8","name":"Read Flows","filename":"/home/bdbuysse/.node-red/flows_edgewood-01.json","format":"utf8","x":270,"y":420,"wires":[["92bdc432.39e108","e51a9d15.e7b3c"]]},{"id":"92bdc432.39e108","type":"debug","z":"ed7ca635.59afb8","name":"","active":true,"console":"false","complete":"true","x":430,"y":380,"wires":[]},{"id":"e5bae0e1.43fc7","type":"function","z":"35a8abf3.f78d44","name":"zscore","func":"var aggwindow = context.get('aggwindow')||[];\n\naggwindow.push(msg.payload); \n\nif (aggwindow.length> 30) {\n    sum = aggwindow.reduce((a,b)=>a+b,0);\n    n = aggwindow.length;\n    mean = sum/n;\n    sd = Math.sqrt(aggwindow.map(x=>Math.pow(mean-x,2)).reduce((a,b)=>a+b,0));\n    aggwindow.shift();\n    msg.zscore = (mean-msg.payload)/(sd+0.0001);\n}\ncontext.set('aggwindow',aggwindow);\n\nvar min = context.get('min')||300;\nvar max = context.get('max')||0;\n\ncontext.set('min',Math.min(min,msg.payload));\ncontext.set('max',Math.max(max,msg.payload));\n\nmsg.payload=msg.payload+\":\"+msg.zscore+\":\"+min+\":\"+max;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":1200,"wires":[["a5c96f7e.cd035"]]},{"id":"a5c96f7e.cd035","type":"function","z":"35a8abf3.f78d44","name":"alert","func":"if (Math.abs(msg.zscore)>0.5) {\n    msg.payload=\"ALERT ALERT ALERT!!!!!\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1530,"y":1200,"wires":[["e524a6c1.fa94f8"]]},{"id":"e524a6c1.fa94f8","type":"debug","z":"35a8abf3.f78d44","name":"","active":true,"console":"false","complete":"true","x":1670,"y":1200,"wires":[]},{"id":"401d4474.e5dfbc","type":"debug","z":"35a8abf3.f78d44","name":"","active":true,"console":"false","complete":"true","x":1090,"y":460,"wires":[]},{"id":"e33c1756.0f77e8","type":"inject","z":"35a8abf3.f78d44","name":"disablePoll","topic":"disablePoll","payload":"{\"args\": [4, 37]}","payloadType":"json","repeat":"","crontab":"","once":false,"x":208.89275360107422,"y":897.0357284545898,"wires":[["81c1cc5.681483","625d0f9.6f333f"]]},{"id":"1821f682.8e8419","type":"inject","z":"35a8abf3.f78d44","name":"isPolled","topic":"GetPollIntensity","payload":"{\"args\": [4, 37]}","payloadType":"json","repeat":"","crontab":"","once":false,"x":198.89275360107422,"y":937.0357284545898,"wires":[["81c1cc5.681483","625d0f9.6f333f"]]},{"id":"7b26a396.86380c","type":"inject","z":"35a8abf3.f78d44","name":"SetLabel","topic":"SetValueLabel","payload":"{\"args\": [4, \"FrontPorch\"]}","payloadType":"json","repeat":"","crontab":"","once":false,"x":208.89275360107422,"y":977.0357284545898,"wires":[["625d0f9.6f333f","81c1cc5.681483"]]},{"id":"ae4bd71c.9f4178","type":"inject","z":"35a8abf3.f78d44","name":"enablePoll","topic":"enablePoll","payload":"{\"args\": [4, 37]}","payloadType":"json","repeat":"","crontab":"","once":false,"x":460,"y":60,"wires":[["e53b5a72.1a3e98"]]},{"id":"e578b959.4ad7b8","type":"inject","z":"35a8abf3.f78d44","name":"disablePoll","topic":"disablePoll","payload":"{\"args\": [4, 37]}","payloadType":"json","repeat":"","crontab":"","once":false,"x":460,"y":100,"wires":[["e53b5a72.1a3e98"]]},{"id":"5ae9afcf.a04ed","type":"inject","z":"35a8abf3.f78d44","name":"","topic":"GetControllerNodeId","payload":"{\"args\": [4, 37]}","payloadType":"str","repeat":"","crontab":"","once":false,"x":228.89275360107422,"y":1017.0357284545898,"wires":[["81c1cc5.681483","625d0f9.6f333f"]]},{"id":"8960b348.fb6c5","type":"inject","z":"35a8abf3.f78d44","name":"enablePoll","topic":"enablePoll","payload":"{\"args\": [5, 37]}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1840,"y":100,"wires":[["5d8ca477.46b23c","ef815465.1a5418"]]},{"id":"45ff2ed7.f882d","type":"inject","z":"35a8abf3.f78d44","name":"disablePoll","topic":"disablePoll","payload":"{\"args\": [5, 37]}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1840,"y":140,"wires":[["5d8ca477.46b23c","ef815465.1a5418"]]},{"id":"ef815465.1a5418","type":"debug","z":"35a8abf3.f78d44","name":"","active":true,"console":"false","complete":"true","x":2130,"y":148,"wires":[]},{"id":"8080b545.508d08","type":"inject","z":"35a8abf3.f78d44","name":"Kitchen 0%","topic":"setValue","payload":"{\"nodeid\":5, \"cmdclass\":38, \"value\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1850,"y":340,"wires":[["5d8ca477.46b23c"]]},{"id":"ab52a44d.25d9a8","type":"ui_chart","z":"35a8abf3.f78d44","name":"Great Room RH","group":"3160bdf3.4e48f2","order":4,"width":0,"height":0,"label":"Great Room RH","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"25","ymax":"75","removeOlder":"48","removeOlderPoints":"500","removeOlderUnit":"3600","cutout":0,"x":3635.714298248291,"y":949.2856397628784,"wires":[[],[]]},{"id":"6b64ffa0.9e6ea","type":"ui_chart","z":"35a8abf3.f78d44","name":"Great Room Temp","group":"3160bdf3.4e48f2","order":2,"width":0,"height":0,"label":"Great Room Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"60","ymax":"85","removeOlder":"48","removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"x":3679.999801635742,"y":886.4285564422607,"wires":[[],[]]},{"id":"8f35562a.75e398","type":"mqtt out","z":"35a8abf3.f78d44","name":"zwave/main/temp","topic":"zwave/temp/main","qos":"","retain":"","broker":"35e1911a.494f1e","x":1428,"y":1572.5,"wires":[]},{"id":"89bfd0b7.32e29","type":"mqtt out","z":"35a8abf3.f78d44","name":"zwave/main/RH","topic":"zwave/main/RH","qos":"","retain":"","broker":"35e1911a.494f1e","x":1427.75,"y":1778.75,"wires":[]},{"id":"3ac779d8.a4a486","type":"inject","z":"35a8abf3.f78d44","name":"Dinning 100%","topic":"setValue","payload":"{\"nodeid\":6, \"cmdclass\":38, \"value\":99}","payloadType":"json","repeat":"","crontab":"","once":false,"x":2743.142822265625,"y":139.4285888671875,"wires":[["b75e6361.7922a"]]},{"id":"208806fe.1b42ca","type":"inject","z":"35a8abf3.f78d44","name":"Dinning 50%","topic":"setValue","payload":"{\"nodeid\":6, \"cmdclass\":38, \"value\":50}","payloadType":"json","repeat":"","crontab":"","once":false,"x":2743.142822265625,"y":219.4285888671875,"wires":[["b75e6361.7922a"]]},{"id":"d217fd9e.b8244","type":"inject","z":"35a8abf3.f78d44","name":"Dinning 25%","topic":"setValue","payload":"{\"nodeid\":6, \"cmdclass\":38, \"value\":25}","payloadType":"json","repeat":"","crontab":"","once":false,"x":2743.142822265625,"y":259.4285888671875,"wires":[["b75e6361.7922a"]]},{"id":"44411eac.4459a","type":"inject","z":"35a8abf3.f78d44","name":"Dinning 75%","topic":"setValue","payload":"{\"nodeid\":6, \"cmdclass\":38, \"value\":75}","payloadType":"json","repeat":"","crontab":"","once":false,"x":2743.142822265625,"y":179.4285888671875,"wires":[["b75e6361.7922a"]]},{"id":"7977a9ff.49f148","type":"inject","z":"35a8abf3.f78d44","name":"Dinning 0%","topic":"setValue","payload":"{\"nodeid\":6, \"cmdclass\":38, \"value\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":2743.142822265625,"y":299.4285888671875,"wires":[["b75e6361.7922a"]]},{"id":"68b33dae.61c504","type":"debug","z":"35a8abf3.f78d44","name":"","active":true,"console":"false","complete":"true","x":1395.0000038146973,"y":1937.75,"wires":[]},{"id":"6f46c275.7b9c0c","type":"mqtt out","z":"baca7a08.dea168","name":"setValue","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":734.75,"y":276.75,"wires":[]},{"id":"d5d87f16.24222","type":"function","z":"baca7a08.dea168","name":"singleClick","func":"//Set Dinning Room & Kitchen Lighting Levels\nvar dinningRoutine = {topic: \"setValue\", payload: { \"nodeid\":6, \"cmdclass\":38, \"value\":60}};\nvar kitchenRoutine = {topic: \"setValue\", payload: {\"nodeid\":5, \"cmdclass\":38, \"value\":10}}; \n\nreturn [ [ dinningRoutine, kitchenRoutine ], null ];\n","outputs":"1","noerr":0,"x":548,"y":196,"wires":[["6f46c275.7b9c0c"]]},{"id":"f5cded27.1fe5d","type":"function","z":"baca7a08.dea168","name":"doubleClick","func":"//Set Dinning Room & Kitchen Lighting Levels\nvar dinningRoutine = {topic: \"setValue\", payload: { \"nodeid\":6, \"cmdclass\":38, \"value\":0}};\nvar kitchenRoutine = {topic: \"setValue\", payload: {\"nodeid\":5, \"cmdclass\":38, \"value\":75}}; \n\nreturn [ [ dinningRoutine, kitchenRoutine ], null ];\n","outputs":"1","noerr":0,"x":548.125,"y":236,"wires":[["6f46c275.7b9c0c"]]},{"id":"7dcd57c2.eae4c8","type":"function","z":"baca7a08.dea168","name":"buttonUp","func":"//Set Dinning Room & Kitchen Lighting Levels\nvar nodeid5 = global.get(\"nodeId5\");  \nbuttonUp = nodeid5 + 25;\n\nvar dinningRoutine = {topic: \"setValue\", payload: { \"nodeid\":6, \"cmdclass\":38, \"value\":0}};\nvar kitchenRoutine = {topic: \"setValue\", payload: {\"nodeid\":5, \"cmdclass\":38, \"value\": buttonUp}}; \n\nreturn [ [ dinningRoutine, xkitchenRoutine ], null ];\n","outputs":"1","noerr":0,"x":537.125,"y":278,"wires":[["6f46c275.7b9c0c"]]},{"id":"f3a5eed.3dc501","type":"function","z":"baca7a08.dea168","name":"buttonDown","func":"//Set Dinning Room & Kitchen Lighting Levels\nvar nodeid5 = global.get(\"nodeId5\");  \nbuttonDown = nodeid5 - 25;\n\nvar dinningRoutine = {topic: \"setValue\", payload: { \"nodeid\":6, \"cmdclass\":38, \"value\":0}};\nvar kitchenRoutine = {topic: \"setValue\", payload: {\"nodeid\":5, \"cmdclass\":38, \"value\":buttonDown }}; \n\nreturn [ [ dinningRoutine, kitchenRoutine ], null ];\n","outputs":"1","noerr":0,"x":552.125,"y":325,"wires":[["6f46c275.7b9c0c"]]},{"id":"9984ade2.bb0cc","type":"function","z":"baca7a08.dea168","name":"buttonHold","func":"//Set Dinning Room & Kitchen Lighting Levels\nvar dinningRoutine = {topic: \"setValue\", payload: { \"nodeid\":6, \"cmdclass\":38, \"value\":0}};\nvar kitchenRoutine = {topic: \"setValue\", payload: {\"nodeid\":5, \"cmdclass\":38, \"value\":0}}; \n\nreturn [ [ dinningRoutine, kitchenRoutine ], null ];\n","outputs":"1","noerr":0,"x":553.125,"y":368,"wires":[["6f46c275.7b9c0c"]]},{"id":"3c689a5e.4ae836","type":"switch","z":"baca7a08.dea168","name":"","property":"payload.clickType","propertyType":"msg","rules":[{"t":"eq","v":"ButtonSingleClick","vt":"str"},{"t":"eq","v":"ButtonDoubleClick","vt":"str"},{"t":"eq","v":"ButtonHold","vt":"str"},{"t":"eq","v":"ButtonUp","vt":"str"},{"t":"eq","v":"ButtonDown","vt":"str"}],"checkall":"true","outputs":5,"x":379.625,"y":278,"wires":[["d5d87f16.24222"],["f5cded27.1fe5d"],["7dcd57c2.eae4c8"],["f3a5eed.3dc501"],["9984ade2.bb0cc"]]},{"id":"3edb18bb.cddc28","type":"json","z":"baca7a08.dea168","name":"","x":244.57143020629883,"y":278.0357265472412,"wires":[["4bcb60d.482d3a"]]},{"id":"9a24dabe.176288","type":"mqtt in","z":"baca7a08.dea168","name":"Dinning Routine","topic":"flic/80:e4:da:72:98:9e/#","qos":"2","broker":"35e1911a.494f1e","x":85,"y":278.28571796417236,"wires":[["3edb18bb.cddc28"]]},{"id":"3ab97725.fcbc58","type":"http in","z":"8f00bc65.665df","name":"","url":"/hello-world","method":"post","swaggerDoc":"","x":155,"y":99,"wires":[["bb4bf390.549b5","193aa87e.cabcc8"]]},{"id":"d5b08e9e.a958","type":"debug","z":"8f00bc65.665df","name":"","active":true,"console":"false","complete":"true","x":537.5,"y":95,"wires":[]},{"id":"193aa87e.cabcc8","type":"template","z":"8f00bc65.665df","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>{</h1>\n        <h1>ID: {{ payload.id }}</h1>\n        <h1>Name:{{ payload.name}}</h1>\n        <h1>}</h1>\n    </body>\n</html>","x":344,"y":155,"wires":[["c6e011f7.ce847"]]},{"id":"bb4bf390.549b5","type":"function","z":"8f00bc65.665df","name":"","func":"id = msg.payload.id;\nname = msg.payload.name;\nappname = msg.payload.appname;\ncontroller_name = msg.payload.controller_name;\nreturn {topic: \"json-post\", payload: id, name: name, controller_name: controller_name};\n","outputs":1,"noerr":0,"x":339.5,"y":97,"wires":[["d5b08e9e.a958"]]},{"id":"c6e011f7.ce847","type":"http response","z":"8f00bc65.665df","name":"","x":542,"y":155,"wires":[]},{"id":"1853b22.567414e","type":"bigtimer","z":"35a8abf3.f78d44","outtopic":"porch","outpayload1":"ON","outpayload2":"OFF","name":"Morning","lat":"45.0830","lon":"-93.2229","starttime":"5000","endtime":"5003","startoff":"0","endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":true,"repeat":false,"atstart":true,"odd":false,"even":false,"x":261,"y":186,"wires":[["35dc1285.487e9e"],[],[]]},{"id":"1404ec35.5a56d4","type":"function","z":"35a8abf3.f78d44","name":"NodeId5 Status","func":"nodeid = msg.payload.nodeid;\ncurrState = msg.payload.currState;\noldState = msg.payload.oldState;\ncmdclass = msg.payload.cmdclass;\ninstance = msg.payload.instance;\ncmdidx = msg.payload.cmdidx;\nlabel = msg.payload.label;\nunits = msg.payload.units;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n\nglobal.set(\"nodeId5\", currState);\n\nreturn {topic:\"zwave/nodeId5\", payload: currState, currState: currState, oldState: oldState, timestamp: time};\n","outputs":1,"noerr":0,"x":760,"y":4000,"wires":[["c3a52801.5e6ed8","d7f5aaac.eb9278","e072b6a4.16d1c8"]]},{"id":"ded28118.1165","type":"template","z":"35a8abf3.f78d44","name":"zwave/nodeready","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"zwave/nodeready","x":886.6666259765625,"y":602.2221984863281,"wires":[["1957e4ca.66f35b"]]},{"id":"5d5d9fdb.215bb","type":"inject","z":"e52a7c1.e42718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":97.5,"y":286,"wires":[["1fec06b4.dfdea9"]]},{"id":"1fec06b4.dfdea9","type":"function","z":"e52a7c1.e42718","name":"","func":"var nodeId5 = global.get(\"nodeId5\");\n\n\nreturn {topic:\"nodeId5\", payload: nodeId5};\n\n","outputs":1,"noerr":0,"x":246.5,"y":286,"wires":[["fbaaf214.e3141"]]},{"id":"fbaaf214.e3141","type":"debug","z":"e52a7c1.e42718","name":"http result","active":true,"console":"false","complete":"payload","x":421,"y":284,"wires":[]},{"id":"b4719db6.a939a","type":"function","z":"35a8abf3.f78d44","name":"NodeId4 Status","func":"nodeid = msg.payload.nodeid;\ncurrState = msg.payload.currState;\noldState = msg.payload.oldState;\ncmdclass = msg.payload.cmdclass;\ninstance = msg.payload.instance;\ncmdidx = msg.payload.cmdidx;\nlabel = msg.payload.label;\nunits = msg.payload.units;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n\nif(currState === true) {\n    return {topic:\"zwave/nodeId4\", payload: 1, currState: currState, oldState: oldState, timestamp: time};\n}\n\nglobal.set(\"nodeId4\", currState);\n\n","outputs":1,"noerr":0,"x":760,"y":3860,"wires":[["d13f5615.532088","f888c59a.7bf5e8","a505f1a9.f3733"]]},{"id":"d13f5615.532088","type":"debug","z":"35a8abf3.f78d44","name":"","active":true,"console":"false","complete":"true","x":950,"y":3860,"wires":[]},{"id":"fc09702a.d8844","type":"function","z":"e52a7c1.e42718","name":"LoRa Example","func":"var mt = msg.metadata;\nvar devID;\nvar sd;\ndevID = msg.dev_id;\n// Decode data received\n    console.log(\"Valid devID=%s\", devID);\n      \n    sd = decodeSodaq(msg.payload_raw);\n    \n    console.log(\"bat=%d temp=%d lat=%d lon=%d\", sd.battery, sd.temperature, sd.latitude, sd.longitude);\n    \n    msg.payload = { \n            ObjectID: devID, \n            Latitude: sd.latitude,\n            Longitude: sd.longitude\n        };\n        \n} else {\n    msg = {};\n}\n\nreturn msg\n\nfunction decodeSodaq(data) {\n  var bytes = new Buffer(data, 'base64');\n  var epoch = (bytes[3] << 24) | (bytes[2] << 16) | (bytes[1] << 8) | bytes[0];\n  var batt = (3000+10*bytes[4])/1000;\n  var temp = bytes[5];\n  var lat = (bytes[9] << 24) | (bytes[8] << 16) | (bytes[7] << 8) | bytes[6];\n  var lon = (bytes[13] << 24) | (bytes[12] << 16) | (bytes[11] << 8) | bytes[10];\n  var alt = (bytes[15] << 8) | bytes[14];\n  var speed = (bytes[17] << 8) | bytes[16];\n  var course = bytes[18];\n  var sats = bytes[19];\n  var ttf = bytes[20];\n  console.log(\"SodaqOne Data Course=%d Sat=%d ttf=%d\", course, sats, ttf);\n  console.log(\"batt=%d temp=%d lat=%d lon=%d\", batt, temp, lat, lon);\n  console.log(\"speed=%d epoch=%d\", speed, epoch);\n  return {\n    course: course,\n    satellites: sats,\n    time_to_fix: ttf,\n    latitude: lat,\n    longitude: lon,\n    epoch: epoch,\n    battery: batt,\n    speed: speed,\n    temperature: temp};\n}\n","outputs":1,"noerr":0,"x":1940,"y":680,"wires":[[]]},{"id":"f5eca92f.318d18","type":"debug","z":"35a8abf3.f78d44","name":"","active":true,"console":"false","complete":"true","x":1401.25,"y":1832.75,"wires":[]},{"id":"dd3d1685.f33598","type":"function","z":"e52a7c1.e42718","name":"Post xDotEtc Data","func":"var mac=context.global.evb_info.macAddress;\nmsg.payload={ \n    d: {\n    light: msg[\"evb\"].light.lux|0,\n    moisture:msg.evb.barometer.pa, \n    temperature:(msg.evb.temperature.c) ,\n    x_acc: msg.evb.accelerometer.x,    \n    y_acc: msg.evb.accelerometer.y,    \n    z_acc: msg.evb.accelerometer.z\n    }\n};\n\nif (context.global.evb_info[msg.eui].msg_counter === null){\n    context.global.evb_info[msg.eui].msg_counter = 0;\n}\n// iot-2/type/mosquitto/id/myDeviceId/evt/helloworld/fmt/json\nmsg.topic = \"iot-2/type/mosquitto/id/\" + \n    mac + \n    \"/evt/datapoint/\" + \n    \"fmt/json\";\n\ncontext.global.evb_info[msg.eui][\"msg_counter\"] += 1.0 ;\nreturn msg;\n","outputs":"1","noerr":0,"x":1870,"y":1140,"wires":[["a7116e22.b6ca6"]]},{"id":"a7116e22.b6ca6","type":"debug","z":"e52a7c1.e42718","name":"Posted xDotEtc Data","active":false,"console":"false","complete":"payload","x":2208,"y":1212,"wires":[]},{"id":"411d85f3.ead95c","type":"function","z":"e52a7c1.e42718","name":"Lora Payload Process","func":"if ( context.global.evb_info[msg.eui] === null) {\n  context.global.evb_info[msg.eui] = { msg_counter: 0 };\n  \n}\n\nvar evb_info = context.global.evb_info ;\nvar evb_sensors = {};\n\n/*\n * Evaluation board properties.\n */\nvar EVB_TYPE = {\n  none: 0,\n  led_1: 1,\n  led_2: 2,\n  lux_max: 3,\n  lux_min: 4,\n  lux: 5,\n  barometer_max: 6,\n  barometer_min: 7,\n  barometer: 8,\n  temperature_max: 9,\n  temperature__min: 10,\n  temperature: 11,\n  accelerometer_max: 12,\n  accelerometer_min: 13,\n  accelerometer: 14,\n  tx_interval: 15,\n  amps_max: 16,\n  amps_min: 17,\n  amps: 18,\n  m2x_device: 19,\n  m2x_key: 20,\n};\n\n/*\n * Process the EVB LoRa payload.\n *\n * EVB payload contains one or more TLV fields.\n *\n * [<type: accelerometer><length: 6><x-high><x-low><y-high><y-low><z-high><z-low>]\n * [<type: barometer><length: 3><byte2><byte1><byte0>]\n * [<type: temperature><length: 2><byte-high><byte-low>]\n * \n */\nfor (var index = 0; index < msg.payload.length; ) {\n  var type = msg.payload[index++];\n//   var length = msg.payload[index++];\n  var value;\n  console.log(\"type: \" + type + \" length: \" );\n\n  switch (type) {\n  case EVB_TYPE.lux:\n    if (typeof(evb_sensors.light) == \"undefined\") {\n      evb_sensors.light = {};\n    }\n\n    value = msg.payload[index++] << 8;\n    value |= msg.payload[index++];\n    value = value * 0.24;\n\n    evb_sensors.light.lux = value;\n    break;\n  case EVB_TYPE.barometer:\n    if (typeof(evb_sensors.barometer) == \"undefined\") {\n      evb_sensors.barometer = {};\n    }\n\n    value = msg.payload[index++] << 16;\n    value |= msg.payload[index++] << 8;\n    value |= msg.payload[index++];\n    value = value * 0.00025;\n\n    evb_sensors.barometer.pa = value;\n    break;\n  case EVB_TYPE.accelerometer:\n    if (typeof(evb_sensors.accelerometer) == \"undefined\") {\n      evb_sensors.accelerometer = {};\n    }\n    // evb_sensors.accelerometer.x = (msg.payload[index++] << 24) >> 16;\n    var x1 = evb_sensors.accelerometer.x = msg.payload[index++] ;\n    // x1 = ~x1 ; \n    // x1 = ( x1 + 1 ) % 256; \n    evb_sensors.accelerometer.x = x1 * 0.0625//; / 15;\n    // evb_sensors.accelerometer.y = (msg.payload[index++] << 24) >> 16;\n    var y1 = evb_sensors.accelerometer.y = msg.payload[index++] ;\n    // y1 = ~ y1 ; \n    // y1 = ( y1 + 1 ) % 256;\n    \n    var y1 = evb_sensors.accelerometer.y = y1 * 0.0625 ; // / 15 ;\n\n    // evb_sensors.accelerometer.z = (msg.payload[index++] << 24) >> 16;\n    var z1 = evb_sensors.accelerometer.z = msg.payload[index++] ;\n    // z1 = ~ z1 ; \n    // z1 = ( z1 + 1 ) % 256; \n    // z1 = z1 - 128;\n    var z1 = evb_sensors.accelerometer.z = z1 * 0.0625; // / 15;\n    break;\n  case EVB_TYPE.temperature:\n    if (typeof(evb_sensors.temperature) == \"undefined\") {\n      evb_sensors.temperature = {};\n    }\n\n    value = (msg.payload[index++] << 24) >> 16;\n    value |= msg.payload[index++];\n    value = value * 0.0625;\n\n    evb_sensors.temperature.c = value;\n    break;\n  case EVB_TYPE.tx_interval:\n    evb_sensors.tx_timer = msg.payload[index++];\n    break;\n  case EVB_TYPE.m2x_device:\n    value = msg.payload.slice(index, index + length);\n    evb_info[msg.eui].m2x_device = \"\";\n    for (var j = 0; j < length; j++) {\n      evb_info[msg.eui].m2x_device += String.fromCharCode(value[j]);\n    }\n    break;\n  case EVB_TYPE.m2x_key:\n    value = msg.payload.slice(index, index + length);\n    evb_info[msg.eui].m2x_key = \"\";\n    for (var j = 0; j < length; j++) {\n      evb_info[msg.eui].m2x_key += String.fromCharCode(value[j]);\n    }\n    break;\n  default:\n    index += length;\n    break;\n  }\n}\n\nif (typeof(evb_info[msg.eui].m2x_device) == \"undefined\") {\n  console.log(\"No m2x_device registered for \" + msg.eui);\n//   return null;\n}\nif (typeof(evb_info[msg.eui].m2x_key) == \"undefined\") {\n  console.log(\"No m2x_key registered for \" + msg.eui);\n//   return null;\n}\nmsg.m2x_device = evb_info[msg.eui].m2x_device;\nmsg.m2x_key = evb_info[msg.eui].m2x_key;\nmsg.evb = evb_sensors;\n\n/*\n * Return msg to continue the flow\n */\nif (typeof msg.evb != \"undefined\"){\n  return msg;     \n}\n","outputs":1,"noerr":0,"x":1600.9999923706055,"y":1142.5714330673218,"wires":[["dd3d1685.f33598"]]},{"id":"4f4032a2.e998dc","type":"comment","z":"e52a7c1.e42718","name":"Start Here","info":"Welcome to the Multitech Conduit Lora Starter Kit\nNode Red flow \n\nThis \"flow\" is actually a small javascript \napplication. \n\nOn the left is a lora node. This node listens to\nthe LoRa radio for incoming messages. When it\nreceives a lora packet, it sends it from its output which\nis connected to the \"Lora Payload Process\",\nwhere the original binary messages is translated\ninto a javascript object for easier use.\n\nThe output of this function is then fed into the node\n\"Post xDotEtc Data\" \n\nThe output of this node is connected to the IOT Foundation\nxDotEtc node, which uses the MQTT protocol to send the \nprepared packet of data to IBM's Bluemix. \n\n\n\n\n","x":1881,"y":722,"wires":[]},{"id":"8e76b274.44189","type":"function","z":"35a8abf3.f78d44","name":"setValue","func":"var kitchenisld=msg.payload;\n\n\nvar kitchenisldMSG={ \n    topic: 'setValue',\n    payload: {'nodeid':5, 'cmdclass':38, 'value': +kitchenisld}\n};\n\nreturn kitchenisldMSG;\n\n","outputs":1,"noerr":0,"x":1860,"y":380,"wires":[["5d8ca477.46b23c"]]},{"id":"c3a52801.5e6ed8","type":"ui_chart","z":"35a8abf3.f78d44","name":"Kitchen Island","group":"60f617d7.b95848","order":5,"width":0,"height":0,"label":"Kitchen Island","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Doh!","ymin":"","ymax":"","removeOlder":"72","removeOlderPoints":"500","removeOlderUnit":"3600","cutout":0,"x":980,"y":3960,"wires":[[],[]]},{"id":"d7f5aaac.eb9278","type":"mqtt out","z":"35a8abf3.f78d44","name":"","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":950,"y":4040,"wires":[]},{"id":"e66cb762.d12078","type":"function","z":"35a8abf3.f78d44","name":"NodeId6 Status","func":"nodeid = msg.payload.nodeid;\ncurrState = msg.payload.currState;\noldState = msg.payload.oldState;\ncmdclass = msg.payload.cmdclass;\ninstance = msg.payload.instance;\ncmdidx = msg.payload.cmdidx;\nlabel = msg.payload.label;\nunits = msg.payload.units;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\nglobal.set(\"nodeId6\", currState);\n\nreturn {topic:\"zwave/nodeId6\", payload: currState, currState: currState, oldState: oldState, timestamp: time};\n","outputs":1,"noerr":0,"x":768.75,"y":4127.25,"wires":[["86253250.f8162","d3cb9b9.2c85b68"]]},{"id":"98eaf8e6.616b88","type":"function","z":"35a8abf3.f78d44","name":"NodeId7 Status","func":"nodeid = msg.payload.nodeid;\ncurrState = msg.payload.currState;\noldState = msg.payload.oldState;\ncmdclass = msg.payload.cmdclass;\ninstance = msg.payload.instance;\ncmdidx = msg.payload.cmdidx;\nlabel = msg.payload.label;\nunits = msg.payload.units;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\nglobal.set(\"nodeId7\", currState);\n\nreturn {topic:\"zwave/nodeId7\", payload: currState, currState: currState, oldState: oldState, timestamp: time};\n","outputs":1,"noerr":0,"x":768.75,"y":4267.25,"wires":[["12dbe702.c765f9","dd64dc02.77046"]]},{"id":"f888c59a.7bf5e8","type":"mqtt out","z":"35a8abf3.f78d44","name":"","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":950,"y":3900,"wires":[]},{"id":"86253250.f8162","type":"mqtt out","z":"35a8abf3.f78d44","name":"","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":958.75,"y":4167.25,"wires":[]},{"id":"12dbe702.c765f9","type":"mqtt out","z":"35a8abf3.f78d44","name":"","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":958.75,"y":4307.25,"wires":[]},{"id":"710f03b3.c131ec","type":"function","z":"e0994af4.69f3c8","name":"","func":"//BDB Code to consume DarkSky Weather Reports\ntime = msg.payload.currently.time;\nsummary = msg.payload.currently.summary;\nicon = msg.payload.currently.icon;\nnearestStormDistance = msg.payload.currently.nearestStormDistance;\nnearestStormBearing = msg.payload.currently.nearestStormBearing;\nprecipIntensity = msg.payload.currently.precipIntensity;\nprecipProbability = msg.payload.currently.precipProbability;\ntemperature = msg.payload.currently.temperature;\napparentTemperature = msg.payload.currently.apparentTemperature;\ndewPoint = msg.payload.currently.dewPoint;\nhumidity = msg.payload.currently.humidity;\npressure = msg.payload.currently.pressure;\nwindSpeed = msg.payload.currently.windSpeed;\nwindGust = msg.payload.currently.windGust;\nwindBearing = msg.payload.currently.windBearing;\ncloudCover = msg.payload.currently.cloudCover;\nuvIndex = msg.payload.currently.uvIndex;\n//visibility = msg.payload.currently.visibility;\nozone = msg.payload.currently.ozone;\nsunSet = msg.payload.daily.data.sunsetTime;\n\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntimestamp = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\nvar darkSkyMsg = {\n    topic: \"darkSky\", \n    payload: summary, \n    summary: summary, \n    icon: icon, \n    nearestStormDistance: nearestStormDistance, \n    nearestStormBearing: nearestStormBearing,\n    precipIntensity: precipIntensity,\n    temperature: temperature,\n    apparentTemperature: apparentTemperature,\n    dewPoint: dewPoint,\n    humidity: humidity,\n    pressure: pressure,\n    windSpeed: windSpeed,\n    windGust: windGust,\n    windBearing: windBearing,\n    cloudCover: cloudCover,\n    sunSet: sunSet,\n    uvIndex: uvIndex,\n    //visibility: visibility,\n    ozone: ozone,\n    time: time,\n    timestamp: timestamp\n};\n\nvar tempMsg = {\n    topic: \"darkSky/temp\",\n    payload: temperature,\n    temperature: temperature,\n    apparentTemperature: apparentTemperature,\n    dewPoint: dewPoint,\n    humidity: humidity,\n    timestamp: timestamp\n};\n\nvar windMsg = {\n    topic: \"darkSky/wind\",\n    payload: windSpeed,\n    windSpeed: windSpeed,\n    windGust: windGust,\n    windBearing: windBearing,\n    timestamp: timestamp\n};\n\nvar stormMsg = {\n    topic: \"darkSky/storm\",\n    payload: nearestStormDistance,\n    nearestStormDistance: nearestStormDistance, \n    nearestStormBearing: nearestStormBearing,\n    precipIntensity: precipIntensity,\n    cloudCover: cloudCover,\n    //visibility: visbility,\n};\n\nreturn [ [darkSkyMsg], [tempMsg], [windMsg], [stormMsg]];\n","outputs":"4","noerr":0,"x":690,"y":160,"wires":[["2fc2743d.3ec6cc"],["c2f36c3c.77bf8","7711b762.28f848","e96c111.530f0f"],["c72abdb9.fc5f7","8fbc30eb.c81c2","1763d706.7ca5b9"],["d2146558.90ea78"]]},{"id":"8e348792.091f58","type":"debug","z":"51598847.36e3a8","name":"","active":false,"console":"false","complete":"true","x":1370,"y":620,"wires":[]},{"id":"e3ca621.fe0baa","type":"debug","z":"51598847.36e3a8","name":"","active":true,"console":"false","complete":"true","x":1150,"y":740,"wires":[]},{"id":"d3cb9b9.2c85b68","type":"debug","z":"35a8abf3.f78d44","name":"","active":true,"console":"false","complete":"true","x":958.75,"y":4127.25,"wires":[]},{"id":"dd64dc02.77046","type":"debug","z":"35a8abf3.f78d44","name":"","active":true,"console":"false","complete":"true","x":958.75,"y":4267.25,"wires":[]},{"id":"c2f36c3c.77bf8","type":"debug","z":"e0994af4.69f3c8","name":"","active":true,"console":"false","complete":"true","x":878.5714302062988,"y":82.85714340209961,"wires":[]},{"id":"c72abdb9.fc5f7","type":"debug","z":"e0994af4.69f3c8","name":"","active":true,"console":"false","complete":"true","x":868.5714569091797,"y":308.57142448425293,"wires":[]},{"id":"d2146558.90ea78","type":"debug","z":"e0994af4.69f3c8","name":"","active":true,"console":"false","complete":"true","x":868.5714492797852,"y":347.14284324645996,"wires":[]},{"id":"8fbc30eb.c81c2","type":"ui_chart","z":"e0994af4.69f3c8","name":"Wind Speed","group":"987ceec8.0d629","order":0,"width":0,"height":0,"label":"Wind Speed","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"500","removeOlderUnit":"604800","cutout":0,"x":891.4285736083984,"y":214.28571605682373,"wires":[[],[]]},{"id":"e99ac862.bd9198","type":"function","z":"35a8abf3.f78d44","name":"On or Off","func":"var count;\nif (msg.payload ==\"ON\"){\nreturn {topic:\"switchOn\", payload:\"{\\\"nodeid\\\":19}\"};}\nelse if (msg.payload ==\"OFF\"){\nreturn {topic:\"switchOff\", payload:\"{\\\"nodeid\\\":19}\"};\n}\nelse {\nreturn {topic:\"blank\", payload:\"boom\"};\n}","outputs":1,"noerr":0,"x":460,"y":280,"wires":[["11fe0af2.2ad415"]]},{"id":"11fe0af2.2ad415","type":"mqtt out","z":"35a8abf3.f78d44","name":"","topic":"25) Xmas Lights","qos":"","retain":"","broker":"35e1911a.494f1e","x":640,"y":280,"wires":[]},{"id":"f2f1d43.1dbf828","type":"inject","z":"35a8abf3.f78d44","name":"Interval update interval","topic":"setValue","payload":"{\"nodeid\" :17, \"cmdclass\": 134}","payloadType":"json","repeat":"","crontab":"","once":false,"x":2680,"y":2060,"wires":[[]]},{"id":"5a492f05.952fc","type":"debug","z":"35a8abf3.f78d44","name":"","active":true,"console":"false","complete":"true","x":470,"y":480,"wires":[]},{"id":"b4ebf13e.bb4b3","type":"switch","z":"35a8abf3.f78d44","name":"Multisensor6","property":"payload.label","propertyType":"msg","rules":[{"t":"eq","v":"Luminance","vt":"str"},{"t":"eq","v":"Ultraviolet","vt":"str"},{"t":"eq","v":"Temperature","vt":"str"},{"t":"eq","v":"Relative Humidity","vt":"str"},{"t":"eq","v":"Battery Level","vt":"str"},{"t":"eq","v":"Vibration","vt":"str"},{"t":"eq","v":"Alarm Level","vt":"str"},{"t":"eq","v":"Alarm Type","vt":"str"},{"t":"eq","v":"Burglar","vt":"str"}],"checkall":"true","outputs":9,"x":730,"y":3000,"wires":[["98b57614.6a8ed8","f0c829ea.12e3f8"],["ae0dee16.9ef2c","3ecebe80.985fa2"],["83d1bc50.70e13"],["50f6b99e.032358"],["2f24678e.b24398","8c500492.02de18"],["4fa32cfe.d4c634"],["2da93e2f.037702"],["872b4b3c.f8fc28"],["6a032429.3bbf2c"]]},{"id":"98b57614.6a8ed8","type":"template","z":"35a8abf3.f78d44","name":"Display Lux","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Luminance is now {{payload.value.value}}","x":1021.25,"y":3532.75,"wires":[["f8dccaf3.e948f8"]]},{"id":"f0c829ea.12e3f8","type":"template","z":"35a8abf3.f78d44","name":"Log Lux","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}}  {{payload.value.value}}","x":1011.25,"y":2732.75,"wires":[["b25dd5e0.981d08"]]},{"id":"b6ad8ec8.d7add","type":"mongodb out","z":"35a8abf3.f78d44","mongodb":"940bff07.1e8e3","name":"Lighting","collection":"Lighting","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1379.9999771118164,"y":2762.8572010993958,"wires":[]},{"id":"fec65f6d.39c6b","type":"debug","z":"35a8abf3.f78d44","name":"","active":true,"console":"false","complete":"true","x":1336.2499694824219,"y":3651.7499828338623,"wires":[]},{"id":"7460e7a3.2fbbd8","type":"mqtt out","z":"35a8abf3.f78d44","name":"zwave/lux","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":1378.5713691711426,"y":2697.142915725708,"wires":[]},{"id":"b25dd5e0.981d08","type":"function","z":"35a8abf3.f78d44","name":"Format Lux","func":"var count;\nvar luminance = msg.payload;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Format Message\n\nreturn {topic:\"zwave/lux/basement\", payload: luminance, timestamp: time, lux: luminance};\n","outputs":"1","noerr":0,"x":1221.25,"y":2732.75,"wires":[["7460e7a3.2fbbd8","b6ad8ec8.d7add"]]},{"id":"8c500492.02de18","type":"template","z":"35a8abf3.f78d44","name":"Display Battery","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Battery is now {{payload.value.value}}","x":1031.25,"y":3652.75,"wires":[["f8dccaf3.e948f8","fec65f6d.39c6b"]]},{"id":"8c26db68.9b2b38","type":"comment","z":"35a8abf3.f78d44","name":"Node 24: ","info":"","x":700,"y":2560,"wires":[]},{"id":"3ecebe80.985fa2","type":"template","z":"35a8abf3.f78d44","name":"Display UV","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Ultraviolet is now {{payload.value.value}}","x":1021.25,"y":3592.75,"wires":[["f8dccaf3.e948f8"]]},{"id":"83d1bc50.70e13","type":"template","z":"35a8abf3.f78d44","name":"Log Temp","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}}  {{payload.value.value}}","x":1011.25,"y":2952.75,"wires":[["bb75ce54.9e34f"]]},{"id":"50f6b99e.032358","type":"template","z":"35a8abf3.f78d44","name":"Log Humidity","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}}  {{payload.value.value}}","x":1033.7500305175781,"y":3098.7500171661377,"wires":[["6d08c823.70da18"]]},{"id":"4fa32cfe.d4c634","type":"template","z":"35a8abf3.f78d44","name":"Log Vibration","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}}  {{payload.value.value}}","x":1021.25,"y":3272.75,"wires":[[]]},{"id":"2f24678e.b24398","type":"template","z":"35a8abf3.f78d44","name":"Log Battery","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}}  {{payload.value.value}}","x":1030,"y":3220,"wires":[["c440ffd4.845a8"]]},{"id":"ae0dee16.9ef2c","type":"template","z":"35a8abf3.f78d44","name":"Log UV","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}}  {{payload.value.value}}","x":1020,"y":2840,"wires":[["9e84b8b5.545ec8"]]},{"id":"9e84b8b5.545ec8","type":"function","z":"35a8abf3.f78d44","name":"Format UV","func":"var uv = msg.payload;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Format Message\n\nreturn {topic:\"zwave/uv/basement\", payload: uv, timestamp: time, ultraviolet: uv};\n","outputs":"1","noerr":0,"x":1210,"y":2840,"wires":[["fd2ad652.34f888"]]},{"id":"fd2ad652.34f888","type":"mqtt out","z":"35a8abf3.f78d44","name":"zwave/uv","topic":"zwave/uv","qos":"","retain":"","broker":"35e1911a.494f1e","x":1380,"y":2840,"wires":[]},{"id":"c440ffd4.845a8","type":"function","z":"35a8abf3.f78d44","name":"Format Battery","func":"var battery = msg.payload;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Format Message\n\nreturn {topic:\"zwave/battery/node24\", payload: battery, timestamp: time, batstatus: battery};\n","outputs":"1","noerr":0,"x":1220,"y":3220,"wires":[["6baa313f.6b8da","f5dde45.3efa018"]]},{"id":"2da93e2f.037702","type":"template","z":"35a8abf3.f78d44","name":"Log Alarm Level","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}}  {{payload.value.value}}","x":1031.25,"y":3332.75,"wires":[["d7d01228.feeac"]]},{"id":"872b4b3c.f8fc28","type":"template","z":"35a8abf3.f78d44","name":"Log Alarm Type","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}}  {{payload.value.value}}","x":1031.25,"y":3392.75,"wires":[["ee7593d8.d8a09"]]},{"id":"6a032429.3bbf2c","type":"template","z":"35a8abf3.f78d44","name":"Log Burglar","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}}  {{payload.value.value}}","x":1021.25,"y":3452.75,"wires":[["9a055c8f.52e5d"]]},{"id":"9a055c8f.52e5d","type":"function","z":"35a8abf3.f78d44","name":"Format Burglar","func":"var burglar = msg.payload;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Format Message\nreturn {topic:\"zwave/burglar/basement\", payload: burglar, timestamp: time, alarm: burglar};","outputs":"1","noerr":0,"x":1226.2499694824219,"y":3451.7499828338623,"wires":[["22c04c10.387284"]]},{"id":"22c04c10.387284","type":"debug","z":"35a8abf3.f78d44","name":"","active":false,"console":"false","complete":"true","x":1436.2499694824219,"y":3391.7499828338623,"wires":[]},{"id":"ee7593d8.d8a09","type":"function","z":"35a8abf3.f78d44","name":"Format Alarm Type","func":"var alarmtyp = msg.payload;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Format Message\nreturn {topic:\"zwave/alarmtype/basement\", payload: alarmtyp, timestamp: time, alarmtype: alarmtyp};","outputs":"1","noerr":0,"x":1236.2499694824219,"y":3391.7499828338623,"wires":[["22c04c10.387284"]]},{"id":"d7d01228.feeac","type":"function","z":"35a8abf3.f78d44","name":"Format Alarm Level","func":"var alarmlvl = msg.payload;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Format Message\n\nreturn {topic:\"zwave/alarmlvl/basement\", payload: alarmlvl, timestamp: time, alarmlevel: alarmlvl};","outputs":"1","noerr":0,"x":1237.4999694824219,"y":3333.2499828338623,"wires":[["22c04c10.387284"]]},{"id":"4078fa30.bccb14","type":"mongodb out","z":"35a8abf3.f78d44","mongodb":"940bff07.1e8e3","name":"HVAC","collection":"HVAC","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1370,"y":2980,"wires":[]},{"id":"bb75ce54.9e34f","type":"function","z":"35a8abf3.f78d44","name":"Format Temp","func":"var tempvalue = msg.payload;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Format Message\n\nreturn {topic:\"zwave/temp/pokertable\", payload: tempvalue, timestamp: time, temp: tempvalue};\n","outputs":"1","noerr":0,"x":1221.25,"y":2952.75,"wires":[["4078fa30.bccb14","18fc65db.6232aa"]]},{"id":"6d08c823.70da18","type":"function","z":"35a8abf3.f78d44","name":"Format RH","func":"var rhvalue = msg.payload;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Format Message\n\nreturn {topic:\"zwave/rh/basement\", payload: rhvalue, timestamp: time, humidity: rhvalue};","outputs":"1","noerr":0,"x":1223.7500305175781,"y":3098.7500171661377,"wires":[["e0a2d9e5.bc88e8","a6e325bd.4974e8"]]},{"id":"f8dccaf3.e948f8","type":"rbe","z":"35a8abf3.f78d44","name":"","func":"rbe","gap":"","start":"","inout":"out","x":1201.25,"y":3592.75,"wires":[["fec65f6d.39c6b"]]},{"id":"18fc65db.6232aa","type":"mqtt out","z":"35a8abf3.f78d44","name":"zwave/temp/pokertable","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":1430,"y":2920,"wires":[]},{"id":"e0a2d9e5.bc88e8","type":"mqtt out","z":"35a8abf3.f78d44","name":"zwave/RH","topic":"zwave/RH","qos":"","retain":"","broker":"35e1911a.494f1e","x":1390,"y":3060,"wires":[]},{"id":"6baa313f.6b8da","type":"debug","z":"35a8abf3.f78d44","name":"","active":false,"console":"false","complete":"true","x":1390,"y":3260,"wires":[]},{"id":"a6e325bd.4974e8","type":"debug","z":"35a8abf3.f78d44","name":"","active":true,"console":"false","complete":"true","x":1370,"y":3140,"wires":[]},{"id":"c7181199.c2882","type":"mqtt in","z":"35a8abf3.f78d44","name":"","topic":"zwave/lux/basement","qos":"2","broker":"35e1911a.494f1e","x":3442.1431198120117,"y":556.428596496582,"wires":[["2a4ed1a5.b2ba0e"]]},{"id":"725261a2.e9092","type":"mqtt in","z":"35a8abf3.f78d44","name":"","topic":"zwave/uv/basement","qos":"2","broker":"35e1911a.494f1e","x":3461.666793823242,"y":750.0000357627869,"wires":[["d493a5ea.989ed8"]]},{"id":"ee315f32.27af5","type":"mqtt in","z":"35a8abf3.f78d44","name":"","topic":"zwave/temp/main","qos":"2","broker":"35e1911a.494f1e","x":3465.7140884399414,"y":886.4284982681274,"wires":[["6b64ffa0.9e6ea"]]},{"id":"e2760942.6910d8","type":"mqtt in","z":"35a8abf3.f78d44","name":"","topic":"zwave/rh/#","qos":"2","broker":"35e1911a.494f1e","x":3435.714298248291,"y":949.2856397628784,"wires":[["ab52a44d.25d9a8"]]},{"id":"f5dde45.3efa018","type":"ui_gauge","z":"35a8abf3.f78d44","name":"Node24: Battery Status","group":"344e1fb3.04256","order":3,"width":0,"height":0,"gtype":"gage","title":"Node24 Battery Status","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":1450,"y":3200,"wires":[]},{"id":"7711b762.28f848","type":"ui_chart","z":"e0994af4.69f3c8","name":"OAT Chart","group":"d244951a.418708","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":895.0000534057617,"y":177.14286041259766,"wires":[[],[]]},{"id":"e96c111.530f0f","type":"ui_text","z":"e0994af4.69f3c8","group":"d244951a.418708","order":0,"width":0,"height":0,"name":"OAT Text","label":"Current OAT","format":"{{msg.payload}}","layout":"row-center","x":889.285717010498,"y":137.14285945892334,"wires":[]},{"id":"1763d706.7ca5b9","type":"ui_text","z":"e0994af4.69f3c8","group":"987ceec8.0d629","order":0,"width":0,"height":0,"name":"OAT Text","label":"Current Wind Speed","format":"{{msg.payload}}","layout":"row-center","x":888.5714721679688,"y":254.2857208251953,"wires":[]},{"id":"c51f7c84.8d0aa","type":"mqtt in","z":"35a8abf3.f78d44","name":"","topic":"zwave/lux/main","qos":"2","broker":"35e1911a.494f1e","x":3454.999755859375,"y":621.6666259765625,"wires":[["487d96f7.8ae618"]]},{"id":"487d96f7.8ae618","type":"ui_text","z":"35a8abf3.f78d44","group":"60f617d7.b95848","order":2,"width":0,"height":0,"name":"Main Lux","label":"Main Floor Lux","format":"{{msg.payload}}","layout":"row-center","x":3644.1665687561035,"y":621.6666707992554,"wires":[]},{"id":"9ad81ffa.fd043","type":"mqtt in","z":"35a8abf3.f78d44","name":"","topic":"zwave/lux/basement","qos":"2","broker":"35e1911a.494f1e","x":3463.3332290649414,"y":681.6666729450226,"wires":[["c6867cf7.ee44d"]]},{"id":"c6867cf7.ee44d","type":"ui_text","z":"35a8abf3.f78d44","group":"60f617d7.b95848","order":4,"width":0,"height":0,"name":"Basement Lux","label":"Basement Lux","format":"{{msg.payload}}","layout":"row-center","x":3661.666404724121,"y":681.6666526794434,"wires":[]},{"id":"4bcb60d.482d3a","type":"debug","z":"baca7a08.dea168","name":"","active":true,"console":"false","complete":"true","x":380.71430587768555,"y":149.99999809265137,"wires":[]},{"id":"728519bf.527cb8","type":"debug","z":"e0994af4.69f3c8","name":"","active":true,"console":"false","complete":"true","x":625.7142944335938,"y":64.28571319580078,"wires":[]},{"id":"d4f03cdc.09989","type":"function","z":"918f1647.ce7828","name":"Multitech Lora Payload Process","func":"if ( context.global.evb_info[msg.eui] === null) {\n  context.global.evb_info[msg.eui] = { msg_counter: 0 };\n  \n}\n\nvar evb_info = context.global.evb_info ;\nvar evb_sensors = {};\n\n/*\n * Evaluation board properties.\n */\nvar EVB_TYPE = {\n  none: 0,\n  led_1: 1,\n  led_2: 2,\n  lux_max: 3,\n  lux_min: 4,\n  lux: 5,\n  barometer_max: 6,\n  barometer_min: 7,\n  barometer: 8,\n  temperature_max: 9,\n  temperature__min: 10,\n  temperature: 11,\n  accelerometer_max: 12,\n  accelerometer_min: 13,\n  accelerometer: 14,\n  tx_interval: 15,\n  amps_max: 16,\n  amps_min: 17,\n  amps: 18,\n//  m2x_device: 19,\n//  m2x_key: 20,\n};\n\n/*\n * Process the EVB LoRa payload.\n *\n * EVB payload contains one or more TLV fields.\n *\n * [<type: accelerometer><length: 6><x-high><x-low><y-high><y-low><z-high><z-low>]\n * [<type: barometer><length: 3><byte2><byte1><byte0>]\n * [<type: temperature><length: 2><byte-high><byte-low>]\n * \n */\nfor (var index = 0; index < msg.payload.length; ) {\n  var type = msg.payload[index++];\n//   var length = msg.payload[index++];\n  var value;\n  console.log(\"type: \" + type + \" length: \" );\n\n  switch (type) {\n  case EVB_TYPE.lux:\n    if (typeof(evb_sensors.light) == \"undefined\") {\n      evb_sensors.light = {};\n    }\n\n    value = msg.payload[index++] << 8;\n    value |= msg.payload[index++];\n    value = value * 0.24;\n\n    evb_sensors.light.lux = value;\n    break;\n  case EVB_TYPE.barometer:\n    if (typeof(evb_sensors.barometer) == \"undefined\") {\n      evb_sensors.barometer = {};\n    }\n\n    value = msg.payload[index++] << 16;\n    value |= msg.payload[index++] << 8;\n    value |= msg.payload[index++];\n    value = value * 0.00025;\n\n    evb_sensors.barometer.pa = value;\n    break;\n  case EVB_TYPE.accelerometer:\n    if (typeof(evb_sensors.accelerometer) == \"undefined\") {\n      evb_sensors.accelerometer = {};\n    }\n    // evb_sensors.accelerometer.x = (msg.payload[index++] << 24) >> 16;\n    var x1 = evb_sensors.accelerometer.x = msg.payload[index++] ;\n    // x1 = ~x1 ; \n    // x1 = ( x1 + 1 ) % 256; \n    evb_sensors.accelerometer.x = x1 * 0.0625//; / 15;\n    // evb_sensors.accelerometer.y = (msg.payload[index++] << 24) >> 16;\n    var y1 = evb_sensors.accelerometer.y = msg.payload[index++] ;\n    // y1 = ~ y1 ; \n    // y1 = ( y1 + 1 ) % 256;\n    \n    var y1 = evb_sensors.accelerometer.y = y1 * 0.0625 ; // / 15 ;\n\n    // evb_sensors.accelerometer.z = (msg.payload[index++] << 24) >> 16;\n    var z1 = evb_sensors.accelerometer.z = msg.payload[index++] ;\n    // z1 = ~ z1 ; \n    // z1 = ( z1 + 1 ) % 256; \n    // z1 = z1 - 128;\n    var z1 = evb_sensors.accelerometer.z = z1 * 0.0625; // / 15;\n    break;\n  case EVB_TYPE.temperature:\n    if (typeof(evb_sensors.temperature) == \"undefined\") {\n      evb_sensors.temperature = {};\n    }\n\n    value = (msg.payload[index++] << 24) >> 16;\n    value |= msg.payload[index++];\n    value = value * 0.0625;\n\n    evb_sensors.temperature.c = value;\n    break;\n  case EVB_TYPE.tx_interval:\n    evb_sensors.tx_timer = msg.payload[index++];\n    break;\n//  case EVB_TYPE.m2x_device:\n//    value = msg.payload.slice(index, index + length);\n//    evb_info[msg.eui].m2x_device = \"\";\n//    for (var j = 0; j < length; j++) {\n//      evb_info[msg.eui].m2x_device += String.fromCharCode(value[j]);\n//    }\n//    break;\n//  case EVB_TYPE.m2x_key:\n//    value = msg.payload.slice(index, index + length);\n//   evb_info[msg.eui].m2x_key = \"\";\n//    for (var j = 0; j < length; j++) {\n//     evb_info[msg.eui].m2x_key += String.fromCharCode(value[j]);\n//    }\n//    break;\n  default:\n    index += length;\n    break;\n  }\n}\n\n//if (typeof(evb_info[msg.eui].m2x_device) == \"undefined\") {\n//  console.log(\"No m2x_device registered for \" + msg.eui);\n//   return null;\n//}\n//if (typeof(evb_info[msg.eui].m2x_key) == \"undefined\") {\n//  console.log(\"No m2x_key registered for \" + msg.eui);\n//   return null;\n//}\n//msg.m2x_device = evb_info[msg.eui].m2x_device;\n//msg.m2x_key = evb_info[msg.eui].m2x_key;\nmsg.evb = evb_sensors;\n\n/*\n * Return msg to continue the flow\n */\nif (typeof msg.evb != \"undefined\"){\n  return msg;     \n}\n","outputs":1,"noerr":0,"x":470,"y":195.71429443359375,"wires":[["71eee2dc.17aa6c","b64fbd4c.1ecde"]]},{"id":"71eee2dc.17aa6c","type":"debug","z":"918f1647.ce7828","name":"","active":false,"console":"false","complete":"true","x":688.5000534057617,"y":309.07135677337646,"wires":[]},{"id":"c9bad238.b10ea","type":"debug","z":"918f1647.ce7828","name":"","active":true,"console":"false","complete":"true","x":871.3572311401367,"y":193.92853450775146,"wires":[]},{"id":"b64fbd4c.1ecde","type":"function","z":"918f1647.ce7828","name":"TGT Demo Day","func":"var mac=context.global.evb_info.macAddress;\nvar eui = msg.eui;\nmsg.payload={ \n    d: {\n    light: msg[\"evb\"].light.lux|0,\n    moisture:msg.evb.barometer.pa, \n    temperature:(msg.evb.temperature.c) ,\n    x_acc: msg.evb.accelerometer.x,    \n    y_acc: msg.evb.accelerometer.y,    \n    z_acc: msg.evb.accelerometer.z,\n    eui: msg.eui\n    }\n};\n\n//if (context.global.evb_info[msg.eui].msg_counter === null){\n//    context.global.evb_info[msg.eui].msg_counter = 0;\n//}\n// iot-2/type/mosquitto/id/myDeviceId/evt/helloworld/fmt/json\n/*\nmsg.topic = \"iot-2/type/mosquitto/id/\" + \n    mac + \n    \"/evt/datapoint/\" + \n    \"fmt/json\";\n*/\n\n// Demo Day msg.topic = multitech\nmsg.topic = \"multitech/\"+eui;\n\n//context.global.evb_info[msg.eui][\"msg_counter\"] += 1.0 ;\nreturn msg;\n","outputs":"1","noerr":0,"x":706.2142639160156,"y":194.35711669921875,"wires":[["c9bad238.b10ea"]]},{"id":"f04b660a.745a18","type":"function","z":"918f1647.ce7828","name":"Msg Length","func":"msglength = msg.payload.length;\nchan = msg.chan;\ncls = msg.cls;\ncodr = msg.codr;\nmhdr = msg.mhdr; \nmodu = msg.modu;\nopts = msg.opts;\nport = msg.port;\nrfch = msg.rfch;\nrssi = msg.rssi;\nseqn = msg.seqn;\nsize = msg.size;\ntimestamp = msg.timestamp;\ntmst = msg.tmst;\nmsgpayload = msg.payload;\neui = msg.eui;\n\nif (msglength === 14) {\n    return [ {topic: \"multitech/evb\", payload: msgpayload, eui: eui, chan: chan, cls: cls, codr: codr, mhdr: mhdr, opts: opts, port: port, rfch: rfch, rssi: rssi, seqn: seqn, size: size, timestamp: timestamp, tmst: tmst }, null];\n} else if (msglength === 11) {\n    return [ null, {topic: \"zurn/flushValve\", payload: msgpayload, eui: eui, chan: chan, cls: cls, codr: codr, mhdr: mhdr, opts: opts, port: port, rfch: rfch, rssi: rssi, seqn: seqn, size: size, timestamp: timestamp, tmst: tmst } ];\n} else {\n    return [ null, null, {topic: \"LoRa\", payload: msgpayload, eui: eui, chan: chan, cls: cls, codr: codr, mhdr: mhdr, opts: opts, port: port, rfch: rfch, rssi: rssi, seqn: seqn, size: size, timestamp: timestamp, tmst: tmst } ];\n} \n","outputs":"3","noerr":0,"x":189.7500228881836,"y":174.1158208847046,"wires":[["d4f03cdc.09989"],[],[]]},{"id":"3cd60808.a27168","type":"debug","z":"918f1647.ce7828","name":"","active":true,"console":"false","complete":"true","x":704.4999847412109,"y":460.88089656829834,"wires":[]},{"id":"b7161722.084858","type":"function","z":"918f1647.ce7828","name":"Zurn Split","func":"var data = msg.payload;\n\nvar splitdata = data.split(\",\");\n\nreturn {topic: \"zurn\", payload: splitdata};\n","outputs":1,"noerr":0,"x":374.49998474121094,"y":400.88089656829834,"wires":[["bb22dc7c.daab7"]]},{"id":"bb22dc7c.daab7","type":"function","z":"918f1647.ce7828","name":"Zurn Format","func":"dataArray = msg.payload;\ndataLength = msg.payload.length;\nmsgNum = parseInt(msg.payload[5]);\nopc = parseInt(msg.payload[6]);\nvalueOne = parseInt(msg.payload[7]);\nvalueTwo = parseInt(msg.payload[8]);\nvalueThree = parseInt(msg.payload[9]);\nvalueFour = parseInt(msg.payload[10]);\ncrc = parseInt(msg.payload[11]);\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntimestamp = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\nreturn {topic: \"zurn\", payload: dataArray, msgNum: msgNum, dataLength: dataLength, opc: opc, valueOne: valueOne, valueTwo: valueTwo, valueThree: valueThree, valueFour: valueFour, crc: crc, timestamp: timestamp};","outputs":1,"noerr":0,"x":544.4999847412109,"y":400.88089656829834,"wires":[["2e14beb0.e75512","3cd60808.a27168"]]},{"id":"2e14beb0.e75512","type":"switch","z":"918f1647.ce7828","name":"","property":"opc","rules":[{"t":"eq","v":"17","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":704.4999847412109,"y":400.88089656829834,"wires":[["e3644ee4.5f5ed"],["d560cb47.949348"]]},{"id":"e3644ee4.5f5ed","type":"function","z":"918f1647.ce7828","name":"Event Actuation Count","func":"msgsize = msg.payload.length;\nmsgNum = msg.msgNum;\nopc = msg.opc;\nactuationCount = msg.valueFour;\ntimestamp = msg.timestamp;\nreturn {topic: \"zurn/eventActuationCount\", payload: actuationCount, msgNum: msgNum, flushes: actuationCount, timestamp: timestamp, msgsize: msgsize};","outputs":1,"noerr":0,"x":874.4999847412109,"y":360.88089656829834,"wires":[["dc41a1fe.01d5d"]]},{"id":"d560cb47.949348","type":"debug","z":"918f1647.ce7828","name":"","active":true,"console":"false","complete":"true","x":824.4999847412109,"y":420.88089656829834,"wires":[]},{"id":"dc41a1fe.01d5d","type":"debug","z":"918f1647.ce7828","name":"","active":true,"console":"false","complete":"true","x":1063.8333587646484,"y":413.5475835800171,"wires":[]},{"id":"df980ff8.fcb7b","type":"function","z":"918f1647.ce7828","name":"Zurn to Rex","func":"var rmsg = {};\nrmsg.payload = {};\n\nvar payloadBuffer = msg.payload;\n\n// Convert the bytes in payloadBuffer to an array.\nvar bArray = [];\n\nfor ( var i = 0; i < payloadBuffer.length; i++ )\n{\n    var code = payloadBuffer.charCodeAt(i);\n\n    bArray.push(code & 0xff);\n}\n\nnode.warn( bArray) ;\n\n// If the payloadBuffer is not 11 bytes in length, the LoRa\n// message was a partial\n\nif ( bArray.length >= 11 )\n{\n    // Compute the sensorId (from the first 4 bytes)\n    var sensorId = 0;\n    \n    for ( var i = 0; i < 4; i++ )\n        sensorId = (sensorId * 0x100) + bArray[i];\n\n    // MessageNum and commandId are just the 5th and\n    // 6th byte\n    var messageNum = bArray[4];\n    var commandId = bArray[5];\n    \n    // Copy the fields to an array\n    var fields = [];\n    \n    for ( var i = 6; i < 10; i++ )\n        fields.push(bArray[i]);\n    \n    // CRC is the 11th byte\n    var crc = bArray[10];\n    \n    rmsg.payload.sensorId = sensorId;\n    rmsg.payload.messageNum = messageNum;\n    rmsg.payload.commandId = commandId;\n    rmsg.payload.fields = fields;\n    rmsg.payload.crc = crc;\n    \n    rmsg.topic = \"iot-2/evt/Event/fmt/json\"\n}\nelse\n{\n    rmsg.payload.payload_raw = payloadBuffer;\n    \n    rmsg.topic = \"iot-2/evt/PartialEvent/fmt/json\";\n}\n\n// Timestamp is part of the original msg, not the payload string\nrmsg.payload.timestamp = msg.timestamp;\n\nreturn rmsg;","outputs":1,"noerr":0,"x":328.3333740234375,"y":566.5475769042969,"wires":[["d789dde2.f3a6b"]]},{"id":"d789dde2.f3a6b","type":"debug","z":"918f1647.ce7828","name":"","active":false,"console":"false","complete":"true","x":498.3333740234375,"y":565.5475769042969,"wires":[]},{"id":"4d0795a9.a19c4c","type":"function","z":"918f1647.ce7828","name":"Zurn to TGT","func":"var rmsg = {};\nrmsg.payload = {};\n\nvar payloadBuffer = msg.payload;\n\n// Convert the bytes in payloadBuffer to an array.\nvar bArray = [];\n\nfor ( var i = 0; i < payloadBuffer.length; i++ )\n{\n    var code = payloadBuffer.charCodeAt(i);\n\n    bArray.push(code & 0xff);\n}\n\nnode.warn( bArray) ;\n\n// If the payloadBuffer is 11 bytes in length, assume Zurn valve.  \n\nif ( bArray.length >= 11 )\n{\n    // Compute the sensorId (from the first 4 bytes)\n    var sensorId = 0;\n    \n    for ( var i = 0; i < 4; i++ )\n        sensorId = (sensorId * 0x100) + bArray[i];\n\n    // MessageNum and commandId are just the 5th and\n    // 6th byte\n    var messageNum = bArray[4];\n    var commandId = bArray[5];\n    \n    // Copy the fields to an array\n    var fields = [];\n    \n    for ( var i = 6; i < 10; i++ )\n        fields.push(bArray[i]);\n    \n    // CRC is the 11th byte\n    var crc = bArray[10];\n    \n    rmsg.payload.sensorId = sensorId;\n    rmsg.payload.messageNum = messageNum;\n    rmsg.payload.commandId = commandId;\n    rmsg.payload.fields = fields;\n    rmsg.payload.crc = crc;\n    \n    rmsg.topic = \"tgtlora/smartbuildings/watervalve\";\n}\nelse if ( bArray.length > 11 ) \n{\n    var lux = bArray[5];\n}\nelse\n{\n    rmsg.payload.payload_raw = payloadBuffer;\n    \n    rmsg.topic = \"tgt/smartbuildings/json\";\n}\n\n// Timestamp is part of the original msg, not the payload string\nrmsg.payload.timestamp = msg.timestamp;\n\nreturn rmsg;","outputs":1,"noerr":0,"x":336.33336639404297,"y":678.5475835800171,"wires":[["912baecf.6070e"]]},{"id":"912baecf.6070e","type":"debug","z":"918f1647.ce7828","name":"","active":true,"console":"false","complete":"true","x":511.33336639404297,"y":739.5475835800171,"wires":[]},{"id":"cfb8d6fe.34bc48","type":"function","z":"918f1647.ce7828","name":"Lora Payload Process","func":"if ( context.global.evb_info[msg.eui] === null) {\n  context.global.evb_info[msg.eui] = { msg_counter: 0 };\n  \n}\n\nvar evb_info = context.global.evb_info ;\nvar evb_sensors = {};\n\n/*\n * Evaluation board properties.\n */\nvar EVB_TYPE = {\n  none: 0,\n  led_1: 1,\n  led_2: 2,\n  lux_max: 3,\n  lux_min: 4,\n  lux: 5,\n  barometer_max: 6,\n  barometer_min: 7,\n  barometer: 8,\n  temperature_max: 9,\n  temperature__min: 10,\n  temperature: 11,\n  accelerometer_max: 12,\n  accelerometer_min: 13,\n  accelerometer: 14,\n  tx_interval: 15,\n  amps_max: 16,\n  amps_min: 17,\n  amps: 18,\n  m2x_device: 19,\n  m2x_key: 20,\n};\n\n/*\n * Process the EVB LoRa payload.\n *\n * EVB payload contains one or more TLV fields.\n *\n * [<type: accelerometer><length: 6><x-high><x-low><y-high><y-low><z-high><z-low>]\n * [<type: barometer><length: 3><byte2><byte1><byte0>]\n * [<type: temperature><length: 2><byte-high><byte-low>]\n * \n */\nfor (var index = 0; index < msg.payload.length; ) {\n  var type = msg.payload[index++];\n  var mlength = msg.payload[index++];\n  var value;\n  console.log(\"type: \" + type + \" length: \" );\n\n  switch (type) {\n  case EVB_TYPE.lux:\n    if (typeof(evb_sensors.light) == \"undefined\") {\n      evb_sensors.light = {};\n    }\n\n    value = msg.payload[index++] << 8;\n    value |= msg.payload[index++];\n    value = value * 0.24;\n\n    evb_sensors.light.lux = value;\n    break;\n  case EVB_TYPE.barometer:\n    if (typeof(evb_sensors.barometer) == \"undefined\") {\n      evb_sensors.barometer = {};\n    }\n\n    value = msg.payload[index++] << 16;\n    value |= msg.payload[index++] << 8;\n    value |= msg.payload[index++];\n    value = value * 0.00025;\n\n    evb_sensors.barometer.pa = value;\n    break;\n  case EVB_TYPE.accelerometer:\n    if (typeof(evb_sensors.accelerometer) == \"undefined\") {\n      evb_sensors.accelerometer = {};\n    }\n    // evb_sensors.accelerometer.x = (msg.payload[index++] << 24) >> 16;\n    var x1 = evb_sensors.accelerometer.x = msg.payload[index++] ;\n    // x1 = ~x1 ; \n    // x1 = ( x1 + 1 ) % 256; \n    evb_sensors.accelerometer.x = x1 * 0.0625//; / 15;\n    // evb_sensors.accelerometer.y = (msg.payload[index++] << 24) >> 16;\n    var y1 = evb_sensors.accelerometer.y = msg.payload[index++] ;\n    // y1 = ~ y1 ; \n    // y1 = ( y1 + 1 ) % 256;\n    \n    var y1 = evb_sensors.accelerometer.y = y1 * 0.0625 ; // / 15 ;\n\n    // evb_sensors.accelerometer.z = (msg.payload[index++] << 24) >> 16;\n    var z1 = evb_sensors.accelerometer.z = msg.payload[index++] ;\n    // z1 = ~ z1 ; \n    // z1 = ( z1 + 1 ) % 256; \n    // z1 = z1 - 128;\n    var z1 = evb_sensors.accelerometer.z = z1 * 0.0625; // / 15;\n    break;\n  case EVB_TYPE.temperature:\n    if (typeof(evb_sensors.temperature) == \"undefined\") {\n      evb_sensors.temperature = {};\n    }\n\n    value = (msg.payload[index++] << 24) >> 16;\n    value |= msg.payload[index++];\n    value = value * 0.0625;\n\n    evb_sensors.temperature.c = value;\n    break;\n  case EVB_TYPE.tx_interval:\n    evb_sensors.tx_timer = msg.payload[index++];\n    break;\n  case EVB_TYPE.m2x_device:\n    value = msg.payload.slice(index, index + mlength);\n    evb_info[msg.eui].m2x_device = \"\";\n    for (var j = 0; j < length; j++) {\n      evb_info[msg.eui].m2x_device += String.fromCharCode(value[j]);\n    }\n    break;\n  case EVB_TYPE.m2x_key:\n    value = msg.payload.slice(index, index + mlength);\n    evb_info[msg.eui].m2x_key = \"\";\n    for (var j = 0; j < mlength; j++) {\n      evb_info[msg.eui].m2x_key += String.fromCharCode(value[j]);\n    }\n    break;\n  default:\n    index;\n    break;\n  }\n}\n\nif (typeof(evb_info[msg.eui].m2x_device) == \"undefined\") {\n  console.log(\"No m2x_device registered for \" + msg.eui);\n//   return null;\n}\nif (typeof(evb_info[msg.eui].m2x_key) == \"undefined\") {\n  console.log(\"No m2x_key registered for \" + msg.eui);\n//   return null;\n}\nmsg.m2x_device = evb_info[msg.eui].m2x_device;\nmsg.m2x_key = evb_info[msg.eui].m2x_key;\nmsg.evb = evb_sensors;\n\n/*\n * Return msg to continue the flow\n */\nif (typeof msg.evb != \"undefined\"){\n  return msg;     \n}\n","outputs":1,"noerr":0,"x":461.4285888671875,"y":1241.4285888671875,"wires":[["acf5da35.a3ffd8","2d16fd5f.c953c2"]]},{"id":"acf5da35.a3ffd8","type":"debug","z":"918f1647.ce7828","name":"","active":false,"console":"false","complete":"true","x":663.8571510314941,"y":1241.1428680419922,"wires":[]},{"id":"2d16fd5f.c953c2","type":"function","z":"918f1647.ce7828","name":"TGT Format","func":"//Reorganize LoRa message format.  Produce two payload outputs.\n\nack = msg.ack;\nadr = msg.adr;\neui = msg.eui;\nappeui = msg.appeui;\ndeveui = msg.deveui;\nchan = msg.chan;\ncls = msg.cls;\ncodr = msg.codr;\ndatr = msg.datr; \nfreq = msg.freq;\nlsnr = msg.lsnr;\nmhdr = msg.mhdr;\nmodu = msg.modu;\nopts = msg.opts;\nport = msg.port;\nrfch = msg.rfch;\nrssi = msg.rssi;\nseqn = msg.seqn;\nsize = msg.size;\ntimestamp = msg.timestamp;\ntmst = msg.tmst;\nrawdata = msg.payload;\nevb = msg.evb;\n\n\nvar smartmsg = { topic: \"multitech/\"+eui+\"/msg\",\n    ack: ack,\n    adr: adr,\n    eui: eui,\n    appeui: appeui,\n    deveui: deveui,\n    payload: rawdata,\n    evb: evb,\n    timestamp: timestamp,\n    tmst: tmst,\n    size: size,\n    chan: chan,\n    cls: cls,\n    codr: codr,\n    datr: datr,\n    freq: freq,\n    lsnr: lsnr,\n    mhdr: mhdr,\n    modu: modu,\n    opts: opts,\n    port: port,\n    rfch: rfch,\n    rssi: rssi,\n    seqn: seqn,\n};\n\nvar smartsignal = { topic: \"multitech/\"+eui+\"/signal\",\n eui: eui,\n appeui: appeui,\n deveui: deveui,\n payload: { rssi: rssi, \n        freq: freq, \n        chan: chan, \n        rfch: rfch,\n        cls: cls, \n        codr: codr, \n        datr: datr,\n        lsnr: lsnr, \n        mhdr: mhdr,\n        modu: modu,\n        opts: opts,\n        port: port,\n        seqn: seqn},\n    rawdata: rawdata,\n    ack: ack,\n    timestamp: timestamp,\n    tmst: tmst,\n};\n\nreturn [ [smartmsg], [smartsignal] ];","outputs":"2","noerr":0,"x":662.857177734375,"y":1405.4285860061646,"wires":[["75d6c301.f731ac","77c0444b.ec346c"],["6a1dad83.0a1324"]]},{"id":"f7540db7.5d7dd","type":"debug","z":"918f1647.ce7828","name":"","active":false,"console":"false","complete":"true","x":1028.571445465088,"y":1282.428561449051,"wires":[]},{"id":"363870d2.a6def","type":"switch","z":"918f1647.ce7828","name":"","property":"payload","rules":[{"t":"eq","v":"rssi"},{"t":"eq","v":"freq"},{"t":"eq","v":"chan"},{"t":"else"}],"checkall":"true","outputs":4,"x":1003.0000152587891,"y":1481.4286317825317,"wires":[[],[],[],[]]},{"id":"4b46e40b.c6a53c","type":"debug","z":"918f1647.ce7828","name":"","active":false,"console":"false","complete":"true","x":1032.28568649292,"y":1359.5714683532715,"wires":[]},{"id":"77c0444b.ec346c","type":"debug","z":"918f1647.ce7828","name":"","active":false,"console":"false","complete":"true","x":823.8571319580078,"y":1408.9999980926514,"wires":[]},{"id":"6a1dad83.0a1324","type":"debug","z":"918f1647.ce7828","name":"","active":true,"console":"false","complete":"true","x":821.7142944335938,"y":1475.4285860061646,"wires":[]},{"id":"75d6c301.f731ac","type":"function","z":"918f1647.ce7828","name":"EVB Sensor Format","func":"//Reorganize LoRa message format.  Produce two payload outputs.\n\nack = msg.ack;\nadr = msg.adr;\neui = msg.eui;\nappeui = msg.appeui;\ndeveui = msg.deveui;\nchan = msg.chan;\ncls = msg.cls;\ncodr = msg.codr;\ndatr = msg.datr; \nfreq = msg.freq;\nlsnr = msg.lsnr;\nmhdr = msg.mhdr;\nmodu = msg.modu;\nopts = msg.opts;\nport = msg.port;\nrfch = msg.rfch;\nrssi = msg.rssi;\nseqn = msg.seqn;\nsize = msg.size;\ntimestamp = msg.timestamp;\ntmst = msg.tmst;\nrawdata = msg.payload;\nevb = msg.evb;\naccelerometer = msg.evb.accelerometer;\ntemperature = msg.evb.temperature.c;\n\nvar tempMsg = { topic: \"multitech/\"+eui+\"/temp\",\n    ack: ack,\n    adr: adr,\n    eui: eui,\n    appeui: appeui,\n    deveui: deveui,\n    payload: temperature,\n    timestamp: timestamp,\n    tmst: tmst,\n    size: size,\n    chan: chan,\n    cls: cls,\n    codr: codr,\n    datr: datr,\n    freq: freq,\n    lsnr: lsnr,\n    mhdr: mhdr,\n    modu: modu,\n    opts: opts,\n    port: port,\n    rfch: rfch,\n    rssi: rssi,\n    seqn: seqn,\n};\n\nvar accelerometerMsg = { topic: \"multitech/\"+eui+\"/accelerometer\",\n    ack: ack,\n    adr: adr,\n    eui: eui,\n    appeui: appeui,\n    deveui: deveui,\n    payload: accelerometer,\n    timestamp: timestamp,\n    tmst: tmst,\n    size: size,\n    chan: chan,\n    cls: cls,\n    codr: codr,\n    datr: datr,\n    freq: freq,\n    lsnr: lsnr,\n    mhdr: mhdr,\n    modu: modu,\n    opts: opts,\n    port: port,\n    rfch: rfch,\n    rssi: rssi,\n    seqn: seqn,\n};\n\n\n\nreturn [ [tempMsg], [accelerometerMsg] ];","outputs":"2","noerr":0,"x":852.4286270141602,"y":1324.0000629425049,"wires":[["f7540db7.5d7dd"],["4b46e40b.c6a53c"]]},{"id":"e072b6a4.16d1c8","type":"ui_text","z":"35a8abf3.f78d44","group":"344e1fb3.04256","order":1,"width":0,"height":0,"name":"","label":"Kitchen Island","format":"{{msg.payload}}","layout":"row-spread","x":980,"y":4000,"wires":[]},{"id":"a505f1a9.f3733","type":"ui_text","z":"35a8abf3.f78d44","group":"344e1fb3.04256","order":1,"width":0,"height":0,"name":"","label":"Porch","format":"{{msg.payload}}","layout":"row-spread","x":948,"y":3815,"wires":[]},{"id":"733a8e89.be011","type":"ui_switch","z":"35a8abf3.f78d44","name":"","label":"AV Rack","group":"a25807df.e4eb88","order":0,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1199.5,"y":292,"wires":[[]]},{"id":"2b0c9c41.564834","type":"ui_chart","z":"35a8abf3.f78d44","name":"Main UV","group":"60f617d7.b95848","order":7,"width":0,"height":0,"label":"Main UV","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"-25","ymax":"25","removeOlder":"48","removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"x":3651.25,"y":813.75,"wires":[[],[]]},{"id":"866e4794.3f1e38","type":"mqtt in","z":"35a8abf3.f78d44","name":"","topic":"zwave/uv/main","qos":"2","broker":"35e1911a.494f1e","x":3446.2499923706055,"y":815.0000233650208,"wires":[["2b0c9c41.564834"]]},{"id":"8ce6099d.914b38","type":"ui_chart","z":"35a8abf3.f78d44","name":"Main Lux","group":"60f617d7.b95848","order":1,"width":0,"height":0,"label":"Main Lux","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"48","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":3618.75,"y":498.75,"wires":[[],[]]},{"id":"ab7362c3.e8d73","type":"mqtt in","z":"35a8abf3.f78d44","name":"","topic":"zwave/lux/main","qos":"2","broker":"35e1911a.494f1e","x":3448.75,"y":498.75,"wires":[["8ce6099d.914b38"]]},{"id":"4cbe9129.e6e07","type":"function","z":"918f1647.ce7828","name":"Zurn to Rex","func":"var rmsg = {};\nrmsg.payload = {};\n\nvar payloadBuffer = msg.payload;\n\n// Convert the bytes in payloadBuffer to an array.\nvar bArray = [];\n\nfor ( var i = 0; i < payloadBuffer.length; i++ )\n{\n    var code = payloadBuffer.charCodeAt(i);\n\n    bArray.push(code & 0xff);\n}\n\nnode.warn( bArray) ;\n\n// If the payloadBuffer is not 11 bytes in length, the LoRa\n// message was a partial\n\nif ( bArray.length >= 11 )\n{\n    // Compute the sensorId (from the first 4 bytes)\n    var sensorId = 0;\n    \n    for ( var i = 0; i < 4; i++ )\n        sensorId = (sensorId * 0x100) + bArray[i];\n\n    // MessageNum and commandId are just the 5th and\n    // 6th byte\n    var messageNum = bArray[4];\n    var commandId = bArray[5];\n    \n    // Copy the fields to an array\n    var fields = [];\n    \n    for ( var i = 6; i < 10; i++ )\n        fields.push(bArray[i]);\n    \n    // CRC is the 11th byte\n    var crc = bArray[10];\n    \n    rmsg.payload.sensorId = sensorId;\n    rmsg.payload.messageNum = messageNum;\n    rmsg.payload.commandId = commandId;\n    rmsg.payload.fields = fields;\n    rmsg.payload.crc = crc;\n    \n    rmsg.topic = \"iot-2/evt/Event/fmt/json\"\n}\nelse\n{\n    rmsg.payload.payload_raw = payloadBuffer;\n    \n    rmsg.topic = \"iot-2/evt/PartialEvent/fmt/json\";\n}\n\n// Timestamp is part of the original msg, not the payload string\nrmsg.payload.timestamp = msg.timestamp;\n\nreturn rmsg;","outputs":1,"noerr":0,"x":192,"y":836,"wires":[["5414d2b3.2b060c"]]},{"id":"5414d2b3.2b060c","type":"debug","z":"918f1647.ce7828","name":"","active":false,"console":"false","complete":"true","x":362,"y":835,"wires":[]},{"id":"1ade236f.2e2bcd","type":"ui_chart","z":"35a8abf3.f78d44","name":"Poker Temp","group":"3160bdf3.4e48f2","order":2,"width":0,"height":0,"label":"Poker Table Temp","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"60","ymax":"85","removeOlder":"48","removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"x":3626.25,"y":1035,"wires":[[],[]]},{"id":"f099213e.eb11f","type":"mqtt in","z":"35a8abf3.f78d44","name":"","topic":"zwave/temp/pokertable","qos":"2","broker":"35e1911a.494f1e","x":3417.5000534057617,"y":1035.000015258789,"wires":[["1ade236f.2e2bcd"]]},{"id":"799e8da1.f49a84","type":"mqtt in","z":"e52a7c1.e42718","name":"MQTT Node - TheThingsNetwork","topic":"#","qos":"2","broker":"b71fb839.aeed58","x":352.57142639160156,"y":2012.7143535614014,"wires":[["4aeb24ee.d814fc","3e820288.3af19e"]]},{"id":"3a81cef5.a4a0d2","type":"debug","z":"e52a7c1.e42718","name":"msg.payload.payload_raw - DATA (as is)","active":true,"console":"false","complete":"payload","x":928.2857360839844,"y":2078.0000886917114,"wires":[]},{"id":"4aeb24ee.d814fc","type":"function","z":"e52a7c1.e42718","name":"Decrypt Payload","func":"// msg1 - Unencrypted (vanilla data)\nvar msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.payload_raw;\n\n// msg2 - Decrypt to Text\nvar msg2 = { payload: msg.payload.length };\nmsg2.payload = JSON.parse(msg.payload);\nmsg2.payload = new Buffer(msg2.payload.payload_raw, 'base64').toString('ascii');\n\n// msg3 - Decrypt as Binary value (MSB,LSB)\nvar msg3 = { payload: msg.payload.length };\nmsg3.payload = JSON.parse(msg.payload);\nmsg3.payload = new Buffer(msg3.payload.payload_raw, 'base64').toString('hex');\nmsg3.payload = parseInt(msg3.payload, 16);\n\nreturn [ msg1, msg2, msg3 ];","outputs":"3","noerr":0,"x":636.7142639160156,"y":2131.7143211364746,"wires":[["3a81cef5.a4a0d2"],["4a4c5a56.bf8644"],["71abceef.d5b1d"]]},{"id":"4a4c5a56.bf8644","type":"debug","z":"e52a7c1.e42718","name":"msg.payload.payload_raw - DATA (decrypted to text)","active":true,"console":"false","complete":"payload","x":971.4285430908203,"y":2127.642855644226,"wires":[]},{"id":"71abceef.d5b1d","type":"debug","z":"e52a7c1.e42718","name":"msg.payload.payload_raw - DATA (decrypted to Bytes HiLo)","active":true,"console":"false","complete":"payload","x":988.5714721679688,"y":2184.071388244629,"wires":[]},{"id":"5130adb0.751814","type":"debug","z":"e52a7c1.e42718","name":"message (as is)","active":true,"console":"false","complete":"payload","x":757.5714263916016,"y":2012.2143535614014,"wires":[]},{"id":"f00d3628.f97068","type":"inject","z":"e52a7c1.e42718","name":"Byte Value example","topic":"","payload":"{\"payload_raw\":\"ARA=\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":327.57142639160156,"y":2087.7143535614014,"wires":[["4aeb24ee.d814fc"]]},{"id":"1f45e70b.197a69","type":"inject","z":"e52a7c1.e42718","name":"Text example","topic":"","payload":"{\"payload_raw\":\"SGVsbG8sIHdvcmxkIQ==\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":309.57142639160156,"y":2137.7143535614014,"wires":[["4aeb24ee.d814fc"]]},{"id":"d91db234.31bad","type":"function","z":"e52a7c1.e42718","name":"Example A - Two \"byte pairs\" (4 bytes in total) for Temp and Humidity","func":"var buf = new Buffer(msg.payload.raw, 'base64'); // put in msg.payload the payload raw data stored initially as Base64\nvar node = msg.devEUI;\n\ntemp = buf[2] * 255 + buf[3];\nhum = buf[0] * 255 + buf[1];\n\n// construct a new object to store the data message\nvar data = {\npayload : [\n [{\n numValue: temp/10.0,\n time: new Date(msg.metadata.server_time).getTime()\n },\n {\n tag1:\"temp\",\n sensor:node\n }],\n [{\n numValue: hum/10.0,\n time: new Date(msg.metadata.server_time).getTime()\n },\n {\n tag1:\"hum\",\n sensor:node\n }]\n]};\nreturn data;","outputs":1,"noerr":0,"x":484.5714416503906,"y":2245.428635597229,"wires":[[]]},{"id":"3e820288.3af19e","type":"json","z":"e52a7c1.e42718","name":"","x":588.0714263916016,"y":2012.7143535614014,"wires":[["5130adb0.751814"]]},{"id":"2ad0ff76.28792","type":"comment","z":"e52a7c1.e42718","name":"For MQTT \"user\"/\"password\", use \"Application ID\"/\"default key\" ","info":"\n1) Sign in to TTN and go to your application page where \"app_1\" is your \"Application ID\" e.g.\nhttps://console.thethingsnetwork.org/applications/app_1\n\n2) For MQTT User, use \"Application ID\" \n\n3) For MQTT password, scroll to bottom and use \"default key\" (you need to press the \"eye\" to see the long text)","x":453.57142639160156,"y":1960.7143535614014,"wires":[]},{"id":"e9e26bfc.4b3998","type":"function","z":"e52a7c1.e42718","name":"Example B - Two \"Float value Byte Quads\" (8 bytes in total) for Lat. and Longitude (Float)","func":"var msg2 = { payload: msg.payload.length };\nmsg2.payload = JSON.parse(msg.payload);\nmsg2.payload = new Buffer(msg2.payload.payload, 'base64').toString('hex');\nvar lat = Buffer(msg2.payload, 'hex').readFloatLE(0);\nvar lon = Buffer(msg2.payload, 'hex').readFloatLE(4);\nmsg2.payload= \"[{\\\"lat\\\":\" + lat + \",\\\"lng\\\":\" + lon + \"}]\";//\"{\"lat\":lat,\"lng\":lon};\nreturn msg2;","outputs":1,"noerr":0,"x":531.5714416503906,"y":2297.428635597229,"wires":[[]]},{"id":"4aaf2291.ffc8dc","type":"http request","z":"e52a7c1.e42718","name":"Data source","method":"GET","url":"http://www.aviationweather.gov{{{payload}}}","x":487.1428527832031,"y":2611.4287109375,"wires":[["55667b0a.c71f74"]]},{"id":"3c0cebab.15cd84","type":"inject","z":"e52a7c1.e42718","name":"Weather report","topic":"","payload":"/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&hoursBeforeNow=3&mostRecent=true&stationString=KRNH","payloadType":"str","repeat":"","crontab":"","once":false,"x":324.1428527832031,"y":2611.4287109375,"wires":[["4aaf2291.ffc8dc"]]},{"id":"55667b0a.c71f74","type":"xml","z":"e52a7c1.e42718","name":"","x":633.1428527832031,"y":2611.4287109375,"wires":[["ed7e93a9.ab93"]]},{"id":"f097b2e1.c0a4b","type":"debug","z":"e52a7c1.e42718","name":"","active":true,"console":"false","complete":"payload","x":957.1428527832031,"y":2611.4287109375,"wires":[]},{"id":"ed7e93a9.ab93","type":"function","z":"e52a7c1.e42718","name":"Parse METAR","func":"var METARdata = msg.payload.response.data[0].METAR[0];\nvar wind = METARdata.wind_speed_kt[0];\nvar gusts = wind; //if wind_gust_kt is not present, value defaults to wind_speed_kt\n   if (typeof METARdata.wind_gust_kt != \"undefined\") {\n\t   gusts = METARdata.wind_gust_kt[0];\n       }\nvar altim = METARdata.altim_in_hg[0];\nvar pressure = Math.round(altim * 33.8637526); //convert hg to mb\nvar dew = METARdata.dewpoint_c[0];\nvar temp = METARdata.temp_c[0];\n\n//August-Roche-Magnus approximation to calculate humidity\nvar constA = 17.625;\nvar constB = 243.04;\nvar rh_numer = 100.0*Math.exp((constA*eval(dew))/(eval(dew)+constB));\nvar rh_denom = Math.exp((constA*eval(temp))/(eval(temp)+constB));\nvar rh_hum   = (rh_numer/rh_denom);\nvar humidity = Math.round(rh_hum);\n\nmsg.payload = ((wind) + (\",\") + (gusts) + (\",\") + (humidity) + (\",\") + (pressure) + (\",\") + (temp));\nreturn msg;","outputs":1,"x":788.1428527832031,"y":2611.4287109375,"wires":[["f097b2e1.c0a4b"]]},{"id":"d761e3cd.db52d","type":"comment","z":"e52a7c1.e42718","name":"NOAA Weather data","info":"Retrieving Finningly Airport METAR feed","x":319.1428527832031,"y":2572.4287109375,"wires":[]},{"id":"5701e7d8.911bd8","type":"debug","z":"35a8abf3.f78d44","name":"","active":true,"console":"false","complete":"true","x":850,"y":660,"wires":[]},{"id":"b95e06d1.233728","type":"function","z":"e52a7c1.e42718","name":"++","func":"if ( (msg.i += 1) < msg.items.length ) return msg;\n","outputs":1,"x":302,"y":4098,"wires":[["1ed9178e.c95f78"]]},{"id":"1ed9178e.c95f78","type":"function","z":"e52a7c1.e42718","name":"for each item","func":"if( msg.i     == undefined ) msg.i = 0;\nif( msg.items == undefined ) msg.items = msg.payload;\n\nmsg.payload = msg.items[ msg.i ];\n\nreturn msg;","outputs":1,"x":246,"y":4014,"wires":[["b95e06d1.233728"]]},{"id":"a335be90.1509f","type":"debug","z":"35a8abf3.f78d44","name":"","active":true,"console":"false","complete":"true","x":1195,"y":2213,"wires":[]}]