edgewood
[{"id":"51598847.36e3a8","type":"tab","label":"BDB-Ecobee3"},{"id":"e0994af4.69f3c8","type":"tab","label":"Dark Sky"},{"id":"35a8abf3.f78d44","type":"tab","label":"Zwave"},{"id":"baca7a08.dea168","type":"tab","label":"Flic"},{"id":"e52a7c1.e42718","type":"tab","label":"WIP"},{"id":"b69395b2.b963a8","type":"tab","label":"Flow 1"},{"id":"c1888603.209248","type":"tab","label":"SBLogo"},{"id":"a276e394.79ecc","type":"tab","label":"Flow 2"},{"id":"ed7ca635.59afb8","type":"tab","label":"Github"},{"id":"940bff07.1e8e3","type":"mongodb","z":"","hostname":"10.0.0.100","port":"27017","db":"Ecobee3","name":"Edgewood-01"},{"id":"722044bd.d1b11c","type":"postgresdb","z":"e52a7c1.e42718","hostname":"localhost","port":"5432","db":"postgres"},{"id":"af098432.d384f8","type":"Flic Button","z":"","address":"80:e4:da:72:98:9e","name":"Flic01","host":"127.0.0.1","port":"5551"},{"id":"59d5fd19.8ae234","type":"postgresdb","z":"","hostname":"localhost","port":"5432","db":"lighting","ssl":false},{"id":"8425ea06.f4ab38","type":"ui_tab","z":"","name":"Lighting Control","icon":"dashboard","order":1},{"id":"6607035d.6f950c","type":"darksky-credentials","z":"","key_identifier":"Node-Red"},{"id":"35e1911a.494f1e","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b0bb8bb1.75ddf8","type":"ui_base","name":"Edgewood","theme":"theme-dark"},{"id":"76a7e82.6401a18","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":"nodered-1","usetls":false,"compatmode":true,"keepalive":15,"cleansession":true,"willQos":"0","birthQos":"0"},{"id":"1f1ed968.891dd7","type":"zwave-controller","z":"","port":"/dev/ttyACM0","driverattempts":"3","pollinterval":"10000","allowunreadyupdates":false},{"id":"b9fb6c0.bdba398","type":"zwave-controller","z":"35a8abf3.f78d44","port":"/dev/ttyUSB0","driverattempts":"3","pollinterval":"500"},{"id":"93ec14cc.6afa78","type":"mqtt-broker","broker":"192.168.11.2","port":"1883","clientid":""},{"id":"33465a05.c62a96","type":"zwave-controller","z":"35a8abf3.f78d44","port":"/dev/ttyUSB0","driverattempts":"3","pollinterval":"500"},{"id":"3848b192.a1c1ee","type":"zwave-controller","z":"35a8abf3.f78d44","port":"/dev/ttyUSB0","driverattempts":"3","pollinterval":"500"},{"id":"b3dca72a.7d4f78","type":"ui_group","z":"","name":"Lighting Control","tab":"8425ea06.f4ab38","disp":true,"width":"6"},{"id":"37f571b6.07efde","type":"mqtt-broker","broker":"192.168.11.2","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":15,"cleansession":true,"willQos":"0","birthQos":"0"},{"id":"987ceec8.0d629","type":"ui_group","z":"","name":"Porch Lighting","tab":"","disp":true,"width":"6"},{"id":"a25807df.e4eb88","type":"ui_group","z":"","name":"Porch Lighting","tab":"8425ea06.f4ab38","order":1,"disp":true,"width":"3"},{"id":"344e1fb3.04256","type":"ui_group","z":"","name":"Status","tab":"8425ea06.f4ab38","order":3,"disp":true,"width":"3"},{"id":"60f617d7.b95848","type":"ui_group","z":"","name":"Main Floor Lighting","tab":"8425ea06.f4ab38","disp":true,"width":"6"},{"id":"4162ad63.0df7d4","type":"ui_group","z":"","name":"Group 2","tab":"61317c7f.ec9d84","order":2,"disp":true,"width":"6"},{"id":"61317c7f.ec9d84","type":"ui_tab","z":"e52a7c1.e42718","name":"New Test","icon":"dashboard"},{"id":"2fe4bc5f.ef6414","type":"ui_group","z":"","name":"Basement","tab":"8425ea06.f4ab38","disp":true,"width":"6"},{"id":"cff1768e.7c4fb8","type":"twitter-credentials","z":"","screen_name":"@bdbuysse"},{"id":"b7b929b9.1d46e8","type":"postgresdb","z":"","hostname":"localhost","port":"5432","db":"temp","ssl":false},{"id":"e501a287.ff83a","type":"ui_tab","z":"","name":"HVAC","icon":"dashboard"},{"id":"3160bdf3.4e48f2","type":"ui_group","z":"","name":"HVAC","tab":"e501a287.ff83a","disp":true,"width":"6"},{"id":"5f41693b.9e1188","type":"github-credentials","z":"","name":"github"},{"id":"c25faa60.59ff98","type":"inject","z":"51598847.36e3a8","name":"Refresh Thermostat Data","topic":"","payload":"Refresh Thermostat Variables","payloadType":"str","repeat":"900","crontab":"","once":false,"x":160,"y":620,"wires":[["841838c1.a3c3d8"]]},{"id":"f1e2fd00.f427f","type":"function","z":"51598847.36e3a8","name":"Get ecobeePin Token","func":"// Insert your Ecobee API Key into the following variable:\ncontext.global.EcobeeClientID=\"bygh7q8PMFCM9FFTY3ED0mE7MdAG2yYp\";\n// Insert your Ecobee API key into the above variable.\n\nvar newMsg ={\n \"url\":\"https://api.ecobee.com/authorize?response_type=ecobeePin&client_id=\"+context.global.EcobeeClientID+\"&scope=smartWrite\",\n \"method\": \"GET\",\n headers: {\n }\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":278.3690643310547,"y":106.21428489685059,"wires":[["e03906ff.bcb498"]]},{"id":"59cff96c.faf3a8","type":"debug","z":"51598847.36e3a8","name":"","active":true,"console":"true","complete":"payload","x":858.3690032958984,"y":105.96428489685059,"wires":[]},{"id":"e03906ff.bcb498","type":"http request","z":"51598847.36e3a8","name":"","method":"use","ret":"obj","url":"","x":485.3690643310547,"y":106.46428489685059,"wires":[["70bedb5f.708714"]]},{"id":"68986450.a8ab7c","type":"function","z":"51598847.36e3a8","name":"Get Thermostats","func":"if (context.global.EcobeeRefreshtoken!==\"\")\n{\n var newMsg={\n \"url\":\"https://api.ecobee.com/1/thermostat?format=json&body=%7B%22selection%22%3A%7B%22includeAlerts%22%3A%22false%22%2C%22selectionType%22%3A%22registered%22%2C%22selectionMatch%22%3A%22%22%2C%22includeEvents%22%3A%22false%22%2C%22includeSettings%22%3A%22false%22%2C%22includeRuntime%22%3A%22true%22%2C%22includeSensors%22%3A%22true%22%7D%7D\",\n \"method\": \"GET\",\n headers: {\n \"Content-Type\":\"application/json;charset=UTF-8\",\n \"Authorization\":\"Bearer \"+context.global.EcobeeAccessToken,\n }\n };\n}\nelse {\n var newMsg={\n \"url\":\"127.0.0.1\",\n \"method\":\"GET\"\n }\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":512.25,"y":619.5,"wires":[["a361f6f3.93d8a8"]]},{"id":"a361f6f3.93d8a8","type":"http request","z":"51598847.36e3a8","name":"Get Thermostat Request","method":"use","ret":"obj","url":"","x":724.4999694824219,"y":619.5,"wires":[["c7c496e2.cad218"]]},{"id":"13d238c7.41f3f7","type":"inject","z":"51598847.36e3a8","name":"Refresh token every 20 minutes","topic":"","payload":"","payloadType":"str","repeat":"1200","crontab":"","once":false,"x":172.6190643310547,"y":346.99207496643066,"wires":[["840f1430.04f068"]]},{"id":"840f1430.04f068","type":"function","z":"51598847.36e3a8","name":"Refresh Token","func":"context.global.EcobeeClientID=\"bygh7q8PMFCM9FFTY3ED0mE7MdAG2yYp\";\n//context.global.EcobeeRefreshToken=\"\";\nvar newMsg ={\n \"url\":\"https://api.ecobee.com/token?grant_type=refresh_token&code=\"+context.global.EcobeeRefreshToken+\"&client_id=\"+context.global.EcobeeClientID+\"\",\n \"method\": \"POST\",\n headers: {\n }\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":400.0357208251953,"y":346.99207496643066,"wires":[["e5de98e5.546468"]]},{"id":"e5de98e5.546468","type":"http request","z":"51598847.36e3a8","name":"","method":"use","ret":"obj","url":"","x":569.7857208251953,"y":346.74207496643066,"wires":[["545cda70.a4cde4"]]},{"id":"cd0d20c7.1bb06","type":"function","z":"51598847.36e3a8","name":"Define Access and Refresh Token vars","func":"context.global.EcobeeAccessToken=msg.payload.access_token;\ncontext.global.EcobeeRefreshToken=msg.payload.refresh_token;\nvar msg={ payload:{\n access_token:context.global.EcobeeAccessToken,\n refresh_token:context.global.EcobeeRefreshToken\n }\n};\nreturn msg;","outputs":1,"noerr":0,"x":986.0357055664062,"y":389.2420654296875,"wires":[["3dfcd42b.0ac36c","e6a5959e.253598"]]},{"id":"3dfcd42b.0ac36c","type":"debug","z":"51598847.36e3a8","name":"","active":false,"console":"false","complete":"payload","x":1250,"y":420,"wires":[]},{"id":"ea455af4.a1b7a8","type":"comment","z":"51598847.36e3a8","name":"Step #3 - Refresh Token Flow a few times for good measure.","info":"This flow will refresh your token every time the input button is pressed.\n\nGlobal variables set -- EcobeeAccessToken and EcobeeRefreshToken","x":238.5357208251953,"y":312.49207496643066,"wires":[]},{"id":"bb0b7210.a1dca","type":"comment","z":"51598847.36e3a8","name":"Step #4 - Get Thermostat Data","info":"Get thermostat data","x":152.6388931274414,"y":583.0277919769287,"wires":[]},{"id":"921f400f.2d675","type":"http response","z":"51598847.36e3a8","name":"","x":458.75,"y":1071.4444217681885,"wires":[]},{"id":"3cc485f3.a7aafa","type":"function","z":"51598847.36e3a8","name":"Throw Ecobee Data","func":"if(msg.req.headers.authorization && msg.req.headers.authorization==\"Bearer \"+context.global.FreeboardAuthTocken){\n msg.payload.thermostats=context.global.EcobeeThermostats;\n msg.payload.sensors=context.global.EcobeeSensors;\n msg.res.statusCode=\"200\";\nreturn msg;\n}\nelse\n{\n //msg.payload=\"Not Authorized\";\n msg.res.send(\"403\",\"Forbidden\");\n return;\n}\n\n//return msg;","outputs":1,"noerr":0,"x":287.75,"y":1071.4444217681885,"wires":[["921f400f.2d675"]]},{"id":"ac60e5f2.ec8058","type":"http in","z":"51598847.36e3a8","name":"Get Ecobee Data","url":"/getEcobeeData","method":"get","x":92.75,"y":1071.4444217681885,"wires":[["3cc485f3.a7aafa"]]},{"id":"b06fec88.c1471","type":"inject","z":"51598847.36e3a8","name":"Step 1","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":103.36906051635742,"y":105.71428489685059,"wires":[["f1e2fd00.f427f"]]},{"id":"884ed5ad.6a2cc8","type":"comment","z":"51598847.36e3a8","name":"Step #1 - Requesting the 4-digit ecobeePin - Log in to Ecobee.com and go to your \"My Apps\" before clicking the Inject node.","info":"The ecobeePin must be entered into your \"My Apps\" in Ecobee.com within 10 minutes.","x":445.3690643310547,"y":35.71428680419922,"wires":[]},{"id":"2e6962b2.e4e5de","type":"function","z":"51598847.36e3a8","name":"Get Authorization Token","func":"var newMsg ={\n \"url\":\"https://api.ecobee.com/token?grant_type=ecobeePin&code=\"+context.global.EcobeeAccessToken+\"&client_id=\"+context.global.EcobeeClientID,\n \"method\": \"POST\",\n headers: {\n }\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":300.3690643310547,"y":216.7142848968506,"wires":[["2120acf5.8e3e84"]]},{"id":"eebe4d36.84db","type":"debug","z":"51598847.36e3a8","name":"","active":false,"console":"true","complete":"payload","x":689.3690643310547,"y":286.4642848968506,"wires":[]},{"id":"2120acf5.8e3e84","type":"http request","z":"51598847.36e3a8","name":"","method":"use","ret":"obj","url":"","x":502.36903381347656,"y":216.9642848968506,"wires":[["eebe4d36.84db","dbd23a7.22511c8","912610b2.ed4fb"]]},{"id":"6393146a.0f3a9c","type":"comment","z":"51598847.36e3a8","name":"Step #2 - Requesting the first access token - you must run Step 2 within 10 minutes of running Step 1.","info":"Now that the app has been added to your \"My Apps\" - we need to request our first access token.","x":369.59129333496094,"y":181.214280128479,"wires":[]},{"id":"70bedb5f.708714","type":"function","z":"51598847.36e3a8","name":"Save access code","func":"context.global.EcobeeAccessToken = msg.payload.code;\nvar msg = {\"payload\":\"Ecobee Pin: \"+msg.payload.ecobeePin};\nreturn msg;","outputs":1,"noerr":0,"x":674.3690032958984,"y":105.71428489685059,"wires":[["59cff96c.faf3a8"]]},{"id":"dbd23a7.22511c8","type":"file","z":"51598847.36e3a8","name":"EcobeeTokens","filename":"/home/bdbuysse/ecobee3/token","appendNewline":false,"createDir":false,"overwriteFile":"true","x":696.3690643310547,"y":251.7142848968506,"wires":[]},{"id":"4acbf458.cbc0bc","type":"file in","z":"51598847.36e3a8","name":"EcobeeTokens","filename":"/home/bdbuysse/ecobee3/token","format":"utf8","x":261.3055648803711,"y":1156.4444026947021,"wires":[["94aba46c.da3a78"]]},{"id":"a43344a7.524a48","type":"debug","z":"51598847.36e3a8","name":"","active":false,"console":"true","complete":"payload","x":867.3055038452148,"y":1156.1110591888428,"wires":[]},{"id":"94e47180.33ff9","type":"inject","z":"51598847.36e3a8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":89.3055648803711,"y":1156.4444026947021,"wires":[["4acbf458.cbc0bc"]]},{"id":"b167b48a.05c1d8","type":"function","z":"51598847.36e3a8","name":"Define Access and Refresh Tokens","func":"if (msg.payload.refresh_token!==null)\n{\n context.global.EcobeeRefreshToken = msg.payload.refresh_token;\n node.warn(\"Refresh Token as Global Context: \"+context.global.EcobeeRefreshToken);\n}\nreturn msg;","outputs":1,"noerr":0,"x":630.3055038452148,"y":1156.4444026947021,"wires":[["a43344a7.524a48"]]},{"id":"e6a5959e.253598","type":"file","z":"51598847.36e3a8","name":"EcobeeTokens","filename":"/home/bdbuysse/ecobee3/token","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1254.0357208251953,"y":355.74207496643066,"wires":[]},{"id":"912610b2.ed4fb","type":"function","z":"51598847.36e3a8","name":"Define Access and Refresh Tokens","func":"context.global.EcobeeRefreshToken = msg.payload.refresh_token;\ncontext.global.EcoBeeAccessToken = msg.payload.access_token;\nvar msg={ \"payload\":context.global.EcobeeRefreshToken };\nreturn msg;","outputs":1,"noerr":0,"x":758.3690643310547,"y":216.7142848968506,"wires":[["a035ab9d.e5ba48"]]},{"id":"a035ab9d.e5ba48","type":"debug","z":"51598847.36e3a8","name":"","active":true,"console":"false","complete":"false","x":1009.3690032958984,"y":216.7142848968506,"wires":[]},{"id":"545cda70.a4cde4","type":"switch","z":"51598847.36e3a8","name":"Refresh Token","property":"payload.refresh_token","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":733.5357208251953,"y":346.99207496643066,"wires":[["cdb7168d.ba59b8"],["cd0d20c7.1bb06"]]},{"id":"72601179.f633b","type":"comment","z":"51598847.36e3a8","name":"This flow will extract the Access and Refresh tokens from the log file and put them in the global context variables.","info":"","x":394.9721908569336,"y":1120.1110591888428,"wires":[]},{"id":"841838c1.a3c3d8","type":"delay","z":"51598847.36e3a8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":347.4166564941406,"y":619.9166870117188,"wires":[["68986450.a8ab7c"]]},{"id":"a007dce0.13fab","type":"comment","z":"51598847.36e3a8","name":"You will have 2 minutes to enter the 4-digit pin into Ecobee.com and authorize the application. (Ecobee disgards the 4-pin code after 10 minutes!)","info":"","x":511.6190643310547,"y":70.71428489685059,"wires":[]},{"id":"8d4c849c.e1f0c8","type":"comment","z":"51598847.36e3a8","name":"Display Ecobee Data to Freeboard","info":"","x":145,"y":1034.4444217681885,"wires":[]},{"id":"94aba46c.da3a78","type":"json","z":"51598847.36e3a8","name":"","x":413.5555648803711,"y":1156.4444026947021,"wires":[["b167b48a.05c1d8"]]},{"id":"cdb7168d.ba59b8","type":"file in","z":"51598847.36e3a8","name":"EcobeeTokens","filename":"/home/bdbuysse/ecobee3/token","format":"utf8","x":909.2857208251953,"y":320.49207496643066,"wires":[["581b4e3e.735ab"]]},{"id":"581b4e3e.735ab","type":"json","z":"51598847.36e3a8","name":"","x":1064.5357208251953,"y":320.49207496643066,"wires":[["9baf4034.0f502"]]},{"id":"9baf4034.0f502","type":"function","z":"51598847.36e3a8","name":"Define Access and Refresh Tokens","func":"if (msg.payload.refresh_token!==null)\n{\n context.global.EcobeeRefreshToken = msg.payload.refresh_token;\n node.warn(\"Refresh Token as Global Context: \"+context.global.EcobeeRefreshToken);\n}\nreturn msg;","outputs":1,"noerr":0,"x":1291.285659790039,"y":320.49207496643066,"wires":[[]]},{"id":"cc4672fc.acf64","type":"inject","z":"51598847.36e3a8","name":"Step 2","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":98.61906433105469,"y":216.7142848968506,"wires":[["2e6962b2.e4e5de"]]},{"id":"35c4349b.eb210c","type":"inject","z":"e52a7c1.e42718","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 12 * * *","once":false,"x":116.66666412353516,"y":141.66665649414062,"wires":[["2458f0ca.eb3e5"]]},{"id":"ca099bf8.9d2178","type":"template","z":"e52a7c1.e42718","name":"format query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select * from table1 where field2 > $param1","x":509.66666412353516,"y":139.66665649414062,"wires":[["e55a6e6a.69a7a"]]},{"id":"e55a6e6a.69a7a","type":"postgres","z":"e52a7c1.e42718","postgresdb":"722044bd.d1b11c","name":"","output":true,"outputs":1,"x":676.6666641235352,"y":135.66665649414062,"wires":[["50da4425.82a39c","52d2f532.a1defc"]]},{"id":"50da4425.82a39c","type":"debug","z":"e52a7c1.e42718","name":"query output","active":false,"console":"false","complete":"true","x":858.6666641235352,"y":261.6666564941406,"wires":[]},{"id":"52d2f532.a1defc","type":"http request","z":"e52a7c1.e42718","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/incoming_data","x":907.3333358764648,"y":129.33332443237305,"wires":[["200455bc.33f6ca"]]},{"id":"200455bc.33f6ca","type":"debug","z":"e52a7c1.e42718","name":"http result","active":false,"console":"false","complete":"payload","x":1095.3332977294922,"y":130.99999618530273,"wires":[]},{"id":"2458f0ca.eb3e5","type":"function","z":"e52a7c1.e42718","name":"setup params","func":"msg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = 1;\nreturn msg;","outputs":1,"noerr":0,"x":309.66666412353516,"y":137.66665649414062,"wires":[["ca099bf8.9d2178"]]},{"id":"2bd9b9ca.8d4886","type":"http in","z":"e52a7c1.e42718","name":"","url":"/incoming_data","method":"post","swaggerDoc":"","x":212.66666412353516,"y":557.6666564941406,"wires":[["d385127.f2198f","a460ec50.8c483"]]},{"id":"22a9f5b4.fa6c9a","type":"http response","z":"e52a7c1.e42718","name":"","x":816.6666641235352,"y":573.6666564941406,"wires":[]},{"id":"d385127.f2198f","type":"debug","z":"e52a7c1.e42718","name":"http input","active":false,"console":"false","complete":"payload","x":431.66666412353516,"y":665.6666564941406,"wires":[]},{"id":"a460ec50.8c483","type":"function","z":"e52a7c1.e42718","name":"reply to http call","func":"msg.payload='reply from http';\nreturn msg;","outputs":1,"noerr":0,"x":580.6666641235352,"y":507.6666564941406,"wires":[["22a9f5b4.fa6c9a"]]},{"id":"7e5a87a6.0c7a78","type":"http request","z":"51598847.36e3a8","name":"Get Thermostat Request","method":"use","ret":"obj","url":"","x":707.8332977294922,"y":830.0000114440918,"wires":[[]]},{"id":"b36e86e1.1e4a38","type":"function","z":"51598847.36e3a8","name":"Get Thermostats","func":"if (context.global.EcobeeRefreshtoken!==\"\")\n{\n var newMsg={\n \"url\":\"https://api.ecobee.com/1/runtime\",\n headers: {\n \"Content-Type\":\"application/json;charset=UTF-8\",\n \"Authorization\":\"Bearer \"+context.global.EcobeeAccessToken,\n }\n };\n}\nelse {\n var newMsg={\n \"url\":\"127.0.0.1\",\n \"method\":\"GET\"\n }\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":495.5833282470703,"y":830.0000114440918,"wires":[["7e5a87a6.0c7a78"]]},{"id":"7bc4db73.5faea4","type":"delay","z":"51598847.36e3a8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":332.41666412353516,"y":828.7500629425049,"wires":[["b36e86e1.1e4a38"]]},{"id":"56d6ef1c.71a2b","type":"inject","z":"51598847.36e3a8","name":"Refresh Thermostat Data","topic":"","payload":"Refresh Thermostat Variables","payloadType":"str","repeat":"","crontab":"","once":false,"x":133.3333282470703,"y":830.5000114440918,"wires":[["7bc4db73.5faea4"]]},{"id":"156b264b.c13e0a","type":"inject","z":"e0994af4.69f3c8","name":"Home","topic":"Home","payload":"45.141574, -93.374866","payloadType":"str","repeat":"","crontab":"","once":false,"x":104.5833625793457,"y":1279.5832710266113,"wires":[["b8304ee9.27522"]]},{"id":"fa696178.eb4e","type":"function","z":"e0994af4.69f3c8","name":"make Weather object","func":"//parse forecast.io message\n\nvar weather = JSON.parse(msg.payload); \n\nvar data = weather.minutely.data;\nvar timeToRain = -1;\n\nvar i=1;\nfor (var i=0 ; i< data.length;i++) {\n\tif (data[i].precipProbability > 0.25) { weather.nextRain = parseInt(data[i].time); break; }\n}\n\n//reduce size of object\ndelete weather.minutely;\ndelete weather.hourly;\ndelete weather.daily;\ndelete weather.flags;\n\nif (weather.nextRain != null) {\n\tvar t =( weather.nextRain - parseInt(weather.currently.time) );\n\nif (t<0){t=0}\nelse{t = t/60;}\ntimeToRain = t;\n}\nvar msg2 = { payload:timeToRain};\nreturn msg2;","outputs":"1","noerr":0,"x":512.8333206176758,"y":1337.5832710266113,"wires":[["977c1695.3c6ab8","5715643.125129c"]]},{"id":"5715643.125129c","type":"debug","z":"e0994af4.69f3c8","name":"","complete":true,"x":718.9166984558105,"y":1293.3332710266113,"wires":[]},{"id":"977c1695.3c6ab8","type":"mqtt out","z":"e0994af4.69f3c8","name":"Minutes to Rain","topic":"weather/forecast/minsToRain","qos":"","retain":"","broker":"35e1911a.494f1e","x":752.0833854675293,"y":1380.0832719802856,"wires":[]},{"id":"72dea4.9e03715c","type":"mqtt in","z":"e0994af4.69f3c8","name":"Minutes To Rain","topic":"weather/forecast/minsToRain","broker":"35e1911a.494f1e","x":104.5833511352539,"y":1464.3332710266113,"wires":[["f19d44fb.c61e08"]]},{"id":"f19d44fb.c61e08","type":"function","z":"e0994af4.69f3c8","name":"Is weather unsafe?","func":"// console.log(msg.topic, msg.payload, msg.qos, msg.retain);\n// context = {};\nvar unsafe=0;\nvar minsToRain = parseInt(msg.payload);\nif ((minsToRain >=0) && (minsToRain < 46) )\n{\n   unsafe=1;\n}\nmsg.payload=unsafe;\nreturn msg;","outputs":"1","x":332.5833511352539,"y":1463.0832710266113,"wires":[["3fc1b8ac.fe4528"]]},{"id":"3fc1b8ac.fe4528","type":"mqtt out","z":"e0994af4.69f3c8","name":"Weather unsafe","topic":"weather/unsafe","broker":"35e1911a.494f1e","x":571.833381652832,"y":1464.0832710266113,"wires":[]},{"id":"4c52f601.705748","type":"function","z":"e0994af4.69f3c8","name":"Rain Warning Colour","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\n//if weather status switched off end flow now\nif(context.global.weatherStatus == \"0\")\n{\n   return null;\n}\nelse\n{\n\tvar red =0;\n\tvar blue =0;\n\tvar green =0;\n\t\n\tvar minsToRain = msg.payload;\n\t\n\tif (minsToRain == -1 || minsToRain > 45)\n\t{\n\t\tgreen=255;\n\t}\n\telse if (minsToRain == 0)\n\t{\n\t   red =255;\n\t}\n\telse\n\t{\n\t\t\tblue = (255 - (255 - (minsToRain*5)));\n\t        red = (255 - (minsToRain*5));\n\t        green =0;\n\t}\n\t\n\tmsg.payload = red + \",\" + green + \",\" + blue;\n}\nreturn msg;","outputs":1,"x":438.33338928222656,"y":1647.3332710266113,"wires":[["74e8fde4.0b5ea4","2efc1e99.7b2b82"]]},{"id":"74e8fde4.0b5ea4","type":"debug","z":"e0994af4.69f3c8","name":"rgb out","active":true,"complete":"false","x":718.3333892822266,"y":1695.3332710266113,"wires":[]},{"id":"f892f658.ab0248","type":"mqtt in","z":"e0994af4.69f3c8","name":"Minutes To Rain","topic":"weather/forecast/minsToRain","broker":"35e1911a.494f1e","x":103.58338928222656,"y":1658.083270072937,"wires":[["4c52f601.705748"]]},{"id":"2efc1e99.7b2b82","type":"mqtt out","z":"e0994af4.69f3c8","name":"Ambient Light Lounge 1","topic":"home/ambient/lounge/1","broker":"35e1911a.494f1e","x":771.0833892822266,"y":1604.5832710266113,"wires":[]},{"id":"2551f35c.ae99ec","type":"debug","z":"e0994af4.69f3c8","name":"","active":true,"complete":"false","x":488.6666946411133,"y":1221.9998970031738,"wires":[]},{"id":"464bbade.c21df4","type":"comment","z":"e0994af4.69f3c8","name":"Rain Forecaster","info":"","x":113.33335876464844,"y":1185.083270072937,"wires":[]},{"id":"b8304ee9.27522","type":"darksky","z":"e0994af4.69f3c8","darksky":"6607035d.6f950c","name":"Home","lon":"092.3747222","lat":"45.1416667","date":"","time":"","mode":"message","lang":"en","units":"us","x":319.5833625793457,"y":1277.0833015441895,"wires":[["2551f35c.ae99ec","fa696178.eb4e"]]},{"id":"2393e81a.ec7438","type":"debug","z":"e52a7c1.e42718","name":"","active":true,"complete":false,"x":543.8888854980469,"y":843.3333129882812,"wires":[]},{"id":"5197a55d.962efc","type":"inject","z":"e52a7c1.e42718","name":"","topic":"","payload":"","repeat":"","once":false,"x":143.88888549804688,"y":843.3333129882812,"wires":[["576b6eb1.2f38"]]},{"id":"576b6eb1.2f38","type":"function","z":"e52a7c1.e42718","name":"Format timestamp","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":343.8888854980469,"y":843.3333129882812,"wires":[["2393e81a.ec7438"]]},{"id":"4b72e48e.1f599c","type":"inject","z":"e52a7c1.e42718","name":"Tick","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150.00000762939453,"y":1117.777808189392,"wires":[["956a06c0.3b98f8"]]},{"id":"956a06c0.3b98f8","type":"http request","z":"e52a7c1.e42718","name":"UK Power","method":"GET","url":"http://realtimeweb-prod.nationalgrid.com/SystemData.aspx","x":309.99999237060547,"y":1117.7777783870697,"wires":[["a55990c4.657c5"]]},{"id":"a55990c4.657c5","type":"function","z":"e52a7c1.e42718","name":"UK Power Demand","func":"// does a simple text extract parse of the http output to provide an\n// object containing the uk power demand, frequency and time\n\nif (~msg.payload.indexOf('<span')) {\n    var dem = msg.payload.split('Demand:')[1].split(\"MW\")[0];\n    var fre = msg.payload.split('Frequency:')[1].split(\"Hz\")[0];\n\n    msg.payload = {};\n    msg.payload.demand = parseInt(dem.split(\">\")[1].split(\"<\")[0]);\n    msg.payload.frequency = parseFloat(fre.split(\">\")[1].split(\"<\")[0]);\n    \n    msg2 = {};\n    msg2.payload = (msg.payload.frequency >= 50) ? true : false;\n\n    return [msg,msg2];\n}\n\nreturn null;","outputs":"2","noerr":0,"x":509.2222137451172,"y":1116.6666450500488,"wires":[["70741f7.b4a44e"],["d72e3cfe.2d14b"]]},{"id":"70741f7.b4a44e","type":"debug","z":"e52a7c1.e42718","name":"","active":true,"complete":false,"x":710.3332748413086,"y":1050.0000019073486,"wires":[]},{"id":"d72e3cfe.2d14b","type":"debug","z":"e52a7c1.e42718","name":"","active":true,"complete":false,"x":714.6666488647461,"y":1177.6667003631592,"wires":[]},{"id":"126671e8.91faee","type":"comment","z":"e52a7c1.e42718","name":"Extract Text from HTML","info":"Flow extrats text from \n\nhttp://realtimeweb-prod.nationalgrid.com/SystemData.aspx\n\nDemand: 39958MW \n6:55:00 AM GMT \nFrequency: 49.902Hz \n6:57:45 AM GMT\n\nSystem Transfers\n\nN.Ireland to Great Britain: 298MW \nFrance to Great Britain: -1022MW \nNetherlands to GB: 1000MW \n12/1/2016 6:30:00 AM GMT \n\nNorth-South: 4500MW \nScot - Eng: 2869MW \n12/1/2016 7:00:00 AM GMT","x":176.1111068725586,"y":1014.4444980621338,"wires":[]},{"id":"2c5c889e.0afcb8","type":"function","z":"e0994af4.69f3c8","name":"weather","func":"summary= msg.payload.currently.summary;\nprecipProbability = msg.payload.currently.precipProbability;\nnearestStormDistance= msg.payload.currently.nearestStormDistance;\nvar summary={\n    payload: summary\n};\nvar stromdistMSG={\n    payload: \"Strom Distance: \" + nearestStormDistance\n};\nvar precipprobMSG={\n    payload: \"Probability of Percip: \" + precipProbability\n};\nreturn [ [ summary, stromdistMSG, precipprobMSG ] ];\n","outputs":1,"noerr":0,"x":640.6666412353516,"y":649.6945285797119,"wires":[["d26dd452.a9f0f8"]]},{"id":"456cd51b.ef73fc","type":"http request","z":"e0994af4.69f3c8","name":"weatherapi","method":"use","ret":"obj","url":"","tls":"","x":451.7777633666992,"y":649.6945009231567,"wires":[["2c5c889e.0afcb8"]]},{"id":"a560c88b.dae488","type":"function","z":"e0994af4.69f3c8","name":"Weather - Home","func":"context.global.weatherapitoken=\"8957af1085b3c3adcbd3e35c7c41d0dc\"\ncontext.global.weatherlatlong=\"45.141574, -93.374866\"\nif (context.global.weatherapi!==\"\")\n{\n var newMsg={\n \"url\":\"https://api.darksky.net/forecast/\"+context.global.weatherapitoken+\"/\"+context.global.weatherlatlong+\"?exclude=hourly,daily,alerts,flags\",\n \"method\": \"GET\",\n headers: {\n \"Content-Type\":\"application/json;charset=UTF-8\",\n }\n };\n}\nelse {\n var newMsg={\n \"url\":\"127.0.0.1\",\n \"method\":\"GET\"\n }\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":255.11106491088867,"y":650.8055076599121,"wires":[["456cd51b.ef73fc"]]},{"id":"60f9a600.4b658c","type":"inject","z":"e0994af4.69f3c8","name":"Injector","topic":"weatherapi","payload":"45.1416667,092.3747222","payloadType":"str","repeat":"","crontab":"","once":false,"x":93.99997329711914,"y":651.9167766571045,"wires":[["a560c88b.dae488"]]},{"id":"d26dd452.a9f0f8","type":"mqtt out","z":"e0994af4.69f3c8","name":"Storm Broadcast","topic":"weather/storm","qos":"","retain":"","broker":"35e1911a.494f1e","x":871.9166870117188,"y":610.2501831054688,"wires":[]},{"id":"e3b5c50e.640448","type":"mqtt in","z":"e0994af4.69f3c8","name":"Storm Broadcast","topic":"weather/storm","qos":"2","broker":"35e1911a.494f1e","x":1136.9166717529297,"y":614.0002202987671,"wires":[["4ae6a56f.31b69c"]]},{"id":"4ae6a56f.31b69c","type":"debug","z":"e0994af4.69f3c8","name":"","active":false,"console":"false","complete":"true","x":1305.9444541931152,"y":612.4724197387695,"wires":[]},{"id":"9e990eb4.76fb7","type":"comment","z":"e0994af4.69f3c8","name":"Storm Alert Broadcast","info":"S","x":130.66664505004883,"y":596.777904510498,"wires":[]},{"id":"d742e126.003c6","type":"switch","z":"e0994af4.69f3c8","name":"Evaulate Storm Distance","property":"payload.currently.nearestStormDistance","propertyType":"msg","rules":[{"t":"lt","v":"500","vt":"num"},{"t":"gte","v":"500","vt":"num"}],"checkall":"true","outputs":2,"x":839.2083549499512,"y":692.7500219345093,"wires":[["34cae7eb.b6b5d8"],["427570bd.b7752"]]},{"id":"427570bd.b7752","type":"debug","z":"e0994af4.69f3c8","name":"Storm is not near","active":false,"console":"false","complete":"true","x":1127.9583625793457,"y":752.7500247955322,"wires":[]},{"id":"348e2f27.a7e37","type":"mqtt out","z":"e0994af4.69f3c8","name":"Storm within 500 miles","topic":"weather\\stormalert\\stormnear","qos":"0","retain":"","broker":"35e1911a.494f1e","x":1397.9583625793457,"y":701.5000238418579,"wires":[]},{"id":"6d91d287.6d0e6c","type":"debug","z":"e0994af4.69f3c8","name":"Storm within 500","active":false,"console":"false","complete":"true","x":1345.4583625793457,"y":780.2500238418579,"wires":[]},{"id":"34cae7eb.b6b5d8","type":"function","z":"e0994af4.69f3c8","name":"Storm Distance","func":"precipProbability = msg.payload.currently.precipProbability;\nnearestStormDistance= msg.payload.currently.nearestStormDistance;\nvar stromdistMSG={\n    payload: \"Strom Distance: \" + nearestStormDistance\n};\nvar precipprobMSG={\n    payload: \"Probability of Percip: \" + precipProbability\n};\nreturn [ [ stromdistMSG, precipprobMSG ] ];\n","outputs":1,"noerr":0,"x":1114.8333625793457,"y":697.7500228881836,"wires":[["6d91d287.6d0e6c","348e2f27.a7e37"]]},{"id":"8b31b3b0.d0c9c","type":"switch","z":"e0994af4.69f3c8","name":"Evaluate Percipitation","property":"payload.currently. precipProbability","propertyType":"msg","rules":[{"t":"lte","v":".75","vt":"num"},{"t":"gt","v":".76","vt":"num"}],"checkall":"true","outputs":2,"x":863.0178680419922,"y":1034.5952339172363,"wires":[["4aaeec73.5525b4"],["d9c20aef.b98cd8"]]},{"id":"4aaeec73.5525b4","type":"change","z":"e0994af4.69f3c8","name":"Rain Unlikely","rules":[{"t":"set","p":"payload.note","pt":"msg","to":"Rain Unlikely","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1069.8035583496094,"y":991.3809261322021,"wires":[["ab18aa2f.721a88"]]},{"id":"d9c20aef.b98cd8","type":"change","z":"e0994af4.69f3c8","name":"Rain Likely","rules":[{"t":"set","p":"payload.note","pt":"msg","to":"Rain Likely","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1068.8213500976562,"y":1091.0238065719604,"wires":[["ab18aa2f.721a88"]]},{"id":"ab18aa2f.721a88","type":"mqtt out","z":"e0994af4.69f3c8","name":"Percipitation?","topic":"weather/rain","qos":"","retain":"","broker":"35e1911a.494f1e","x":1289.7142857142856,"y":1038.5237974439349,"wires":[]},{"id":"c5451bd4.6f4a68","type":"debug","z":"e0994af4.69f3c8","name":"","active":false,"console":"false","complete":"false","x":1328.83349609375,"y":90.33335876464844,"wires":[]},{"id":"99fc7efa.4e61b","type":"http request","z":"e0994af4.69f3c8","name":"weatherapi","method":"use","ret":"obj","url":"","tls":"","x":481.44439697265625,"y":123.99995422363281,"wires":[["3706de9a.fc2f62","31a25007.9fb16","ebd17d4b.629a","5f598206.540e0c","cf891f97.adabd","e2e96757.0b6bb8","2fc2743d.3ec6cc","708c0f21.9db14"]]},{"id":"33e373c.dc1608c","type":"function","z":"e0994af4.69f3c8","name":"Weather - Home","func":"context.global.weatherapitoken=\"8957af1085b3c3adcbd3e35c7c41d0dc\"\ncontext.global.weatherlatlong=\"45.141574, -93.374866\"\nif (context.global.weatherapi!==\"\")\n{\n var newMsg={\n \"url\":\"https://api.darksky.net/forecast/\"+context.global.weatherapitoken+\"/\"+context.global.weatherlatlong+\"?exclude=alerts,flags\",\n \"method\": \"GET\",\n headers: {\n \"Content-Type\":\"application/json;charset=UTF-8\",\n }\n };\n}\nelse {\n var newMsg={\n \"url\":\"127.0.0.1\",\n \"method\":\"GET\"\n }\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":299.4443893432617,"y":124.44430255889893,"wires":[["99fc7efa.4e61b"]]},{"id":"2b59cc82.c7dc74","type":"inject","z":"e0994af4.69f3c8","name":"Every Hour","topic":"weatherapi","payload":"45.1416667,092.3747222","payloadType":"str","repeat":"3600","crontab":"","once":false,"x":109.99995422363281,"y":125.55559062957764,"wires":[["33e373c.dc1608c"]]},{"id":"3706de9a.fc2f62","type":"function","z":"e0994af4.69f3c8","name":"Weather Icons","func":"summaryicon = msg.payload.currently.icon;\nminuteicon = msg.payload.minutely.icon;\nhouricon = msg.payload.hourly.icon;\ndailyicon = msg.payload.daily.icon;\n\n//Summary Icons\n\nvar summaryMSG={ \n    payload: summaryicon\n};\nvar minuteMSG={\n    payload: minuteicon\n};\nvar hourMSG={\n    payload: houricon\n};\nvar dailyMSG={\n    payload: dailyicon\n};\n\nreturn [ [ summaryMSG, minuteMSG, hourMSG, dailyMSG ] ];\n\n","outputs":"1","noerr":0,"x":693.3332595825195,"y":88.33332061767578,"wires":[["5820c3f2.5f3b3c"]]},{"id":"31a25007.9fb16","type":"function","z":"e0994af4.69f3c8","name":"Weather Summary","func":"summary = msg.payload.currently.summary;\nminute = msg.payload.minutely.summary;\nhour = msg.payload.hourly.summary;\ndaily = msg.payload.daily.summary;\n\n//Descriptions\n\n\nvar weatherMSG={ \n    payload: {'Currently': + summary}\n};\n\nreturn weatherMSG;\n\n\n/*\n    payload: {'Currently': +summary, 'Hourly': +hour, 'Daily': +daily}\n\n\nvar summarydescMSG={ \n    payload: summary\n};\n\nvar minutedescMSG={\n    payload: minute\n};\nvar hourdescMSG={\n    payload: hour\n};\nvar dailydescMSG={\n    payload: daily\n};\n\nreturn [ [summarydescMSG, minutedescMSG, hourdescMSG, dailydescMSG ] ];\n*/\n","outputs":1,"noerr":0,"x":700.166748046875,"y":165.6666259765625,"wires":[["9a4ff383.b48ed"]]},{"id":"1c0ba703.f6a929","type":"mqtt in","z":"e0994af4.69f3c8","name":"Weather Icons","topic":"weather\\icons","qos":"2","broker":"35e1911a.494f1e","x":1119.1666717529297,"y":89.99999046325684,"wires":[["c5451bd4.6f4a68"]]},{"id":"5820c3f2.5f3b3c","type":"mqtt out","z":"e0994af4.69f3c8","name":"Weather Icons","topic":"weather\\icons","qos":"","retain":"","broker":"35e1911a.494f1e","x":915.8332951863606,"y":88.33332856496173,"wires":[]},{"id":"977f0b74.75a988","type":"comment","z":"e0994af4.69f3c8","name":"Broadcast Hourly Weather Status","info":"","x":144.1666717529297,"y":48.33333396911621,"wires":[]},{"id":"bf56bc90.6d29","type":"mqtt out","z":"51598847.36e3a8","name":"Ecobee3 Temp Broadcast","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":1230,"y":540,"wires":[]},{"id":"5d57039d.8e91ec","type":"mqtt in","z":"51598847.36e3a8","name":"Ecobee3 Temp Broadcast","topic":"ecobee3\\temp","qos":"2","broker":"35e1911a.494f1e","x":1470,"y":460,"wires":[["38cbe94b.811f86"]]},{"id":"38cbe94b.811f86","type":"debug","z":"51598847.36e3a8","name":"","active":true,"console":"false","complete":"true","x":1670,"y":460,"wires":[]},{"id":"9a4ff383.b48ed","type":"mqtt out","z":"e0994af4.69f3c8","name":"Weather Summary","topic":"weather\\summary","qos":"","retain":"","broker":"35e1911a.494f1e","x":921.5,"y":165,"wires":[]},{"id":"15cb9aa0.bfc665","type":"mqtt in","z":"e0994af4.69f3c8","name":"Weather Summary","topic":"weather\\summary","qos":"2","broker":"35e1911a.494f1e","x":1136.5,"y":170,"wires":[["a8302c5b.60c4f"]]},{"id":"a8302c5b.60c4f","type":"debug","z":"e0994af4.69f3c8","name":"","active":false,"console":"false","complete":"false","x":1327.5,"y":169,"wires":[]},{"id":"c4a813.0a1307f","type":"darksky","z":"e0994af4.69f3c8","darksky":"6607035d.6f950c","name":"Home","lon":"092.3747222","lat":"45.1416667","date":"","time":"","mode":"message","lang":"en","units":"us","x":272.3333053588867,"y":830.6666507720947,"wires":[["6410da03.5ffc84"]]},{"id":"4c4ffcd1.c64674","type":"debug","z":"e0994af4.69f3c8","name":"","active":true,"console":"false","complete":"true","x":623.1666450500488,"y":824.0000228881836,"wires":[]},{"id":"f5dbf3d9.c8bc5","type":"inject","z":"e0994af4.69f3c8","name":"Injector","topic":"weatherapi","payload":"45.1416667,092.3747222","payloadType":"str","repeat":"","crontab":"","once":false,"x":102.33332443237305,"y":835.6666522026062,"wires":[["c4a813.0a1307f"]]},{"id":"2f4ffd86.3ad532","type":"function","z":"e0994af4.69f3c8","name":"","func":"var weather=msg.payload.weather;\n\nvar weathermsg={\n    payload: weather\n};\n\nreturn weathermsg;","outputs":1,"noerr":0,"x":529.0000076293945,"y":972.7500143051147,"wires":[["4c4ffcd1.c64674"]]},{"id":"42040fe6.4c9f6","type":"json","z":"e0994af4.69f3c8","name":"","x":444.8333257039387,"y":832.3333352406819,"wires":[[]]},{"id":"ebd17d4b.629a","type":"function","z":"e0994af4.69f3c8","name":"Sunset","func":"if (msg.payload.currently.summary.length >1){ \nvar temp = msg.payload.currently.temperature;\nvar feelslike = msg.payload.currently.apparentTemperature;\nvar windspeed = msg.payload.currently.windSpeed;\nvar precipProbability = msg.payload.currently.precipProbability;\nvar precipType = msg.payload.currently.precipType;\nvar summary = msg.payload.currently.summary;\nvar sunset = msg.payload.daily.data.sunsetTime;\nvar dailyicon = msg.payload.daily.data;\nmsg.payload = {};\nmsg.payload.temp= temp;\nmsg.payload.feelslike = feelslike;\nmsg.payload.sunset = sunset;\n\nmsg2 = {};\n    msg2.payload = (\"Fuck\");\n\nreturn [msg, msg2];\n}\n\n/*\n\nif (msg.payload.currently.summary.length >1){ \n    msg.payload ={\"weather\":[{\"id\": \"summary\", \"value\": summary}]};\n    return msg;\n}\nreturn \"bad.\";\n\n\n\n\n//Descriptions\nvar tempMSG={ \n    payload: temp\n};\nvar feelslikeMSG={\n    payload: feelslike\n};\nvar windspeedMSG={\n    payload: windspeed\n};\nvar precipProbabilityMSG={\n    payload: precipProbability\n};\nvar precipTypeMSG={\n    payload: precipType\n};\n\n\nreturn [ [tempMSG, feelslikeMSG, windspeedMSG, precipProbabilityMSG, precipTypeMSG ] ];\n*/\n","outputs":1,"noerr":0,"x":672.083381652832,"y":235.4166603088379,"wires":[["a9b7ed0.a11aa1"]]},{"id":"6410da03.5ffc84","type":"change","z":"e0994af4.69f3c8","name":"","rules":[{"t":"delete","p":"payload.hourly","pt":"msg"},{"t":"delete","p":"payload.minutely","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460.25000762939453,"y":892.7500133514404,"wires":[["4c4ffcd1.c64674"]]},{"id":"149445a7.170bca","type":"function","z":"e52a7c1.e42718","name":"broker def node","func":"// pass in: msg.parameters.broker\n\nnode_type = \"mqtt-broker\";\nmsg.id = msg.id + 1;\n\nmsg.payload.push({\n        id: msg.id,\n        type: node_type,\n        broker: msg.parameters.broker,\n        port: \"1883\"\n      });\n\n// store the broker def ID so we can refer to it in the output node\nmsg.defs = {broker: msg.id,\n \t\t\t// how far apart are nodes horizontally\n     \t \tspacing: 150}; \n\n\nreturn msg;","outputs":1,"x":490.1785469055176,"y":1734.2856521606445,"wires":[["674c3c3f.f5ea34"]]},{"id":"5a808d7b.e07364","type":"inject","z":"e52a7c1.e42718","name":"parameters","topic":"","payload":"{\"broker\":\"localhost\",\"input\":\"source_topic\",\"output\":\"destination_topic\",\"process\":\"msg.payload = \\\"* \\\"+msg.payload+\\\" *\\\";\\nreturn msg;\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":173.4642562866211,"y":1734.2857627868652,"wires":[["a143e4b1.974ff8"]]},{"id":"a143e4b1.974ff8","type":"function","z":"e52a7c1.e42718","name":"initialise","func":"// create the parameters object from the incoming JSON object\nconsole.log(msg.payload);\nmsg.parameters = JSON.parse(msg.payload);\n\n// we're going to create an array of objects\nmsg.payload = [];\nmsg.id = 0;\n\nreturn msg;","outputs":1,"x":315.4642562866211,"y":1734.2857627868652,"wires":[["149445a7.170bca"]]},{"id":"674c3c3f.f5ea34","type":"function","z":"e52a7c1.e42718","name":"MQTT in node","func":"// pass in msg.parameters.input\n\nnode_type = \"mqtt in\";\nprevious_id = msg.id;\n\nmsg.id = msg.id + 1;\n\nmsg.payload.push({\n        id: msg.id,\n        type: node_type,\n        topic: msg.parameters.input,\n        broker: msg.defs.broker,\n        name: \"input\",\n\t\tx: 100,\n\t\ty: 100,\n\t\twires: []\n      });\n\nreturn msg;","outputs":1,"x":704.4643173217773,"y":1732.5714182853699,"wires":[["277dc4b8.d9d85c"]]},{"id":"277dc4b8.d9d85c","type":"function","z":"e52a7c1.e42718","name":"function node","func":"// pass in msg.parameters.process\n\nnode_type = \"function\";\nprevious_id = msg.id;\n\nmsg.id = msg.id + 1;\n\n// fill in the wires link in previous node\nmsg.payload[msg.payload.length-1].wires.push([msg.id]);\nnew_x = msg.payload[msg.payload.length-1].x + msg.defs.spacing;\nnew_y = msg.payload[msg.payload.length-1].y;\n\nmsg.payload.push({\n        id: msg.id,\n        type: node_type,\n        name: \"process\",\n        func: msg.parameters.process,\n        outputs: 1,\n\t\tx: new_x,\n\t\ty: new_y,\n\t\twires: []\n      });\n\nreturn msg;","outputs":1,"x":912.321403503418,"y":1728.0000925064087,"wires":[["6d3eb8f.043d348"]]},{"id":"6d3eb8f.043d348","type":"function","z":"e52a7c1.e42718","name":"MQTT out node","func":"// pass in msg.parameters.output\n \t\t   \n\nnode_type = \"mqtt out\";\nprevious_id = msg.id;\n\nmsg.id = msg.id + 1;\n\n// fill in the wires link in previous node\nmsg.payload[msg.payload.length-1].wires.push([msg.id]);\nnew_x = msg.payload[msg.payload.length-1].x + msg.defs.spacing;\nnew_y = msg.payload[msg.payload.length-1].y;\n\n\nmsg.payload.push({\n        id: msg.id,\n        type: node_type,\n        topic: msg.parameters.output,\n        broker: msg.defs.broker,\n        name: \"output\",\n\t\tx: new_x,\n\t\ty: new_y,\n\t\twires: []\n      });\n\nreturn msg;","outputs":1,"x":1104.1785278320312,"y":1792.1430015563965,"wires":[["2af7059b.97c61a"]]},{"id":"2af7059b.97c61a","type":"debug","z":"e52a7c1.e42718","name":"","active":true,"complete":"false","x":1130.7499771118164,"y":1859.2857341766357,"wires":[]},{"id":"ed390dad.3419a","type":"comment","z":"e52a7c1.e42718","name":"generate \"mqtt - process - mqtt\" flow","info":"publish  to \"configure\" topic:\n\n{\n  \"broker\":\"localhost\",\n  \"input\":\"source_topic\",\n  \"output\":\"destination_topic\",\n  \"process\":\"msg.payload = \\\"* \\\"+msg.payload+\\\" *\\\";\\nreturn msg;\"\n}","x":222.4642562866211,"y":1676.2857627868652,"wires":[]},{"id":"41aebdf4.a1de24","type":"inject","z":"e52a7c1.e42718","name":"Yahoo Finance","topic":"","payload":"x","payloadType":"str","repeat":"","crontab":"","once":false,"x":149.04762649536133,"y":1254.6189492940903,"wires":[["8bc85423.702dd8"]]},{"id":"cefce711.aa9948","type":"html","z":"e52a7c1.e42718","name":"Get Indexes","tag":"l84","ret":"html","as":"single","x":528.1905479431152,"y":1253.4761270284653,"wires":[["32604b6d.f08614"]]},{"id":"32604b6d.f08614","type":"debug","z":"e52a7c1.e42718","name":"","active":true,"console":"false","complete":"true","x":732.1903953552246,"y":1252.0476602315903,"wires":[]},{"id":"8bc85423.702dd8","type":"http request","z":"e52a7c1.e42718","name":"Market Indexes","method":"GET","ret":"txt","url":"http://finance.yahoo.com/market-overview?bypass=true","tls":"","x":345.190486907959,"y":1253.4762490987778,"wires":[["cefce711.aa9948"]]},{"id":"d49ac2e2.351cf","type":"function","z":"e52a7c1.e42718","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":514.9999705723353,"y":1912.8571913582937,"wires":[[]]},{"id":"3bb3faf.c320e06","type":"mqtt out","z":"e52a7c1.e42718","name":"","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":995.7142944335938,"y":2197.142822265625,"wires":[]},{"id":"25c5f9c5.ec5cd6","type":"inject","z":"e52a7c1.e42718","name":"\"print power.percent\" Command Example","topic":"","payload":"{\"troop\": \"1\", \"scout\": \"1\", \"topic\": \"result\", \"command\": \"print power.percent\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":208.10713958740234,"y":2277.214250564575,"wires":[["99a3724d.1f559"]]},{"id":"e0a6047f.eff058","type":"http request","z":"e52a7c1.e42718","name":"REST POST","method":"POST","url":"https://api.pinocc.io/v1/{{troop}}/{{scout}}/command?token={{token}}","x":605.4642944335938,"y":2197.392822265625,"wires":[["3c25fd07.01b792"]]},{"id":"3c25fd07.01b792","type":"function","z":"e52a7c1.e42718","name":"Prepare Output","func":"data = JSON.parse(msg.payload);\n\nreply = { payload: data.data.reply.trim() , topic: msg.topic, retain: 1, troop: msg.troop, scout: msg.scout};\ntstamp = { payload: data.data._t, topic: msg.topic + \"/tstamp\", retain: 1, troop: msg.troop, scout: msg.scout};\n\n\nreturn [ reply, tstamp ];","outputs":"2","x":788.4642944335938,"y":2197.392822265625,"wires":[["3bb3faf.c320e06"],["3bb3faf.c320e06"]]},{"id":"1b8c7788.14def8","type":"inject","z":"e52a7c1.e42718","name":"Pinoccio Config","topic":"pinoccio/v1/","payload":"{ \"token\": \"yourtokenhere\" }","payloadType":"string","repeat":"","crontab":"","once":true,"x":127.75000762939453,"y":2396.392827987671,"wires":[["c842a5d6.a90b38"]]},{"id":"c842a5d6.a90b38","type":"function","z":"e52a7c1.e42718","name":"Set Global Variables","func":"// set global variables\ndata = JSON.parse(msg.payload);\ncontext.global.pinoccio_token = data.token;\ncontext.global.pinoccio_basetopic = msg.topic;\n\nreturn msg;","outputs":1,"x":395.25000762939453,"y":2396.3928508758545,"wires":[[]]},{"id":"99a3724d.1f559","type":"function","z":"e52a7c1.e42718","name":"Prepare Api Call","func":"data = JSON.parse(msg.payload);\n\nmsg.token = context.global.pinoccio_token;\nmsg.topic = context.global.pinoccio_basetopic+\"/\"+data.troop+\"/\"+data.scout+\"/\"+data.topic;\nmsg.troop = data.troop;\nmsg.scout = data.scout;\n\nreturn msg;","outputs":1,"noerr":0,"x":402.21429443359375,"y":2197.392822265625,"wires":[["e0a6047f.eff058"]]},{"id":"f84033ce.20fab","type":"comment","z":"e52a7c1.e42718","name":"Api Token and Base Topic Config","info":"Token is obtained by calling:\n\ncurl -X POST -v --data '{\"email\":\"youremail\",\"password\":\"boats\"}' https://api.pinocc.io/v1/login\n\nBase topic is configured by setting \"Pinoccio Config\" topic property and is then stored\nand use as a \"root\" topic for output","x":217.75000762939453,"y":2350.3928203582764,"wires":[]},{"id":"92213c6c.cca06","type":"mqtt in","z":"e52a7c1.e42718","name":"","topic":"pinoccio/command","qos":"2","broker":"35e1911a.494f1e","x":114.46429443359375,"y":2197.392822265625,"wires":[["99a3724d.1f559"]]},{"id":"f3e2c3a9.12ffd","type":"comment","z":"e52a7c1.e42718","name":"Input Stage","info":"","x":88.46429443359375,"y":2120.392822265625,"wires":[]},{"id":"5f598206.540e0c","type":"mqtt out","z":"e0994af4.69f3c8","name":"Raw Weather","topic":"weather","qos":"0","retain":"","broker":"35e1911a.494f1e","x":677.7500076293945,"y":298.0000047683716,"wires":[]},{"id":"7af3825b.2d40fc","type":"inject","z":"e52a7c1.e42718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":126.99999999999997,"y":2653.9999999999995,"wires":[["e7b7301f.9e891"]]},{"id":"e7b7301f.9e891","type":"http request","z":"e52a7c1.e42718","name":"Earthquake","method":"GET","ret":"txt","url":"http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.geojson","tls":"","x":304,"y":2654,"wires":[["6ec47bef.7df534"]]},{"id":"6ec47bef.7df534","type":"json","z":"e52a7c1.e42718","name":"","x":487,"y":2656,"wires":[["dabd6849.0549f8"]]},{"id":"dabd6849.0549f8","type":"function","z":"e52a7c1.e42718","name":"","func":"var outputMsgs = [];\n\nfor (i=0;i < msg.payload.features.length - 1;i++)\n    var feature = msg.payload.features[i];\n    outputMsgs.push(\n        {payload: { lat: feature.geometry.coordinates[1],\n                    lng: feature.geometry.coordinates[0],\n                    value: feature.properties.mag,\n                    message: feature.properties.place,\n                    timestamp: feature.properties.time\n                }\n        });    \n};\nvar msg2 = {payload: \"Second Output\"\nreturn [[ outputMsgs, msg2]]","outputs":"2","noerr":0,"x":639,"y":2662,"wires":[["a82eee83.fe261"],["bf7cd1e5.d2408"]]},{"id":"a82eee83.fe261","type":"debug","z":"e52a7c1.e42718","name":"","active":true,"console":"false","complete":"false","x":852.9999999999998,"y":2611.9999999999995,"wires":[]},{"id":"bf7cd1e5.d2408","type":"debug","z":"e52a7c1.e42718","name":"","active":true,"console":"false","complete":"false","x":840.9999999999998,"y":2721.9999999999995,"wires":[]},{"id":"4dc58562.9a0bfc","type":"debug","z":"e0994af4.69f3c8","name":"","active":true,"console":"false","complete":"true","x":507.33342361450195,"y":1973.6664180755615,"wires":[]},{"id":"9826df45.2e0f1","type":"http request","z":"e0994af4.69f3c8","name":"weatherapi","method":"use","ret":"obj","url":"","tls":"","x":314.55559158325195,"y":2104.0632066726685,"wires":[["5df13515.e64e2c"]]},{"id":"d232e507.879c38","type":"function","z":"e0994af4.69f3c8","name":"Weather - Home","func":"context.global.weatherapitoken=\"8957af1085b3c3adcbd3e35c7c41d0dc\"\ncontext.global.weatherlatlong=\"45.141574, -93.374866\"\nif (context.global.weatherapi!==\"\")\n{\n var newMsg={\n \"url\":\"https://api.darksky.net/forecast/\"+context.global.weatherapitoken+\"/\"+context.global.weatherlatlong+\"?exclude=alerts,flags\",\n \"method\": \"GET\",\n headers: {\n \"Content-Type\":\"application/json;charset=UTF-8\",\n }\n };\n}\nelse {\n var newMsg={\n \"url\":\"127.0.0.1\",\n \"method\":\"GET\"\n }\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":253.25395965576172,"y":2005.9202327728271,"wires":[["9826df45.2e0f1"]]},{"id":"3eefd1a3.b2b34e","type":"inject","z":"e0994af4.69f3c8","name":"dev","topic":"weatherapi","payload":"45.1416667,092.3747222","payloadType":"str","repeat":"","crontab":"","once":false,"x":96.66668701171875,"y":2006.5554332733154,"wires":[["d232e507.879c38"]]},{"id":"5df13515.e64e2c","type":"function","z":"e0994af4.69f3c8","name":"Test Temp","func":"var outputmsg1 = [];\n\nfor (i=0;i < msg.payload.currently.length - 1;i++){\n    var currently = msg.payload.currently[i];\n    outputmsg1.push(\n        {payload: \"good job\" + currently\n        });\n}\n\nvar outputmsg2 = {payload: \"Second Msg\"};\nreturn [[ outputmsg1, outputmsg2]];","outputs":"2","noerr":0,"x":556.857120513916,"y":2129.9840812683105,"wires":[[],["673a28a.7d14fd8"]]},{"id":"2f701835.3d9ca8","type":"debug","z":"e0994af4.69f3c8","name":"","active":true,"console":"false","complete":"false","x":859.2380790710449,"y":2076.4124088287354,"wires":[]},{"id":"673a28a.7d14fd8","type":"debug","z":"e0994af4.69f3c8","name":"","active":true,"console":"false","complete":"false","x":775.3333740234375,"y":2169.333251953125,"wires":[]},{"id":"62f0774c.bb9918","type":"inject","z":"e52a7c1.e42718","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":102.5,"y":3138.75,"wires":[["fed75689.e78428"]]},{"id":"fed75689.e78428","type":"function","z":"e52a7c1.e42718","name":"books","func":"msg.payload =\n{\n  \"store\": {\n    \"book\": [\n      {\n        \"category\": \"reference\",\n        \"author\": \"Nigel Rees\",\n        \"title\": \"Sayings of the Century\",\n        \"price\": 8.95\n      },{\n        \"category\": \"fiction\",\n        \"author\": \"Evelyn Waugh\",\n        \"title\": \"Sword of Honour\",\n        \"price\": 12.99\n      },{\n        \"category\": \"fiction\",\n        \"author\": \"Herman Melville\",\n        \"title\": \"Moby Dick\",\n        \"isbn\": \"0-553-21311-3\",\n        \"price\": 8.99\n      },{\n        \"category\": \"fiction\",\n        \"author\": \"J. R. R. Tolkien\",\n        \"title\": \"The Lord of the Rings\",\n        \"isbn\": \"0-395-19395-8\",\n        \"price\": 22.99\n      }\n    ],\n    \"bicycle\": {\n      \"color\": \"red\",\n      \"price\": 19.95\n    }\n  }\n};\nvar output = [];\nfor(i=0; i<13; i++){output.push(msg);};\n\nreturn output;","outputs":"13","x":254.5,"y":3137.75,"wires":[["3faef8c5.c77288"],["5e25f228.24d55c"],["16f9b450.00625c"],["86af9771.ecc3a8"],["ed9b6c29.e84ff"],["51e5c1ac.f08c1"],["8cee64f7.f06948"],["ad7546c2.712a88"],["8627a294.a3cb3"],["9288cc6d.ad427"],["af0e20f2.a66b5"],["54c6193a.eb6958"],["b574600e.ccb5f"]]},{"id":"3faef8c5.c77288","type":"jsonpath","z":"e52a7c1.e42718","expression":"$.store.book[*].author","split":false,"name":"$.store.book[*].author","x":585.5,"y":2873.75,"wires":[["d1c8acec.1f212"]]},{"id":"d1c8acec.1f212","type":"debug","z":"e52a7c1.e42718","name":"the authors of all books in the store","active":true,"console":"false","complete":"false","x":872.5,"y":2873.75,"wires":[]},{"id":"5e25f228.24d55c","type":"jsonpath","z":"e52a7c1.e42718","expression":"$..author","split":false,"name":"$..author","x":545.5,"y":2923.75,"wires":[["1d7810de.e9a67f"]]},{"id":"1d7810de.e9a67f","type":"debug","z":"e52a7c1.e42718","name":"all authors","active":true,"console":"false","complete":"false","x":796.5,"y":2923.75,"wires":[]},{"id":"16f9b450.00625c","type":"jsonpath","z":"e52a7c1.e42718","expression":"$.store.*","split":false,"name":"$.store.*","x":541.5,"y":2973.75,"wires":[["c855e22a.68762"]]},{"id":"c855e22a.68762","type":"debug","z":"e52a7c1.e42718","name":"all things in store","active":true,"console":"false","complete":"false","x":818.5,"y":2973.75,"wires":[]},{"id":"86af9771.ecc3a8","type":"jsonpath","z":"e52a7c1.e42718","expression":"$.store..price","split":false,"name":"$.store..price","x":557.5,"y":3023.75,"wires":[["98584e68.ebda5"]]},{"id":"98584e68.ebda5","type":"debug","z":"e52a7c1.e42718","name":"the price of everything in the store","active":true,"console":"false","complete":"false","x":874.5,"y":3023.75,"wires":[]},{"id":"ed9b6c29.e84ff","type":"jsonpath","z":"e52a7c1.e42718","expression":"$..book[2]","split":false,"name":"$..book[2]","x":549.5,"y":3073.75,"wires":[["5551bbf7.c1dc94"]]},{"id":"5551bbf7.c1dc94","type":"debug","z":"e52a7c1.e42718","name":"the third book","active":true,"console":"false","complete":"false","x":810.5,"y":3073.75,"wires":[]},{"id":"51e5c1ac.f08c1","type":"jsonpath","z":"e52a7c1.e42718","expression":"$..book[(@.length-1)]","split":false,"name":"$..book[(@.length-1)]","x":585.5,"y":3123.75,"wires":[["725c3ce7.e90324"]]},{"id":"725c3ce7.e90324","type":"debug","z":"e52a7c1.e42718","name":"the last book in order","active":true,"console":"false","complete":"false","x":836.5,"y":3123.75,"wires":[]},{"id":"8cee64f7.f06948","type":"jsonpath","z":"e52a7c1.e42718","expression":"$..book[-1:]","split":false,"name":"$..book[-1:]","x":552.5,"y":3173.75,"wires":[["d39a4e77.a6998"]]},{"id":"d39a4e77.a6998","type":"debug","z":"e52a7c1.e42718","name":"the last book in order","active":true,"console":"false","complete":"false","x":832.5,"y":3173.75,"wires":[]},{"id":"ad7546c2.712a88","type":"jsonpath","z":"e52a7c1.e42718","expression":"$..book[0,1]","split":false,"name":"$..book[0,1]","x":552.5,"y":3223.75,"wires":[["9f00b875.9b8358"]]},{"id":"9f00b875.9b8358","type":"debug","z":"e52a7c1.e42718","name":"the first two books","active":true,"console":"false","complete":"false","x":823.5,"y":3223.75,"wires":[]},{"id":"8627a294.a3cb3","type":"jsonpath","z":"e52a7c1.e42718","expression":"$..book[:2]","split":false,"name":"$..book[:2]","x":548.5,"y":3273.75,"wires":[["2897a784.5213a8"]]},{"id":"2897a784.5213a8","type":"debug","z":"e52a7c1.e42718","name":"the first two books","active":true,"console":"false","complete":"false","x":822.5,"y":3273.75,"wires":[]},{"id":"9288cc6d.ad427","type":"jsonpath","z":"e52a7c1.e42718","expression":"$..book[?(@.isbn)]","split":false,"name":"$..book[?(@.isbn)]","x":572.5,"y":3323.75,"wires":[["3d9b1de6.a49772"]]},{"id":"3d9b1de6.a49772","type":"debug","z":"e52a7c1.e42718","name":"filter all books with isbn number","active":true,"console":"false","complete":"false","x":858.5,"y":3323.75,"wires":[]},{"id":"af0e20f2.a66b5","type":"jsonpath","z":"e52a7c1.e42718","expression":"$..book[?(@.price<10)]","split":false,"name":"$..book[?(@.price<10)]","x":584.5,"y":3373.75,"wires":[["5c31ba69.677334"]]},{"id":"5c31ba69.677334","type":"debug","z":"e52a7c1.e42718","name":"filter all books cheapier than 10","active":true,"console":"false","complete":"false","x":856.5,"y":3373.75,"wires":[]},{"id":"54c6193a.eb6958","type":"jsonpath","z":"e52a7c1.e42718","expression":"$..[?(@.price>19)]","split":false,"name":"$..[?(@.price>19)]","x":572.5,"y":3423.75,"wires":[["687369e.76b3998"]]},{"id":"687369e.76b3998","type":"debug","z":"e52a7c1.e42718","name":"categories with things more expensive than 19","active":true,"console":"false","complete":"false","x":903.5,"y":3423.75,"wires":[]},{"id":"b574600e.ccb5f","type":"jsonpath","z":"e52a7c1.e42718","expression":"$..*","split":false,"name":"$..*","x":535.5,"y":3473.75,"wires":[["52cf54d8.6c3d4c"]]},{"id":"52cf54d8.6c3d4c","type":"debug","z":"e52a7c1.e42718","name":"all members of JSON structure","active":true,"console":"false","complete":"false","x":859.5,"y":3473.75,"wires":[]},{"id":"3d40dd3c.a0ee72","type":"comment","z":"e52a7c1.e42718","name":"SEE ALSO","info":"1. http://goessner.net/articles/JsonPath/\n2. https://www.npmjs.org/package/JSONPath\n3. https://groups.google.com/forum/#!topic/node-red/CbWA7t3JHS4/discussion\n4. https://github.com/kmi/node-red-contrib-jsonpath","x":68.5,"y":3503.75,"wires":[]},{"id":"66846232.996bcc","type":"function","z":"e0994af4.69f3c8","name":"JSON Parse","func":"var objJson = JSON.parse(msg.payload.currently);\nnmsg.payload.temperature = objJson.temperature;\nnmsg.payload.humidity = objJson.humidity;\n//nmsg.payload.battery= objJson.bat;\n\nvar newMsg = { payload: nmsg.payload.temperature};\nreturn newMsg;\n\n\n/*return msg;,outputs:1,noerr:0,x:471.25000762939453,y:295.0000057220459,z:f3306746.0ccf98,\n\n\nwires:[[5907fe7d.a6f8,4b7d6b93.b48294]]},\nreturn msg;\n*/","outputs":1,"noerr":0,"x":682.77783203125,"y":2077.777914047241,"wires":[["2f701835.3d9ca8"]]},{"id":"d70a6ca9.aba2a","type":"function","z":"e52a7c1.e42718","name":"broker def node","func":"// pass in: msg.parameters.broker\n\nnode_type = \"mqtt-broker\";\nmsg.id = msg.id + 1;\n\nmsg.payload.push({\n        id: msg.id,\n        type: node_type,\n        broker: msg.parameters.broker,\n        port: \"1883\"\n      });\n\n// store the broker def ID so we can refer to it in the output node\nmsg.defs = {broker: msg.id,\n \t\t\t// how far apart are nodes horizontally\n     \t \tspacing: 150}; \n\n\nreturn msg;","outputs":1,"x":2005,"y":243,"wires":[["6209ee3c.30ba"]]},{"id":"b1ae4197.a8e96","type":"inject","z":"e52a7c1.e42718","name":"parameters","topic":"","payload":"{\"broker\":\"localhost\",\"input\":\"source_topic\",\"output\":\"destination_topic\",\"process\":\"msg.payload = \\\"* \\\"+msg.payload+\\\" *\\\";\\nreturn msg;\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":1714,"y":183,"wires":[["b722e747.396f38"]]},{"id":"b722e747.396f38","type":"function","z":"e52a7c1.e42718","name":"initialise","func":"// create the parameters object from the incoming JSON object\nconsole.log(msg.payload);\nmsg.parameters = JSON.parse(msg.payload);\n\n// we're going to create an array of objects\nmsg.payload = [];\nmsg.id = 0;\n\nreturn msg;","outputs":1,"x":1856,"y":183,"wires":[["d70a6ca9.aba2a"]]},{"id":"6209ee3c.30ba","type":"function","z":"e52a7c1.e42718","name":"MQTT in node","func":"// pass in msg.parameters.input\n\nnode_type = \"mqtt in\";\nprevious_id = msg.id;\n\nmsg.id = msg.id + 1;\n\nmsg.payload.push({\n        id: msg.id,\n        type: node_type,\n        topic: msg.parameters.input,\n        broker: msg.defs.broker,\n        name: \"input\",\n\t\tx: 100,\n\t\ty: 100,\n\t\twires: []\n      });\n\nreturn msg;","outputs":1,"x":2025,"y":287,"wires":[["8fa20c3.88efdf"]]},{"id":"8fa20c3.88efdf","type":"function","z":"e52a7c1.e42718","name":"function node","func":"// pass in msg.parameters.process\n\nnode_type = \"function\";\nprevious_id = msg.id;\n\nmsg.id = msg.id + 1;\n\n// fill in the wires link in previous node\nmsg.payload[msg.payload.length-1].wires.push([msg.id]);\nnew_x = msg.payload[msg.payload.length-1].x + msg.defs.spacing;\nnew_y = msg.payload[msg.payload.length-1].y;\n\nmsg.payload.push({\n        id: msg.id,\n        type: node_type,\n        name: \"process\",\n        func: msg.parameters.process,\n        outputs: 1,\n\t\tx: new_x,\n\t\ty: new_y,\n\t\twires: []\n      });\n\nreturn msg;","outputs":1,"noerr":0,"x":2050,"y":331,"wires":[["260926fe.26525a"]]},{"id":"260926fe.26525a","type":"function","z":"e52a7c1.e42718","name":"MQTT out node","func":"// pass in msg.parameters.output\n \t\t   \n\nnode_type = \"mqtt out\";\nprevious_id = msg.id;\n\nmsg.id = msg.id + 1;\n\n// fill in the wires link in previous node\nmsg.payload[msg.payload.length-1].wires.push([msg.id]);\nnew_x = msg.payload[msg.payload.length-1].x + msg.defs.spacing;\nnew_y = msg.payload[msg.payload.length-1].y;\n\n\nmsg.payload.push({\n        id: msg.id,\n        type: node_type,\n        topic: msg.parameters.output,\n        broker: msg.defs.broker,\n        name: \"output\",\n\t\tx: new_x,\n\t\ty: new_y,\n\t\twires: []\n      });\n\nreturn msg;","outputs":1,"x":2079,"y":378,"wires":[["2f2ada22.6811d6"]]},{"id":"2f2ada22.6811d6","type":"debug","z":"e52a7c1.e42718","name":"","active":true,"complete":"false","x":2237,"y":378,"wires":[]},{"id":"5e5d18d0.e9e0e8","type":"comment","z":"e52a7c1.e42718","name":"generate \"mqtt - process - mqtt\" flow","info":"publish  to \"configure\" topic:\n\n{\n  \"broker\":\"localhost\",\n  \"input\":\"source_topic\",\n  \"output\":\"destination_topic\",\n  \"process\":\"msg.payload = \\\"* \\\"+msg.payload+\\\" *\\\";\\nreturn msg;\"\n}","x":1763,"y":125,"wires":[]},{"id":"15d517e6.020ec8","type":"json","z":"e0994af4.69f3c8","name":"","x":1053.1250190734863,"y":296.2500057220459,"wires":[["e36482fd.515e2"]]},{"id":"84245bd0.11ba98","type":"mqtt in","z":"e0994af4.69f3c8","name":"Raw Weather","topic":"weather","qos":"2","broker":"35e1911a.494f1e","x":876.5000152587891,"y":296.0000057220459,"wires":[["15d517e6.020ec8"]]},{"id":"e36482fd.515e2","type":"function","z":"e0994af4.69f3c8","name":"Change JSON Payload","func":"var summary = msg.payload.currently.summary;\nif (msg.payload.currently.summary.length >1){ \n    msg.payload = summary;\n    return msg;\n}\nreturn \"bad.\";\n/*\nif (msg.payload.currently.summary === \"Mostly Cloudy\"){\n    msg.payload = \"Good Job.  Mostly Cloudy.\" + summary;\n    return msg;\n}\nreturn null;\n*/\n\n/*\nif (msg.payload.currently.summar === \"Clear\"){\n    msg.payload = msg.payload.currently.summary;\n    return msg;\n}\nreturn null;\n*/","outputs":1,"noerr":0,"x":1245.7638092041016,"y":295.69446182250977,"wires":[[]]},{"id":"f5b1acb4.5252b","type":"switch","z":"e0994af4.69f3c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":""}],"checkall":"true","outputs":1,"x":515.5,"y":2259,"wires":[[]]},{"id":"25505b23.ec76c4","type":"json","z":"e0994af4.69f3c8","name":"","x":535.6110916137695,"y":2078.111166000366,"wires":[["66846232.996bcc"]]},{"id":"bab77074.9867c","type":"function","z":"e0994af4.69f3c8","name":"Sunset","func":"if (msg.payload.currently.summary.length >1){ \nvar temp = msg.payload.currently.temperature;\nvar feelslike = msg.payload.currently.apparentTemperature;\nvar windspeed = msg.payload.currently.windSpeed;\nvar precipProbability = msg.payload.currently.precipProbability;\nvar precipType = msg.payload.currently.precipType;\nvar summary = msg.payload.currently.summary;\n\nmsg.payload = {};\nmsg.payload.temp = temp;\nmsg.payload.feelslike = feelslike;\n\nmsg2 = {};\n    msg2.payload = (\"Fuck\");\n\nreturn [msg, msg2];\n}\n\n/*\n\nif (msg.payload.currently.summary.length >1){ \n    msg.payload ={\"weather\":[{\"id\": \"summary\", \"value\": summary}]};\n    return msg;\n}\nreturn \"bad.\";\n\n\n\n\n//Descriptions\nvar tempMSG={ \n    payload: temp\n};\nvar feelslikeMSG={\n    payload: feelslike\n};\nvar windspeedMSG={\n    payload: windspeed\n};\nvar precipProbabilityMSG={\n    payload: precipProbability\n};\nvar precipTypeMSG={\n    payload: precipType\n};\n\n\nreturn [ [tempMSG, feelslikeMSG, windspeedMSG, precipProbabilityMSG, precipTypeMSG ] ];\n*/\n","outputs":1,"noerr":0,"x":231.90473175048828,"y":323.0952124595642,"wires":[[]]},{"id":"a9b7ed0.a11aa1","type":"mqtt out","z":"e0994af4.69f3c8","name":"Weather Status","topic":"weather\\status","qos":"","retain":"","broker":"35e1911a.494f1e","x":914.5,"y":233.3333282470703,"wires":[]},{"id":"b46a3cfc.49d5","type":"mqtt in","z":"e0994af4.69f3c8","name":"Weather Status","topic":"weather\\status","qos":"2","broker":"35e1911a.494f1e","x":1160.833381652832,"y":233.3333282470703,"wires":[["5ce269b5.397c18"]]},{"id":"5ce269b5.397c18","type":"debug","z":"e0994af4.69f3c8","name":"","active":false,"console":"false","complete":"false","x":1357.4999732971191,"y":238.33333778381348,"wires":[]},{"id":"c7c496e2.cad218","type":"function","z":"51598847.36e3a8","name":"Temp, Humidity JSON","func":"//BDB Ecobee3 Function\n//Date Time Msg Code\nvar now = new Date(); \nvar year= now.getFullYear();\nvar month= now.getMonth()+1; \nvar day= now.getDate();\nvar hour= now.getHours();\nvar minute= now.getMinutes();\nvar second= now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \n\n//Ecobee Code Starts Here\nvar currentTemp=\"\";\nvar currentHumidity=\"\";\nvar currentruntime=\"\";\ncontext.global.EcobeeThermostats = {};\ncontext.global.EcobeeSensors = {};\nSensorCaps = {};\nfor(i = 0; i<msg.payload.thermostatList.length; i++) \n { \n if (msg.payload.thermostatList[i].modelNumber==\"athenaSmart\")\n {\n context.global.EcobeeThermostats[msg.payload.thermostatList[i].identifier] = {\n \"name\":msg.payload.thermostatList[i].name,\n \"connected\":msg.payload.thermostatList[i].runtime.connected,\n \"actualTemperature\": msg.payload.thermostatList[i].runtime.actualTemperature,\n \"actualHumidity\": msg.payload.thermostatList[i].runtime.actualHumidity,\n \"currentruntime\": msg.payload.thermostatList[i].runtime.runtimeInterval,\n \"desiredHeat\": msg.payload.thermostatList[i].runtime.desiredHeat,\n\t\t\t\t\"desiredCool\": msg.payload.thermostatList[i].runtime.desiredCool,\n\t\t\t\t\"desiredFanMode\": msg.payload.thermostatList[i].runtime.desiredFanMode\n };\n\t\t\tcurrentTemp=msg.payload.thermostatList[i].runtime.actualTemperature/10;\n\t\t\tcurrentHumidity=msg.payload.thermostatList[i].runtime.actualHumidity;\n\t\t\tcurrentruntime=msg.payload.thermostatList[i].runtime.runtimeInterval;\n for (j=0; j<msg.payload.thermostatList[i].remoteSensors.length; j++)\n {\n var SensorName=msg.payload.thermostatList[i].remoteSensors[j].name;\n var SensorInUse=msg.payload.thermostatList[i].remoteSensors[j].inUse;\n for (z=0; z<msg.payload.thermostatList[i].remoteSensors[j].capability.length; z++)\n {\n SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id] = {\n \"type\":msg.payload.thermostatList[i].remoteSensors[j].capability[z].type,\n \"value\":msg.payload.thermostatList[i].remoteSensors[j].capability[z].value\n };\n \n if (SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id].type==\"temperature\")\n {\n var SensorTemp=SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id].value;\n }\n if (SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id].type==\"occupancy\")\n {\n var SensorOccupancy=SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id].value;\n }\n \n context.global.EcobeeSensors[msg.payload.thermostatList[i].remoteSensors[j].name] = {\n \"name\":SensorName,\n \"inUse\":SensorInUse,\n \"sensorTemp\":SensorTemp,\n \"sensorOccupancy\":SensorOccupancy\n };\n }\n }\n }\n }\n\nvar Msg1={\n    payload: currentTemp,\n    topic: \"ecobee3\\temp\",\n    time: year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second, \n    currentTemp: currentTemp, \n    currentHumidity: currentHumidity,\n    runtime: currentruntime*5, \n};\nreturn [ [Msg1 ] ];","outputs":1,"noerr":0,"x":960,"y":620,"wires":[["8aac0a39.fa5d08","bf56bc90.6d29","a120cfde.378f9"]]},{"id":"8aac0a39.fa5d08","type":"debug","z":"51598847.36e3a8","name":"","active":true,"console":"false","complete":"true","x":1190,"y":660,"wires":[]},{"id":"e1e4a54e.382ad8","type":"function","z":"e52a7c1.e42718","name":"broker def node","func":"// pass in: msg.parameters.broker\n\nnode_type = \"mqtt-broker\";\nmsg.id = msg.id + 1;\n\nmsg.payload.push({\n        id: msg.id,\n        type: node_type,\n        broker: msg.parameters.broker,\n        port: \"1883\"\n      });\n\n// store the broker def ID so we can refer to it in the output node\nmsg.defs = {broker: msg.id,\n \t\t\t// how far apart are nodes horizontally\n     \t \tspacing: 150}; \n\n\nreturn msg;","outputs":1,"x":422.8571472167969,"y":3782.857177734375,"wires":[["1f11e411.5f1c6c"]]},{"id":"61b239a9.3567f8","type":"inject","z":"e52a7c1.e42718","name":"parameters","topic":"","payload":"{\"broker\":\"localhost\",\"input\":\"source_topic\",\"output\":\"destination_topic\",\"process\":\"msg.payload = \\\"* \\\"+msg.payload+\\\" *\\\";\\nreturn msg;\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":131.85714721679688,"y":3722.857177734375,"wires":[["8c9e67a7.83b098"]]},{"id":"8c9e67a7.83b098","type":"function","z":"e52a7c1.e42718","name":"initialise","func":"// create the parameters object from the incoming JSON object\nconsole.log(msg.payload);\nmsg.parameters = JSON.parse(msg.payload);\n\n// we're going to create an array of objects\nmsg.payload = [];\nmsg.id = 0;\n\nreturn msg;","outputs":1,"x":273.8571472167969,"y":3722.857177734375,"wires":[["e1e4a54e.382ad8"]]},{"id":"1f11e411.5f1c6c","type":"function","z":"e52a7c1.e42718","name":"MQTT in node","func":"// pass in msg.parameters.input\n\nnode_type = \"mqtt in\";\nprevious_id = msg.id;\n\nmsg.id = msg.id + 1;\n\nmsg.payload.push({\n        id: msg.id,\n        type: node_type,\n        topic: msg.parameters.input,\n        broker: msg.defs.broker,\n        name: \"input\",\n\t\tx: 100,\n\t\ty: 100,\n\t\twires: []\n      });\n\nreturn msg;","outputs":1,"x":442.8571472167969,"y":3826.857177734375,"wires":[["216d6b63.5ed064"]]},{"id":"216d6b63.5ed064","type":"function","z":"e52a7c1.e42718","name":"function node","func":"// pass in msg.parameters.process\n\nnode_type = \"function\";\nprevious_id = msg.id;\n\nmsg.id = msg.id + 1;\n\n// fill in the wires link in previous node\nmsg.payload[msg.payload.length-1].wires.push([msg.id]);\nnew_x = msg.payload[msg.payload.length-1].x + msg.defs.spacing;\nnew_y = msg.payload[msg.payload.length-1].y;\n\nmsg.payload.push({\n        id: msg.id,\n        type: node_type,\n        name: \"process\",\n        func: msg.parameters.process,\n        outputs: 1,\n\t\tx: new_x,\n\t\ty: new_y,\n\t\twires: []\n      });\n\nreturn msg;","outputs":1,"x":467.8571472167969,"y":3870.857177734375,"wires":[["50716def.1c7ce4"]]},{"id":"50716def.1c7ce4","type":"function","z":"e52a7c1.e42718","name":"MQTT out node","func":"// pass in msg.parameters.output\n \t\t   \n\nnode_type = \"mqtt out\";\nprevious_id = msg.id;\n\nmsg.id = msg.id + 1;\n\n// fill in the wires link in previous node\nmsg.payload[msg.payload.length-1].wires.push([msg.id]);\nnew_x = msg.payload[msg.payload.length-1].x + msg.defs.spacing;\nnew_y = msg.payload[msg.payload.length-1].y;\n\n\nmsg.payload.push({\n        id: msg.id,\n        type: node_type,\n        topic: msg.parameters.output,\n        broker: msg.defs.broker,\n        name: \"output\",\n\t\tx: new_x,\n\t\ty: new_y,\n\t\twires: []\n      });\n\nreturn msg;","outputs":1,"x":633.9999961853027,"y":3929.2857871055603,"wires":[["479b265a.2f6308"]]},{"id":"479b265a.2f6308","type":"debug","z":"e52a7c1.e42718","name":"","active":false,"complete":"false","x":887.7143173217773,"y":3917.857250213623,"wires":[]},{"id":"753d38f1.a95dc8","type":"comment","z":"e52a7c1.e42718","name":"generate \"mqtt - process - mqtt\" flow","info":"publish  to \"configure\" topic:\n\n{\n  \"broker\":\"localhost\",\n  \"input\":\"source_topic\",\n  \"output\":\"destination_topic\",\n  \"process\":\"msg.payload = \\\"* \\\"+msg.payload+\\\" *\\\";\\nreturn msg;\"\n}","x":180.85714721679688,"y":3664.857177734375,"wires":[]},{"id":"271955dc.7725da","type":"debug","z":"e0994af4.69f3c8","name":"","active":false,"console":"false","complete":"false","x":876.4285697937012,"y":371.4285526275635,"wires":[]},{"id":"cf891f97.adabd","type":"jsonpath","z":"e0994af4.69f3c8","expression":"$.daily.data..sunsetTime[0,1]","split":false,"name":"SunSet","x":680,"y":380,"wires":[["271955dc.7725da"]]},{"id":"c183440f.fce4a8","type":"inject","z":"b69395b2.b963a8","name":"Tick","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":94.28571319580078,"y":72.85714721679688,"wires":[["8dd670ee.07e73"]]},{"id":"8dd670ee.07e73","type":"http request","z":"b69395b2.b963a8","name":"UK Power","method":"GET","url":"http://realtimeweb-prod.nationalgrid.com/SystemData.aspx","x":234.28571319580078,"y":72.85714721679688,"wires":[["131bcd28.fa2bd3"]]},{"id":"131bcd28.fa2bd3","type":"function","z":"b69395b2.b963a8","name":"UK Power Demand","func":"// does a simple text extract parse of the http output to provide an\n// object containing the uk power demand, frequency and time\n\nif (~msg.payload.indexOf('<span')) {\n    var dem = msg.payload.split('Demand:')[1].split(\"MW\")[0];\n    var fre = msg.payload.split('Frequency:')[1].split(\"Hz\")[0];\n\n    msg.payload = {};\n    msg.payload.demand = parseInt(dem.split(\">\")[1].split(\"<\")[0]);\n    msg.payload.frequency = parseFloat(fre.split(\">\")[1].split(\"<\")[0]);\n    \n    msg2 = {};\n    msg2.payload = (msg.payload.frequency >= 50) ? true : false;\n\n    return [msg,msg2];\n}\n\nreturn null;","outputs":"2","x":411.2857131958008,"y":72.85714721679688,"wires":[["52de6e5d.ea3a2"],["e1346f08.5e87"]]},{"id":"52de6e5d.ea3a2","type":"debug","z":"b69395b2.b963a8","name":"","active":true,"complete":false,"x":611.2857131958008,"y":42.857147216796875,"wires":[]},{"id":"e1346f08.5e87","type":"debug","z":"b69395b2.b963a8","name":"","active":true,"complete":false,"x":612.2857131958008,"y":113.85714721679688,"wires":[]},{"id":"e2e96757.0b6bb8","type":"jsonpath","z":"e0994af4.69f3c8","expression":"$.daily.data..moonPhase","split":false,"name":"Moon Phase","x":690,"y":440,"wires":[["271955dc.7725da"]]},{"id":"babbd4.3ab2f43","type":"inject","z":"35a8abf3.f78d44","name":"Interval update interval","topic":"setValue","payload":"{\"nodeid\" : 22, \"cmdclass\": 112, \"cmdidx\" : 111, \"value\" : 60}","payloadType":"json","repeat":"","crontab":"","once":false,"x":160,"y":1220,"wires":[["13045ed.ab9c6a1","4dbb465e.d10228"]]},{"id":"4fb4e151.eed9d","type":"inject","z":"35a8abf3.f78d44","name":"Temp Calibration -1.8 ","topic":"setValue","payload":"{\"nodeid\" : 6, \"cmdclass\": 112, \"cmdidx\" : 201, \"value\" : -1.8}","payloadType":"json","repeat":"","crontab":"","once":false,"x":159,"y":1181,"wires":[[]]},{"id":"83a47088.dded9","type":"inject","z":"35a8abf3.f78d44","name":"Set Motion Sensivity 4","topic":"setValue","payload":"{\"nodeid\" : 22, \"cmdclass\": 112, \"cmdidx\" : 4, \"value\" : 4}","payloadType":"json","repeat":"","crontab":"","once":false,"x":158,"y":1142,"wires":[["13045ed.ab9c6a1"]]},{"id":"81c1cc5.681483","type":"zwave-out","z":"35a8abf3.f78d44","name":"ZWave Out","controller":"b9fb6c0.bdba398","x":581.1072463989258,"y":502.96427154541016,"wires":[]},{"id":"7e81993b.3fa458","type":"zwave-in","z":"35a8abf3.f78d44","name":"Zwave In","controller":"1f1ed968.891dd7","x":580,"y":400,"wires":[["8a235be2.bb32b8","408700b0.5bfac"]]},{"id":"8a235be2.bb32b8","type":"debug","z":"35a8abf3.f78d44","name":"","active":true,"console":"false","complete":"true","x":730,"y":460,"wires":[]},{"id":"9f3cc513.492b18","type":"mqtt in","z":"35a8abf3.f78d44","name":"","topic":"zwave/events/driver ready/#","qos":"2","broker":"35e1911a.494f1e","x":181.19047927856445,"y":1630.619032382965,"wires":[["5110f6a5.19ae08"]]},{"id":"ffde2024.299fc","type":"function","z":"35a8abf3.f78d44","name":"driver ready","func":"msg.payload = 'Start sccanning '+ msg.payload.id;\nreturn msg;","outputs":1,"x":573.1904792785645,"y":1636.2857613563538,"wires":[[]]},{"id":"873b5bb2.c03768","type":"mqtt in","z":"35a8abf3.f78d44","name":"","topic":"zwave/events/driver failed/#","qos":"2","broker":"35e1911a.494f1e","x":175.19047927856445,"y":1688.9523758888245,"wires":[["fc4f32f1.f1f7"]]},{"id":"9ab6b42f.c91558","type":"function","z":"35a8abf3.f78d44","name":"driver failed","func":"msg.payload='failed to start driver';\nreturn msg;","outputs":1,"x":602.1904792785645,"y":1695.2857193946838,"wires":[[]]},{"id":"4dbf7d8d.aa8434","type":"mqtt in","z":"35a8abf3.f78d44","name":"","topic":"zwave/events/node added/#","qos":"2","broker":"35e1911a.494f1e","x":178.19047927856445,"y":1748.9523758888245,"wires":[["b2d0cd8e.09b78"]]},{"id":"1de5c4e5.21d0fb","type":"function","z":"35a8abf3.f78d44","name":"node added","func":"if(!context.global.zwavenodes) context.global.zwavenodes = [];\ncontext.global.zwavenodes[msg.payload.nodeid] = {\n        \t\tnodeid : msg.payload.nodeid,\n        \t\tmanufacturer: '',\n        \t\tmanufacturerid: '',\n        \t\tproduct: '',\n        \t\tproducttype: '',\n        \t\tproductid: '',\n        \t\ttype: '',\n        \t\tname: '',\n        \t\tloc: '',\n        \t\tclasses: {},\n        \t\tready: false,\n        \t    status: '',\n    \t\t};\n    \t\t\nreturn msg;","outputs":1,"x":620.1904792785645,"y":1750.2857193946838,"wires":[[]]},{"id":"a692cb56.ccf058","type":"mqtt in","z":"35a8abf3.f78d44","name":"","topic":"zwave/events/value changed/#","qos":"2","broker":"35e1911a.494f1e","x":178.19047927856445,"y":1885.9523758888245,"wires":[["38ffe500.2c1ddc"]]},{"id":"763a2bad.446654","type":"function","z":"35a8abf3.f78d44","name":"value changed","func":"if (context.global.zwavenodes[msg.payload.nodeid]['ready']) {\ncontext.global.zwavenodes[msg.payload.nodeid]['classes'][msg.payload.cmdclass][msg.payload.cmdidx] = msg.payload.currState; \n}\nreturn msg;","outputs":1,"x":621.1904792785645,"y":1881.285749912262,"wires":[[]]},{"id":"2c7f46c4.8479ca","type":"function","z":"35a8abf3.f78d44","name":"node ready","func":"context.global.zwavenodes[msg.payload.nodeid]['manufacturer']= msg.payload.nodeinfo.manufacturer;\ncontext.global.zwavenodes[msg.payload.nodeid]['manufacturerid'] = msg.payload.nodeinfo.manufacturerid;\ncontext.global.zwavenodes[msg.payload.nodeid]['product'] = msg.payload.nodeinfo.product;\ncontext.global.zwavenodes[msg.payload.nodeid]['producttype'] = msg.payload.nodeinfo.producttype;\ncontext.global.zwavenodes[msg.payload.nodeid]['productid'] = msg.payload.nodeinfo.productid;\ncontext.global.zwavenodes[msg.payload.nodeid]['type'] = msg.payload.nodeinfo.type;\ncontext.global.zwavenodes[msg.payload.nodeid]['name'] = msg.payload.nodeinfo.name;\ncontext.global.zwavenodes[msg.payload.nodeid]['loc'] = msg.payload.nodeinfo.loc;\ncontext.global.zwavenodes[msg.payload.nodeid]['ready'] = true;\nreturn msg;\n","outputs":1,"x":638.1904792785645,"y":2003.9524064064026,"wires":[[]]},{"id":"897f15a4.135278","type":"mqtt in","z":"35a8abf3.f78d44","name":"","topic":"zwave/events/node ready/#","qos":"2","broker":"35e1911a.494f1e","x":192.19047927856445,"y":2000.9524064064026,"wires":[["f0343e51.b1e82"]]},{"id":"52195e7e.1ea85","type":"function","z":"35a8abf3.f78d44","name":"notification","func":"/*\n\ncontext.global.zwavenodes[msg.payload.nodeid]['status']=msg.payload.notification;\nreturn msg;\n\n*/","outputs":1,"noerr":0,"x":1130,"y":2200,"wires":[[]]},{"id":"48a3d106.1b7b5","type":"mqtt in","z":"35a8abf3.f78d44","name":"","topic":"zwave/notification/#","qos":"2","broker":"35e1911a.494f1e","x":773.1904792785645,"y":2236.2857613563538,"wires":[["980b67c2.aee188","f23efba.71e6f08"]]},{"id":"43a3cc50.18c274","type":"function","z":"35a8abf3.f78d44","name":"scan complete","func":"msg.payload=\"Scan complete\"\n\nreturn msg;","outputs":1,"x":643.1904792785645,"y":2117.619032382965,"wires":[[]]},{"id":"d847a43c.69a778","type":"mqtt in","z":"35a8abf3.f78d44","name":"","topic":"zwave/events/scan complete/#","qos":"2","broker":"35e1911a.494f1e","x":201.19047927856445,"y":2120.619032382965,"wires":[["c44f83ba.8b888"]]},{"id":"5110f6a5.19ae08","type":"json","z":"35a8abf3.f78d44","name":"","x":412.19047927856445,"y":1631.619032382965,"wires":[["ffde2024.299fc"]]},{"id":"fc4f32f1.f1f7","type":"json","z":"35a8abf3.f78d44","name":"","x":413.19047927856445,"y":1691.619032382965,"wires":[["9ab6b42f.c91558"]]},{"id":"b2d0cd8e.09b78","type":"json","z":"35a8abf3.f78d44","name":"","x":405.19047927856445,"y":1751.619032382965,"wires":[["1de5c4e5.21d0fb"]]},{"id":"38ffe500.2c1ddc","type":"json","z":"35a8abf3.f78d44","name":"","x":395.19047927856445,"y":1886.619032382965,"wires":[["763a2bad.446654"]]},{"id":"f0343e51.b1e82","type":"json","z":"35a8abf3.f78d44","name":"","x":414.19047927856445,"y":1998.619032382965,"wires":[["2c7f46c4.8479ca"]]},{"id":"980b67c2.aee188","type":"json","z":"35a8abf3.f78d44","name":"","x":933.1904792785645,"y":2196.2857613563538,"wires":[["52195e7e.1ea85"]]},{"id":"c44f83ba.8b888","type":"json","z":"35a8abf3.f78d44","name":"","x":418.19047927856445,"y":2124.619032382965,"wires":[["43a3cc50.18c274"]]},{"id":"9b15ac1d.fcfa","type":"mqtt in","z":"35a8abf3.f78d44","name":"","topic":"zwave/events/value added/#","qos":"2","broker":"35e1911a.494f1e","x":181.19047927856445,"y":1810.619032382965,"wires":[["91b42ed5.cf6c3"]]},{"id":"dbf9f9e9.9b2768","type":"function","z":"35a8abf3.f78d44","name":"value added","func":"if (!context.global.zwavenodes[msg.payload.nodeid]['classes'][msg.payload.cmdclass])\n     context.global.zwavenodes[msg.payload.nodeid]['classes'][msg.payload.cmdclass] = {};\ncontext.global.zwavenodes[msg.payload.nodeid]['classes'][msg.payload.cmdclass][msg.payload.cmdidx] = msg.payload.currState;\n\nreturn msg;","outputs":1,"x":622.1904792785645,"y":1807.9524064064026,"wires":[[]]},{"id":"91b42ed5.cf6c3","type":"json","z":"35a8abf3.f78d44","name":"","x":409.19047927856445,"y":1816.2856888771057,"wires":[["dbf9f9e9.9b2768"]]},{"id":"55055940.faf8e8","type":"mqtt in","z":"35a8abf3.f78d44","name":"","topic":"zwave/events/value removed/#","qos":"2","broker":"35e1911a.494f1e","x":189.19047927856445,"y":1945.619032382965,"wires":[["db183610.0c5468"]]},{"id":"3313aee3.ffd2a2","type":"function","z":"35a8abf3.f78d44","name":"value removed","func":"if (context.global.zwavenodes[msg.payload.nodeid]['classes'][msg.payload.cmdclass] &&\n    context.global.zwavenodes[msg.payload.nodeid]['classes'][msg.payload.cmdclass][msg.payload.cmdidx])\n        delete context.global.zwavenodes[msg.payload.nodeid]['classes'][msg.payload.cmdclass][msg.payload.cmdidx];\n\nreturn msg;","outputs":1,"x":616.1904792785645,"y":1948.9524064064026,"wires":[[]]},{"id":"db183610.0c5468","type":"json","z":"35a8abf3.f78d44","name":"","x":404.19047927856445,"y":1946.2856888771057,"wires":[["3313aee3.ffd2a2"]]},{"id":"e0d5c1b9.7d01a","type":"inject","z":"35a8abf3.f78d44","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":153.19047927856445,"y":2184.619032382965,"wires":[["fcf0b80.247b948"]]},{"id":"fcf0b80.247b948","type":"function","z":"35a8abf3.f78d44","name":"delete context.global.zwavenodes","func":"delete context.global.zwavenodes;\nreturn msg;","outputs":1,"x":408.19047927856445,"y":2186.619032382965,"wires":[[]]},{"id":"5ecd6c64.5fbee4","type":"switch","z":"35a8abf3.f78d44","name":"Multisensor6","property":"payload.label","propertyType":"msg","rules":[{"t":"eq","v":"Luminance","vt":"str"},{"t":"eq","v":"Ultraviolet","vt":"str"},{"t":"eq","v":"Temperature","vt":"str"},{"t":"eq","v":"Relative Humidity","vt":"str"},{"t":"eq","v":"Battery Level","vt":"str"},{"t":"eq","v":"Vibration","vt":"str"},{"t":"eq","v":"Alarm Level","vt":"str"},{"t":"eq","v":"Alarm Type","vt":"str"},{"t":"eq","v":"Burglar","vt":"str"}],"checkall":"true","outputs":9,"x":1550,"y":1000,"wires":[["315cd05b.6f5e1","377b5908.695fc6"],["b3d7e12.80eee2","e7d452df.ee023"],["30a6a7e5.c47078"],["eb92cf31.bec7d"],["a836a0a6.a7afd","65a9cf7b.e3b7d"],["a309ffb4.78294"],["79ae45ba.09d07c"],["ee8d6981.1d5ad8"],["5220aa9.32f7b54"]]},{"id":"315cd05b.6f5e1","type":"template","z":"35a8abf3.f78d44","name":"Display Lux","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Luminance is now {{payload.value.value}}","x":1850,"y":1300,"wires":[["4bd89223.2eda5c"]]},{"id":"6fabe3.1a99041c","type":"file","z":"35a8abf3.f78d44","name":"/tmp/sensor.log","filename":"/tmp/sensor.log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":350.52383041381836,"y":2684.9523968696594,"wires":[]},{"id":"692fe693.a6b908","type":"change","z":"35a8abf3.f78d44","name":"Timestamp","rules":[{"t":"set","p":"payload.timestamp","pt":"msg","to":"timestamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":165.52383041381836,"y":2684.9523968696594,"wires":[["6fabe3.1a99041c"]]},{"id":"377b5908.695fc6","type":"template","z":"35a8abf3.f78d44","name":"Log Lux","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}}  {{payload.value.value}}","x":1840,"y":740,"wires":[["fde4cc99.b85b3"]]},{"id":"d8a7dc28.18c5e","type":"inject","z":"35a8abf3.f78d44","name":"Turn Off","topic":"switchOff","payload":"{\"nodeid\" :2}","payloadType":"json","repeat":"","crontab":"","once":false,"x":316.03568267822266,"y":620.9762048721313,"wires":[["81c1cc5.681483"]]},{"id":"da0d23e2.1c9e5","type":"inject","z":"35a8abf3.f78d44","name":"Turn On","topic":"switchOn","payload":"{\"nodeid\" : 2}","payloadType":"json","repeat":"","crontab":"","once":false,"x":315.2856140136719,"y":348.7142848968506,"wires":[["81c1cc5.681483"]]},{"id":"cb6a1d26.9762","type":"bigtimer","z":"35a8abf3.f78d44","outtopic":"porch","outpayload1":"ON","outpayload2":"OFF","name":"Porch Lights","lat":"45.0830","lon":"-93.2229","starttime":"5004","endtime":"1395","startoff":"0","endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":true,"repeat":false,"atstart":true,"x":275.7857360839844,"y":165.21421718597412,"wires":[["35dc1285.487e9e"],[],[]]},{"id":"976315af.14d6c8","type":"inject","z":"35a8abf3.f78d44","name":"On","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":81.78575134277344,"y":99.99997425079346,"wires":[["cb6a1d26.9762"]]},{"id":"98584f9f.f6ff2","type":"inject","z":"35a8abf3.f78d44","name":"Off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"x":76.42858123779297,"y":147.14274740219116,"wires":[["cb6a1d26.9762"]]},{"id":"8bd849f0.dbaf78","type":"inject","z":"35a8abf3.f78d44","name":"Default","topic":"","payload":"default","payloadType":"str","repeat":"","crontab":"","once":false,"x":77.14286804199219,"y":195.71421813964844,"wires":[["cb6a1d26.9762"]]},{"id":"35dc1285.487e9e","type":"function","z":"35a8abf3.f78d44","name":"On or Off","func":"var count;\nif (msg.payload ==\"ON\"){\nreturn {topic:\"switchOn\", payload:\"{\\\"nodeid\\\":4}\"};}\nelse if (msg.payload ==\"OFF\"){\nreturn {topic:\"switchOff\", payload:\"{\\\"nodeid\\\":4}\"};\n}\nelse {\nreturn {topic:\"blank\", payload:\"boom\"};\n}","outputs":1,"noerr":0,"x":453.57147216796875,"y":152.42864990234375,"wires":[["e53b5a72.1a3e98"]]},{"id":"284326d2.0a09ca","type":"comment","z":"35a8abf3.f78d44","name":"Node 4: Porch Routine","info":"","x":105,"y":57.14281368255615,"wires":[]},{"id":"22dd9b76.18ab04","type":"inject","z":"35a8abf3.f78d44","name":"Kitchen 75%","topic":"setValue","payload":"{\"nodeid\":5, \"cmdclass\":38, \"value\":75}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1890,"y":200,"wires":[["5d8ca477.46b23c"]]},{"id":"7ab65a54.86f544","type":"inject","z":"35a8abf3.f78d44","name":"Kitchen 100%","topic":"setValue","payload":"{\"nodeid\":5, \"cmdclass\":38, \"value\":99}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1889.5,"y":149,"wires":[["5d8ca477.46b23c"]]},{"id":"91056f6a.3ad33","type":"inject","z":"35a8abf3.f78d44","name":"Kitchen 25%","topic":"setValue","payload":"{\"nodeid\":5, \"cmdclass\":38, \"value\":25}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1885.5,"y":285,"wires":[["5d8ca477.46b23c"]]},{"id":"20a329e8.f9e9c6","type":"mqtt in","z":"35a8abf3.f78d44","name":"setValue","topic":"setValue","qos":"2","broker":"35e1911a.494f1e","x":318.75000381469727,"y":516.0000076293945,"wires":[["81c1cc5.681483"]]},{"id":"5d8ca477.46b23c","type":"mqtt out","z":"35a8abf3.f78d44","name":"5) Kitchen Out","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":2153,"y":263,"wires":[]},{"id":"d7842a27.e3d498","type":"inject","z":"35a8abf3.f78d44","name":"Kitchen 50%","topic":"setValue","payload":"{\"nodeid\":5, \"cmdclass\":38, \"value\":50}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1883.5,"y":242,"wires":[["5d8ca477.46b23c"]]},{"id":"a2f1ab0d.dee848","type":"comment","z":"35a8abf3.f78d44","name":"Node 5: Kitchen Island","info":"","x":1891.5,"y":107,"wires":[]},{"id":"e53b5a72.1a3e98","type":"mqtt out","z":"35a8abf3.f78d44","name":"4) Porch Out","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":623.5,"y":152,"wires":[]},{"id":"7d0d40b2.a9c7","type":"mqtt in","z":"35a8abf3.f78d44","name":"switchOn","topic":"switchOn","qos":"2","broker":"35e1911a.494f1e","x":317.75000381469727,"y":406.0000057220459,"wires":[["81c1cc5.681483"]]},{"id":"ca6619a3.026fc8","type":"mqtt in","z":"35a8abf3.f78d44","name":"switchOff","topic":"switchOff","qos":"2","broker":"35e1911a.494f1e","x":319.25000381469727,"y":461.0000066757202,"wires":[["81c1cc5.681483"]]},{"id":"ccaad4f2.e28ca8","type":"comment","z":"35a8abf3.f78d44","name":"Aeon Labs Multi Sensor 6","info":"","x":140.69047927856445,"y":1097.2857613563538,"wires":[]},{"id":"2ed887c9.daef08","type":"ui_slider","z":"35a8abf3.f78d44","name":"6) Dinning Room","label":"Dinning Room","group":"b3dca72a.7d4f78","order":0,"width":0,"height":0,"passthru":true,"topic":"dimmer","min":0,"max":"100","step":1,"x":2376.857177734375,"y":140.5714111328125,"wires":[["9a70ede3.57989"]]},{"id":"9a70ede3.57989","type":"function","z":"35a8abf3.f78d44","name":"setValue","func":"var dimmer=msg.payload;\n\nvar dimmerMSG={ \n    topic: 'setValue',\n    payload: {'nodeid':6, 'cmdclass':38, 'value': +dimmer}\n};\n\n\n/*\n\"{\"nodeid\":5, \"cmdclass\":38, \"value\":99}\"\n    payload: {\"nodeid 5 cmdclass test + dimmer\"    \n};\n*/\n\nreturn dimmerMSG;\n\n","outputs":1,"noerr":0,"x":2559.857177734375,"y":139.5714111328125,"wires":[["b75e6361.7922a"]]},{"id":"b6cea829.4ef468","type":"bigtimer","z":"35a8abf3.f78d44","outtopic":"setaeon","outpayload1":"five","outpayload2":"twohrs","name":"Set Lux Sensor Interval","lat":"45.0941315","lon":"-93.35634049999999","starttime":5001,"endtime":"5005","startoff":"60","endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"x":402.69049072265625,"y":1102.7857666015625,"wires":[[],[],[]]},{"id":"c1db3d8a.bc39e","type":"inject","z":"b69395b2.b963a8","name":"Get IP","topic":"ip","payload":"eth0","payloadType":"none","repeat":"300","crontab":"","once":false,"x":86,"y":253,"wires":[["45831eea.6577c"]]},{"id":"7adc912e.b18e7","type":"function","z":"b69395b2.b963a8","name":"Compare IP","func":"context.lastip = context.lastip || 'initial';\nvar currentip = msg.payload;\n\nif (context.lastip == 'initial') {\ncontext.lastip = currentip;\n}\nelse if (context.lastip != currentip) {\nmsg.payload = currentip;\ncontext.lastip = currentip;\nreturn msg;\n}\n\n","outputs":"1","x":550,"y":280,"wires":[["5005f855.33be38"]]},{"id":"45831eea.6577c","type":"exec","z":"b69395b2.b963a8","command":"wget -qO- http://bot.whatismyipaddress.com/ ; echo","addpay":false,"append":"","useSpawn":"","timer":"","name":"Get IP","x":216,"y":252.5,"wires":[["dc3143d6.d7a8f"],[],[]]},{"id":"dc3143d6.d7a8f","type":"switch","z":"b69395b2.b963a8","name":"Integrity check","property":"payload","rules":[{"t":"regex","v":"\\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\b"},{"t":"else"}],"checkall":"true","outputs":2,"x":390,"y":238.5,"wires":[["7adc912e.b18e7","2f853443.552aec"],[]]},{"id":"6f8603c3.b9508c","type":"debug","z":"b69395b2.b963a8","name":"","active":true,"console":false,"complete":false,"x":750,"y":320,"wires":[]},{"id":"5005f855.33be38","type":"http request","z":"b69395b2.b963a8","name":"Update no-ip.com","method":"GET","url":"http://bdbuysse:Omega001@dynupdate.no-ip.com/nic/update?hostname=edgewood.myvnc.com&myip={{payload}}","tls":"","x":730,"y":240,"wires":[["6f8603c3.b9508c"]]},{"id":"83dd7d3d.ae52f","type":"inject","z":"b69395b2.b963a8","name":"Test IP address","topic":"","payload":"192.168.1.9","payloadType":"string","repeat":"","crontab":"","once":false,"x":420,"y":400,"wires":[["7adc912e.b18e7"]]},{"id":"2f853443.552aec","type":"debug","z":"b69395b2.b963a8","name":"","active":true,"console":"false","complete":"false","x":570,"y":200,"wires":[]},{"id":"2f0c14a4.75c23c","type":"mqtt in","z":"e52a7c1.e42718","name":"","topic":"zwave/events/driver ready/#","qos":"2","broker":"35e1911a.494f1e","x":160,"y":4140,"wires":[["82812cdd.2567e"]]},{"id":"967923bd.e8b65","type":"function","z":"e52a7c1.e42718","name":"driver ready","func":"msg.payload = 'Start sccanning '+ msg.payload.id;\nreturn msg;","outputs":1,"x":570,"y":4140,"wires":[[]]},{"id":"78f9ce57.02ce8","type":"mqtt in","z":"e52a7c1.e42718","name":"","topic":"zwave/events/driver failed/#","qos":"2","broker":"35e1911a.494f1e","x":154,"y":4198.333343505859,"wires":[["5bf406d7.3158b8"]]},{"id":"2b96894e.77e636","type":"function","z":"e52a7c1.e42718","name":"driver failed","func":"msg.payload='failed to start driver';\nreturn msg;","outputs":1,"x":581,"y":4204.666687011719,"wires":[[]]},{"id":"f22ab681.7d6058","type":"mqtt in","z":"e52a7c1.e42718","name":"","topic":"zwave/events/node added/#","qos":"2","broker":"35e1911a.494f1e","x":157,"y":4258.333343505859,"wires":[["d03943f1.05f6c"]]},{"id":"d5122da8.104ef","type":"function","z":"e52a7c1.e42718","name":"node added","func":"if(!context.global.zwavenodes) context.global.zwavenodes = [];\ncontext.global.zwavenodes[msg.payload.nodeid] = {\n        \t\tnodeid : msg.payload.nodeid,\n        \t\tmanufacturer: '',\n        \t\tmanufacturerid: '',\n        \t\tproduct: '',\n        \t\tproducttype: '',\n        \t\tproductid: '',\n        \t\ttype: '',\n        \t\tname: '',\n        \t\tloc: '',\n        \t\tclasses: {},\n        \t\tready: false,\n        \t    status: '',\n    \t\t};\n    \t\t\nreturn msg;","outputs":1,"x":599,"y":4259.666687011719,"wires":[[]]},{"id":"236d9c86.8f9a24","type":"mqtt in","z":"e52a7c1.e42718","name":"","topic":"zwave/events/value changed/#","qos":"2","broker":"35e1911a.494f1e","x":157,"y":4395.333343505859,"wires":[["e73c276b.64a938"]]},{"id":"ebfcab45.751fa8","type":"function","z":"e52a7c1.e42718","name":"value changed","func":"if (context.global.zwavenodes[msg.payload.nodeid]['ready']) {\ncontext.global.zwavenodes[msg.payload.nodeid]['classes'][msg.payload.cmdclass][msg.payload.cmdidx] = msg.payload.currState; \n}\nreturn msg;","outputs":1,"x":600,"y":4390.666717529297,"wires":[[]]},{"id":"ff8d444e.1028d8","type":"function","z":"e52a7c1.e42718","name":"node ready","func":"context.global.zwavenodes[msg.payload.nodeid]['manufacturer']= msg.payload.nodeinfo.manufacturer;\ncontext.global.zwavenodes[msg.payload.nodeid]['manufacturerid'] = msg.payload.nodeinfo.manufacturerid;\ncontext.global.zwavenodes[msg.payload.nodeid]['product'] = msg.payload.nodeinfo.product;\ncontext.global.zwavenodes[msg.payload.nodeid]['producttype'] = msg.payload.nodeinfo.producttype;\ncontext.global.zwavenodes[msg.payload.nodeid]['productid'] = msg.payload.nodeinfo.productid;\ncontext.global.zwavenodes[msg.payload.nodeid]['type'] = msg.payload.nodeinfo.type;\ncontext.global.zwavenodes[msg.payload.nodeid]['name'] = msg.payload.nodeinfo.name;\ncontext.global.zwavenodes[msg.payload.nodeid]['loc'] = msg.payload.nodeinfo.loc;\ncontext.global.zwavenodes[msg.payload.nodeid]['ready'] = true;\nreturn msg;\n","outputs":1,"x":617,"y":4513.3333740234375,"wires":[[]]},{"id":"f0087e3c.f4722","type":"mqtt in","z":"e52a7c1.e42718","name":"","topic":"zwave/events/node ready/#","qos":"2","broker":"76a7e82.6401a18","x":171,"y":4510.3333740234375,"wires":[["4893a463.07d42c"]]},{"id":"d79ca06e.9db25","type":"function","z":"e52a7c1.e42718","name":"notification","func":"context.global.zwavenodes[msg.payload.nodeid]['status']=msg.payload.notification;\nreturn msg;","outputs":1,"x":626,"y":4560,"wires":[[]]},{"id":"2632867d.febe1a","type":"mqtt in","z":"e52a7c1.e42718","name":"","topic":"zwave/events/notification/#","qos":"2","broker":"35e1911a.494f1e","x":165,"y":4562,"wires":[["34af7835.ac4278"]]},{"id":"c559bcf2.e29d1","type":"function","z":"e52a7c1.e42718","name":"scan complete","func":"msg.payload=\"Scan complete\"\n\nreturn msg;","outputs":1,"x":622,"y":4627,"wires":[[]]},{"id":"b89579b0.ac26c8","type":"mqtt in","z":"e52a7c1.e42718","name":"","topic":"zwave/events/scan complete/#","qos":"2","broker":"35e1911a.494f1e","x":180,"y":4630,"wires":[["4d615f47.2bfb5"]]},{"id":"82812cdd.2567e","type":"json","z":"e52a7c1.e42718","name":"","x":391,"y":4141,"wires":[["967923bd.e8b65"]]},{"id":"5bf406d7.3158b8","type":"json","z":"e52a7c1.e42718","name":"","x":392,"y":4201,"wires":[["2b96894e.77e636"]]},{"id":"d03943f1.05f6c","type":"json","z":"e52a7c1.e42718","name":"","x":384,"y":4261,"wires":[["d5122da8.104ef"]]},{"id":"e73c276b.64a938","type":"json","z":"e52a7c1.e42718","name":"","x":374,"y":4396,"wires":[["ebfcab45.751fa8"]]},{"id":"4893a463.07d42c","type":"json","z":"e52a7c1.e42718","name":"","x":393,"y":4508,"wires":[["ff8d444e.1028d8"]]},{"id":"34af7835.ac4278","type":"json","z":"e52a7c1.e42718","name":"","x":388,"y":4565,"wires":[["d79ca06e.9db25"]]},{"id":"4d615f47.2bfb5","type":"json","z":"e52a7c1.e42718","name":"","x":397,"y":4634,"wires":[["c559bcf2.e29d1"]]},{"id":"6370d3b4.88972c","type":"mqtt in","z":"e52a7c1.e42718","name":"","topic":"zwave/events/value added/#","qos":"2","broker":"35e1911a.494f1e","x":160,"y":4320,"wires":[["93d94ad3.3fb148"]]},{"id":"cac7b098.4db4c","type":"function","z":"e52a7c1.e42718","name":"value added","func":"if (!context.global.zwavenodes[msg.payload.nodeid]['classes'][msg.payload.cmdclass])\n     context.global.zwavenodes[msg.payload.nodeid]['classes'][msg.payload.cmdclass] = {};\ncontext.global.zwavenodes[msg.payload.nodeid]['classes'][msg.payload.cmdclass][msg.payload.cmdidx] = msg.payload.currState;\n\nreturn msg;","outputs":1,"x":601,"y":4317.3333740234375,"wires":[[]]},{"id":"93d94ad3.3fb148","type":"json","z":"e52a7c1.e42718","name":"","x":388,"y":4325.666656494141,"wires":[["cac7b098.4db4c"]]},{"id":"6e8510be.475fd","type":"mqtt in","z":"e52a7c1.e42718","name":"","topic":"zwave/events/value removed/#","qos":"2","broker":"35e1911a.494f1e","x":168,"y":4455,"wires":[["d8511698.ff5ca8"]]},{"id":"71a4192c.cb2e98","type":"function","z":"e52a7c1.e42718","name":"value removed","func":"if (context.global.zwavenodes[msg.payload.nodeid]['classes'][msg.payload.cmdclass] &&\n    context.global.zwavenodes[msg.payload.nodeid]['classes'][msg.payload.cmdclass][msg.payload.cmdidx])\n        delete context.global.zwavenodes[msg.payload.nodeid]['classes'][msg.payload.cmdclass][msg.payload.cmdidx];\n\nreturn msg;","outputs":1,"x":595,"y":4458.3333740234375,"wires":[[]]},{"id":"d8511698.ff5ca8","type":"json","z":"e52a7c1.e42718","name":"","x":383,"y":4455.666656494141,"wires":[["71a4192c.cb2e98"]]},{"id":"eb15b6f4.392168","type":"inject","z":"e52a7c1.e42718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":132,"y":4694,"wires":[["ee43c9b3.205bc8"]]},{"id":"ee43c9b3.205bc8","type":"function","z":"e52a7c1.e42718","name":"delete context.global.zwavenodes","func":"delete context.global.zwavenodes;\nreturn msg;","outputs":1,"x":387,"y":4696,"wires":[["fc4c4807.c465b8"]]},{"id":"fc4c4807.c465b8","type":"debug","z":"e52a7c1.e42718","name":"","active":true,"console":"false","complete":"false","x":620,"y":4700,"wires":[]},{"id":"b75e6361.7922a","type":"mqtt out","z":"35a8abf3.f78d44","name":"6) Dinning Out","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":2730.857177734375,"y":139.5714111328125,"wires":[]},{"id":"7279b522.b2c55c","type":"ui_slider","z":"35a8abf3.f78d44","name":"5) Island","label":"Kitchen Isld","group":"b3dca72a.7d4f78","order":0,"width":0,"height":0,"passthru":true,"topic":"kitchen","min":0,"max":"100","step":1,"x":1877,"y":331,"wires":[["b8cc0c74.2d81c","bad149e4.6f9658"]]},{"id":"655848a9.979458","type":"comment","z":"35a8abf3.f78d44","name":"Node 6: Dinning Room","info":"","x":2384.857177734375,"y":94.5714111328125,"wires":[]},{"id":"b8cc0c74.2d81c","type":"function","z":"35a8abf3.f78d44","name":"setValue","func":"var kitchenisld=msg.payload;\n\n\nvar kitchenisldMSG={ \n    topic: 'setValue',\n    payload: {'nodeid':5, 'cmdclass':38, 'value': +kitchenisld}\n};\n\nreturn kitchenisldMSG;\n\n","outputs":1,"noerr":0,"x":2019.5,"y":332,"wires":[["5d8ca477.46b23c"]]},{"id":"c026a8cd.503ec8","type":"comment","z":"35a8abf3.f78d44","name":"Node 7: Living Room","info":"","x":2392.857177734375,"y":197.5714111328125,"wires":[]},{"id":"9c0448e1.32c518","type":"mqtt out","z":"35a8abf3.f78d44","name":"6) Dinning Out","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":2737.857177734375,"y":241.5714111328125,"wires":[]},{"id":"942792b.6cd237","type":"function","z":"35a8abf3.f78d44","name":"setValue","func":"var dimmer=msg.payload;\n\nvar dimmerMSG={ \n    topic: 'setValue',\n    payload: {'nodeid':7, 'cmdclass':38, 'value': +dimmer}\n};\n\nreturn dimmerMSG;\n\n","outputs":1,"noerr":0,"x":2566.857177734375,"y":241.5714111328125,"wires":[["9c0448e1.32c518"]]},{"id":"dfda0c8.128a4f","type":"ui_slider","z":"35a8abf3.f78d44","name":"7) Dinning Room","label":"Living Room","group":"b3dca72a.7d4f78","order":0,"width":0,"height":0,"passthru":true,"topic":"dimmer","min":0,"max":"100","step":1,"x":2383.857177734375,"y":242.5714111328125,"wires":[["942792b.6cd237"]]},{"id":"bc8e00b.8eb0f","type":"ui_button","z":"35a8abf3.f78d44","name":"4) Porch 1","group":"a25807df.e4eb88","order":0,"width":0,"height":0,"label":"Porch On","color":"","bgcolor":"","icon":"","payload":"{\"nodeid\" : 4}","payloadType":"json","topic":"switchOn","x":459.2857131958008,"y":194.28570556640625,"wires":[["e53b5a72.1a3e98"]]},{"id":"24384465.533fac","type":"ui_button","z":"35a8abf3.f78d44","name":"4) Porch 0","group":"a25807df.e4eb88","order":0,"width":0,"height":0,"label":"Porch Off","color":"","bgcolor":"","icon":"","payload":"{\"nodeid\" : 4}","payloadType":"json","topic":"switchOff","x":460,"y":235.71429443359375,"wires":[["e53b5a72.1a3e98"]]},{"id":"bad149e4.6f9658","type":"ui_gauge","z":"35a8abf3.f78d44","name":"Kitchen Isld","group":"344e1fb3.04256","order":0,"width":0,"height":0,"gtype":"donut","title":"Kitchen Isld","label":"","format":"{{ value | number }}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":2030.5,"y":380,"wires":[]},{"id":"ab60365f.0bbcd8","type":"inject","z":"35a8abf3.f78d44","name":"getNodeStatistics","topic":"getNodeStatistics","payload":"{\"args\": [5]}","payloadType":"json","repeat":"","crontab":"","once":false,"x":354.6428909301758,"y":665.8928928375244,"wires":[["81c1cc5.681483","625d0f9.6f333f"]]},{"id":"13045ed.ab9c6a1","type":"mqtt out","z":"35a8abf3.f78d44","name":"22) Multisensor6","topic":"setValue","qos":"","retain":"","broker":"35e1911a.494f1e","x":409.6190621512276,"y":1180.857195172991,"wires":[]},{"id":"721305c3.58a27c","type":"function","z":"b69395b2.b963a8","name":"Display temperature sent to Maximo","func":"// Settings for display\nmsg.color=\"#3344aa\"\nmsg.background=\"off\"\nmsg.speed=3\n\n// Get Temperature\nvar temp = flow.get('temp')||0;\n\n// Display message.\nmsg.payload=\"Sending \" + temp + \" to Maximo.\";\nreturn msg;","outputs":1,"noerr":0,"x":975,"y":770,"wires":[[]]},{"id":"d3510ab5.c62b98","type":"http request","z":"b69395b2.b963a8","name":"Maximo REST GET","method":"use","ret":"obj","url":"","tls":"","x":665,"y":710,"wires":[["a6f636a1.2c2d68","721305c3.58a27c"]]},{"id":"337ec1e2.9e2bde","type":"inject","z":"b69395b2.b963a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":125,"y":710,"wires":[["6f8fae28.e3aec"]]},{"id":"700a1bdf.75fbe4","type":"http request","z":"b69395b2.b963a8","name":"Maximo REST POST","method":"use","ret":"obj","url":"","tls":"","x":1225,"y":710,"wires":[[]]},{"id":"9d9b236.b1edfe","type":"function","z":"b69395b2.b963a8","name":"Set Flow temp variable to temperature reading from Sense Hat.","func":"// Save the incomming temperature in a variable that can be used in the flow.\n// The Sense hat is reporting temperature much faster than we want to log in Maximo.\nflow.set(\"temp\",msg.payload.temperature);\nreturn msg;","outputs":1,"noerr":0,"x":455,"y":610,"wires":[[]]},{"id":"a6f636a1.2c2d68","type":"function","z":"b69395b2.b963a8","name":"Maximo URL to add Temperature","func":"// Get Location Id and Site from Maximo response.\nlocationid = msg.payload.LOCATIONSMboSet.LOCATIONS[0].LOCATIONSID;\nsiteid = msg.payload.LOCATIONSMboSet.LOCATIONS[0].SITEID;\n\n//Get saved parameters.\nmaximoIP = msg.maximoIP;\nmaximoUser = msg.maximoUser;\nmaximoPassword = msg.maximoPassword;\nmaximoMetername = msg.maximoMetername;\n\n// Get Temperature from Sense Hat that was stored in the Flow variable. If there in none, return zero.\ntemperature = flow.get('temp') || 0;\n\n// Construct URL to send data.\nmsg.url=\"http://\" + maximoIP + \"/maxrest/rest/os/pitemp/\" + locationid + \"?_lid=\" + maximoUser + \"&_lpwd=\" + maximoPassword + \"&_compact=true&_format=json\" + \n\"&locationmeter.id1.metername=\" + maximoMetername + \n\"&locationmeter.id1.measurement.id2.measurementvalue=\" + temperature +\n\"&locationmeter.id1.measurement.id2.siteid=\" + siteid;\nmsg.method=\"POST\";\nreturn msg;","outputs":1,"noerr":0,"x":945,"y":710,"wires":[["700a1bdf.75fbe4"]]},{"id":"6f8fae28.e3aec","type":"function","z":"b69395b2.b963a8","name":"Maximo URL to query Location ID.","func":"// Set initial parameters.\nmaximoIP = \"192.168.0.19\";\nmaximoUser = \"wilson\";\nmaximoPassword = \"wilson\";\nmaximoLoc = \"PISTORAGE\";\nmaximoMetername = \"TEMP-C\";\n\n// Save parameters for other node.\nmsg.maximoIP = maximoIP\nmsg.maximoUser = maximoUser\nmsg.maximoPassword = maximoPassword\nmsg.maximoMetername = maximoMetername\n\n// Greate URL\nmsg.url = \"http://\" + maximoIP + \"/maxrest/rest/mbo/locations?_lid=\" + maximoUser + \"&_lpwd=\" + maximoPassword + \"&_compact=true&_format=json&location=\" + maximoLoc;\nmsg.method=\"GET\"\n\n// Pass along Message.\nreturn msg;","outputs":1,"noerr":0,"x":385,"y":710,"wires":[["d3510ab5.c62b98"]]},{"id":"4dbb465e.d10228","type":"debug","z":"35a8abf3.f78d44","name":"","active":true,"console":"false","complete":"true","x":364.69049072265625,"y":1247.2857666015625,"wires":[]},{"id":"99201fff.5f26d","type":"mongodb out","z":"35a8abf3.f78d44","mongodb":"940bff07.1e8e3","name":"Lighting","collection":"Lighting","payonly":false,"upsert":false,"multi":false,"operation":"store","x":2220,"y":740,"wires":[]},{"id":"4bd89223.2eda5c","type":"debug","z":"35a8abf3.f78d44","name":"","active":true,"console":"false","complete":"false","x":2090,"y":1340,"wires":[]},{"id":"b3f90db3.17ce3","type":"mqtt out","z":"35a8abf3.f78d44","name":"zwave/main/lux","topic":"zwave/main/lux","qos":"","retain":"","broker":"35e1911a.494f1e","x":2240,"y":680,"wires":[]},{"id":"2a4ed1a5.b2ba0e","type":"ui_chart","z":"35a8abf3.f78d44","name":"lux","group":"60f617d7.b95848","order":0,"width":0,"height":0,"label":"lux","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"7","removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"x":2210,"y":620,"wires":[[],[]]},{"id":"fde4cc99.b85b3","type":"function","z":"35a8abf3.f78d44","name":"Format Lux","func":"var count;\nvar luminance = msg.payload;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Format Message\n\nif (msg.payload >= 0){\nreturn {topic:\"zwave/main/lux\", payload: luminance, timestamp: time, lux: luminance};}\n/*\nelse if (msg.payload.length > 1){\nreturn {topic:\"zwave/lux\", payload: luminance, timestamp: time, lux: luminance};}\n}\n*/\nelse {\nreturn {topic:\"zwave/main/lux\", payload:\"Lux go boom\"};\n}\nreturn msg;","outputs":"1","noerr":0,"x":2030,"y":740,"wires":[["99201fff.5f26d","2a4ed1a5.b2ba0e","b3f90db3.17ce3","8561f420.028ab8"]]},{"id":"733e22a.63d97dc","type":"debug","z":"35a8abf3.f78d44","name":"","active":false,"console":"false","complete":"payload","x":652.5238227844238,"y":2570.9523873329163,"wires":[]},{"id":"84cf27a3.8b9f48","type":"template","z":"35a8abf3.f78d44","name":"Display Temp","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Temperature is now {{payload.value.value}}","x":382.5238227844238,"y":2330.9523873329163,"wires":[["733e22a.63d97dc"]]},{"id":"99957145.cb12","type":"template","z":"35a8abf3.f78d44","name":"Display Humidity","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Humidity is now {{payload.value.value}}","x":395.5238227844238,"y":2411.9523873329163,"wires":[["733e22a.63d97dc"]]},{"id":"58c1ce57.746c","type":"file","z":"35a8abf3.f78d44","name":"/tmp/battery","filename":"/tmp/battery","appendNewline":false,"createDir":false,"overwriteFile":"true","x":624.5238227844238,"y":2447.9523873329163,"wires":[]},{"id":"f2ac409b.343eb","type":"switch","z":"35a8abf3.f78d44","name":"Temperature","property":"payload.label","propertyType":"msg","rules":[{"t":"eq","v":"Temperature","vt":"str"}],"checkall":"true","outputs":1,"x":163.52382278442383,"y":2311.9523873329163,"wires":[["84cf27a3.8b9f48"]]},{"id":"b79fc1a4.5ca4b","type":"switch","z":"35a8abf3.f78d44","name":"Humidity","property":"payload.label","propertyType":"msg","rules":[{"t":"eq","v":"Relative Humidity","vt":"str"}],"checkall":"true","outputs":1,"x":156.52382278442383,"y":2391.9523873329163,"wires":[["99957145.cb12"]]},{"id":"2867e52d.83aa3a","type":"switch","z":"35a8abf3.f78d44","name":"UV","property":"payload.label","propertyType":"msg","rules":[{"t":"eq","v":"Ultraviolet","vt":"str"}],"checkall":"true","outputs":1,"x":150.52382278442383,"y":2608.9523873329163,"wires":[[]]},{"id":"e494308a.6b80a","type":"file","z":"35a8abf3.f78d44","name":"/tmp/temperature","filename":"/tmp/temperature","appendNewline":false,"createDir":false,"overwriteFile":"true","x":642.5238227844238,"y":2292.9523873329163,"wires":[]},{"id":"5cf663b9.3f868c","type":"file","z":"35a8abf3.f78d44","name":"/tmp/humidity","filename":"/tmp/humidity","appendNewline":false,"createDir":false,"overwriteFile":"true","x":633.5238227844238,"y":2368.9523873329163,"wires":[]},{"id":"d260d7df.05d738","type":"file","z":"35a8abf3.f78d44","name":"/tmp/uv","filename":"/tmp/uv","appendNewline":false,"createDir":false,"overwriteFile":"true","x":625.5238227844238,"y":2619.9523873329163,"wires":[]},{"id":"65a9cf7b.e3b7d","type":"template","z":"35a8abf3.f78d44","name":"Display Battery","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Battery is now {{payload.value.value}}","x":1860,"y":1420,"wires":[["4bd89223.2eda5c"]]},{"id":"1957e4ca.66f35b","type":"mqtt out","z":"35a8abf3.f78d44","name":"zwave","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":1170,"y":400,"wires":[]},{"id":"b6e66573.a643f8","type":"mqtt in","z":"35a8abf3.f78d44","name":"zwave/update","topic":"zwave/update","qos":"2","broker":"35e1911a.494f1e","x":1050,"y":1000,"wires":[["8ccdc2c4.c9219"]]},{"id":"5d6422eb.724dfc","type":"switch","z":"35a8abf3.f78d44","name":"Nodeid","property":"payload.nodeid","propertyType":"msg","rules":[{"t":"eq","v":"22","vt":"str"}],"checkall":"true","outputs":1,"x":1360,"y":1000,"wires":[["2697d87a.ea2aa8","5ecd6c64.5fbee4"]]},{"id":"3fbbfbd6.4d5d34","type":"comment","z":"35a8abf3.f78d44","name":"Node 22: Great Room Multisensor","info":"","x":1100,"y":700,"wires":[]},{"id":"2697d87a.ea2aa8","type":"debug","z":"35a8abf3.f78d44","name":"","active":true,"console":"false","complete":"true","x":1530,"y":900,"wires":[]},{"id":"408700b0.5bfac","type":"switch","z":"35a8abf3.f78d44","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"zwave: value changed","vt":"str"},{"t":"eq","v":"zwave: notification","vt":"str"},{"t":"eq","v":"zwave: node event","vt":"str"}],"checkall":"true","outputs":3,"x":730,"y":400,"wires":[["f5ef294b.1ad838"],["5b00aafb.33a314"],["3dd90a14.aa4246"]]},{"id":"f5ef294b.1ad838","type":"template","z":"35a8abf3.f78d44","name":"zwave/update","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"zwave/update","x":900,"y":360,"wires":[["1957e4ca.66f35b"]]},{"id":"5a374e84.c20c6","type":"debug","z":"e52a7c1.e42718","name":"","active":true,"console":"false","complete":"false","x":1466.25,"y":4456.25,"wires":[]},{"id":"57c27c4d.5818d4","type":"inject","z":"e52a7c1.e42718","name":"","topic":"","payload":"welcome","payloadType":"str","repeat":"","crontab":"","once":false,"x":1096.25,"y":4436.25,"wires":[["cf6779a8.719438"]]},{"id":"cf6779a8.719438","type":"ui_template","z":"e52a7c1.e42718","group":"4162ad63.0df7d4","name":"testing payload","order":0,"width":"6","height":"6","format":"<h3>Testing dynamic scripts with Dashboard 2.0</h3>\n{{msg.payload}}\n<script>\n    (function(scope) {\n        console.log('Position 1');\n        console.dir(scope);\n        console.log(scope.msg);\n        scope.$watch('msg.payload', function(data) {\n            console.log('Position 2');\n            console.dir(data);\n        });\n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"x":1296.25,"y":4456.25,"wires":[["5a374e84.c20c6"]]},{"id":"7dbd6bf2.1b52a4","type":"inject","z":"e52a7c1.e42718","name":"","topic":"","payload":"not welcome","payloadType":"str","repeat":"","crontab":"","once":false,"x":1106.25,"y":4476.25,"wires":[["cf6779a8.719438"]]},{"id":"f3e5c96e.5fd508","type":"mqtt in","z":"35a8abf3.f78d44","name":"setLevel","topic":"setLevel","qos":"2","broker":"35e1911a.494f1e","x":320.00000381469727,"y":565.0000076293945,"wires":[["81c1cc5.681483"]]},{"id":"e7d452df.ee023","type":"template","z":"35a8abf3.f78d44","name":"Display UV","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Ultraviolet is now {{payload.value.value}}","x":1850,"y":1360,"wires":[["4bd89223.2eda5c"]]},{"id":"30a6a7e5.c47078","type":"template","z":"35a8abf3.f78d44","name":"Log Temp","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}}  {{payload.value.value}}","x":1840,"y":860,"wires":[["c4af91f5.33d27"]]},{"id":"eb92cf31.bec7d","type":"template","z":"35a8abf3.f78d44","name":"Log Humidity","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}}  {{payload.value.value}}","x":1860,"y":920,"wires":[[]]},{"id":"a309ffb4.78294","type":"template","z":"35a8abf3.f78d44","name":"Log Vibration","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}}  {{payload.value.value}}","x":1850,"y":1040,"wires":[[]]},{"id":"a836a0a6.a7afd","type":"template","z":"35a8abf3.f78d44","name":"Log Battery","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}}  {{payload.value.value}}","x":1850,"y":980,"wires":[["619d7967.dd28e8"]]},{"id":"b3d7e12.80eee2","type":"template","z":"35a8abf3.f78d44","name":"Log UV","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}}  {{payload.value.value}}","x":1840,"y":800,"wires":[["9f004f83.7fe4b"]]},{"id":"9f004f83.7fe4b","type":"function","z":"35a8abf3.f78d44","name":"Format UV","func":"var uv = msg.payload;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Format Message\n\nif (msg.payload >= 0){\nreturn {topic:\"zwave/main/uv\", payload: uv, timestamp: time, ultraviolet: uv};}\nelse {\nreturn {topic:\"zwave/main/uv\", payload:\"UV go boom\", timestamp: time};\n}\nreturn msg;","outputs":"1","noerr":0,"x":2030,"y":800,"wires":[["a09ebdf9.82a25","99201fff.5f26d","d493a5ea.989ed8"]]},{"id":"a09ebdf9.82a25","type":"mqtt out","z":"35a8abf3.f78d44","name":"zwave/main/uv","topic":"zwave/main/uv","qos":"","retain":"","broker":"35e1911a.494f1e","x":2240,"y":840,"wires":[]},{"id":"d493a5ea.989ed8","type":"ui_chart","z":"35a8abf3.f78d44","name":"UV","group":"60f617d7.b95848","order":0,"width":0,"height":0,"label":"ultraviolet","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"25","removeOlder":"48","removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"x":2210,"y":800,"wires":[[],[]]},{"id":"619d7967.dd28e8","type":"function","z":"35a8abf3.f78d44","name":"Format Battery","func":"var battery = msg.payload;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Format Message\n\nif (msg.payload >= 0){\nreturn {topic:\"zwave/node22bat\", payload: battery, timestamp: time, batstatus: battery};}\nelse {\nreturn {topic:\"zwave/node22bat\", payload:\"Node22 Battery Status go boom\", timestamp: time};\n}\nreturn msg;","outputs":"1","noerr":0,"x":2040,"y":980,"wires":[["76583db0.01f9d4"]]},{"id":"76583db0.01f9d4","type":"ui_gauge","z":"35a8abf3.f78d44","name":"Node22: Battery Status","group":"344e1fb3.04256","order":0,"width":0,"height":0,"gtype":"gage","title":"Node22 Battery Status","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":2250,"y":980,"wires":[]},{"id":"5b00aafb.33a314","type":"template","z":"35a8abf3.f78d44","name":"zwave/notification","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"zwave/notification","x":910,"y":400,"wires":[["1957e4ca.66f35b"]]},{"id":"3dd90a14.aa4246","type":"template","z":"35a8abf3.f78d44","name":"zwave/event","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"zwave/event","x":890,"y":440,"wires":[["1957e4ca.66f35b"]]},{"id":"f23efba.71e6f08","type":"debug","z":"35a8abf3.f78d44","name":"","active":false,"console":"false","complete":"true","x":1210,"y":2260,"wires":[]},{"id":"2ab4a54f.0446ca","type":"mqtt in","z":"35a8abf3.f78d44","name":"","topic":"zwave/main/#","qos":"2","broker":"35e1911a.494f1e","x":2580,"y":400,"wires":[["5e1ec0ae.28255"]]},{"id":"5e1ec0ae.28255","type":"debug","z":"35a8abf3.f78d44","name":"","active":false,"console":"false","complete":"true","x":2730,"y":400,"wires":[]},{"id":"79ae45ba.09d07c","type":"template","z":"35a8abf3.f78d44","name":"Log Alarm Level","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}}  {{payload.value.value}}","x":1860,"y":1100,"wires":[["1788499f.fb7ba6"]]},{"id":"ee8d6981.1d5ad8","type":"template","z":"35a8abf3.f78d44","name":"Log Alarm Type","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}}  {{payload.value.value}}","x":1860,"y":1160,"wires":[["7f285a3.146f0a4"]]},{"id":"5220aa9.32f7b54","type":"template","z":"35a8abf3.f78d44","name":"Log Burglar","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}}  {{payload.value.value}}","x":1850,"y":1220,"wires":[["4a48b768.5cf828"]]},{"id":"4a48b768.5cf828","type":"function","z":"35a8abf3.f78d44","name":"Format Burglar","func":"var burglar = msg.payload;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Format Message\n\nif (msg.payload >= 0){\nreturn {topic:\"zwave/main/burglar\", payload: burglar, timestamp: time, alarm: burglar};}\nelse {\nreturn {topic:\"zwave/main/burglar\", payload:\"Main Floor Burglar Alarm go boom\", timestamp: time};\n}\nreturn msg;","outputs":"1","noerr":0,"x":2040,"y":1220,"wires":[["262d03ca.889f6c"]]},{"id":"262d03ca.889f6c","type":"debug","z":"35a8abf3.f78d44","name":"","active":true,"console":"false","complete":"true","x":2360,"y":1140,"wires":[]},{"id":"7f285a3.146f0a4","type":"function","z":"35a8abf3.f78d44","name":"Format Alarm Type","func":"var alarmtyp = msg.payload;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Format Message\n\nif (msg.payload >= 0){\nreturn {topic:\"zwave/main/alarmtype\", payload: alarmtyp, timestamp: time, alarmtype: alarmtyp};}\nelse {\nreturn {topic:\"zwave/main/alarmtype\", payload:\"Alarm Type go boom\", timestamp: time};\n}\nreturn msg;","outputs":"1","noerr":0,"x":2050,"y":1160,"wires":[["262d03ca.889f6c"]]},{"id":"1788499f.fb7ba6","type":"function","z":"35a8abf3.f78d44","name":"Format Alarm Level","func":"var alarmlvl = msg.payload;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Format Message\n\nif (msg.payload >= 0){\nreturn {topic:\"zwave/main/alarmlvl\", payload: alarmlvl, timestamp: time, alarmlevel: alarmlvl};}\nelse {\nreturn {topic:\"zwave/main/alarmlvl\", payload:\"Main Floor Alarm Level go boom\", timestamp: time};\n}\nreturn msg;","outputs":"1","noerr":0,"x":2050,"y":1100,"wires":[["262d03ca.889f6c"]]},{"id":"8ccdc2c4.c9219","type":"json","z":"35a8abf3.f78d44","name":"","x":1210,"y":1000,"wires":[["5d6422eb.724dfc"]]},{"id":"9c19b369.2971d","type":"mongodb out","z":"35a8abf3.f78d44","mongodb":"940bff07.1e8e3","name":"HVAC","collection":"HVAC","payonly":false,"upsert":false,"multi":false,"operation":"store","x":2210,"y":900,"wires":[]},{"id":"c4af91f5.33d27","type":"function","z":"35a8abf3.f78d44","name":"Format Temp","func":"var tempvalue = msg.payload;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Format Message\n\nif (msg.payload >= 0){\nreturn {topic:\"zwave/main/temp\", payload: tempvalue, timestamp: time, temp: tempvalue};}\nelse {\nreturn {topic:\"zwave/main/temp\", payload:\"Temp go boom\", timestamp: time};\n}\nreturn msg;","outputs":"1","noerr":0,"x":2030,"y":860,"wires":[["9c19b369.2971d"]]},{"id":"9d3e98f8.724418","type":"function","z":"35a8abf3.f78d44","name":"Format RH","func":"var rhvalue = msg.payload;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Format Message\n\nif (msg.payload >= 0){\nreturn {topic:\"zwave/main/rh\", payload: rhvalue, timestamp: time, humidity: rhvalue};}\nelse {\nreturn {topic:\"zwave/main/rh\", payload:\"Humidity go boom\", timestamp: time};\n}\nreturn msg;","outputs":"1","noerr":0,"x":2030,"y":920,"wires":[["9c19b369.2971d"]]},{"id":"a6f5a86b.f07eb8","type":"debug","z":"e0994af4.69f3c8","name":"","active":true,"console":"false","complete":"true","x":1130,"y":500,"wires":[]},{"id":"d080bd4.c04964","type":"switch","z":"e0994af4.69f3c8","name":"","property":"payload.currently","propertyType":"msg","rules":[{"t":"eq","v":"nearestStormDistance","vt":"str"}],"checkall":"true","outputs":1,"x":670,"y":500,"wires":[["2059cc4e.dfb824"]]},{"id":"2059cc4e.dfb824","type":"template","z":"e0994af4.69f3c8","name":"Log Storm Distance","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}}  {{payload.value.value}}","x":900,"y":500,"wires":[["a6f5a86b.f07eb8"]]},{"id":"2fc2743d.3ec6cc","type":"debug","z":"e0994af4.69f3c8","name":"","active":true,"console":"false","complete":"true","x":530,"y":40,"wires":[]},{"id":"53c33738.ddcc98","type":"debug","z":"e0994af4.69f3c8","name":"","active":false,"console":"false","complete":"true","x":870,"y":440,"wires":[]},{"id":"29b7c069.5a909","type":"rpi-gpio out","z":"baca7a08.dea168","name":"","pin":"15","set":"","level":"0","out":"out","x":360,"y":440,"wires":[]},{"id":"aa82eb1c.473dd8","type":"inject","z":"baca7a08.dea168","name":"On","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":190,"y":360,"wires":[["29b7c069.5a909"]]},{"id":"d1612b15.384418","type":"inject","z":"baca7a08.dea168","name":"Off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":190,"y":540,"wires":[["29b7c069.5a909"]]},{"id":"eab16ffc.b95a3","type":"bigtimer","z":"35a8abf3.f78d44","outtopic":"avrack","outpayload1":"ON","outpayload2":"OFF","name":"AV Rack","lat":"45.0941315","lon":"-93.35634049999999","starttime":"960","endtime":"75","startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":"1","w1":"1","d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"x":1020,"y":180,"wires":[["2a658555.0c9d7a"],[],[]]},{"id":"257bfdbc.0015e2","type":"inject","z":"35a8abf3.f78d44","name":"On","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":836.0000152587891,"y":114.78575706481934,"wires":[["eab16ffc.b95a3"]]},{"id":"a25baf0b.510e9","type":"inject","z":"35a8abf3.f78d44","name":"Off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"x":830.6428451538086,"y":161.92853021621704,"wires":[["eab16ffc.b95a3"]]},{"id":"7dc2e5fb.07cd5c","type":"inject","z":"35a8abf3.f78d44","name":"Default","topic":"","payload":"default","payloadType":"str","repeat":"","crontab":"","once":false,"x":831.3571319580078,"y":210.50000095367432,"wires":[["eab16ffc.b95a3"]]},{"id":"2a658555.0c9d7a","type":"function","z":"35a8abf3.f78d44","name":"On or Off","func":"var count;\nif (msg.payload ==\"ON\"){\nreturn {topic:\"switchOn\", payload:\"{\\\"nodeid\\\":2}\"};}\nelse if (msg.payload ==\"OFF\"){\nreturn {topic:\"switchOff\", payload:\"{\\\"nodeid\\\":2}\"};\n}\nelse {\nreturn {topic:\"blank\", payload:\"boom\"};\n}","outputs":1,"noerr":0,"x":1160,"y":100,"wires":[["169d0fe8.9e4a4"]]},{"id":"156b10c7.38b54f","type":"comment","z":"35a8abf3.f78d44","name":"Node 2: AV","info":"","x":819.2142639160156,"y":71.92859649658203,"wires":[]},{"id":"6d2e9f00.978ce","type":"mqtt out","z":"35a8abf3.f78d44","name":"2) AV Out","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":1367.7142639160156,"y":166.78578281402588,"wires":[]},{"id":"5b37a42f.4f40bc","type":"ui_button","z":"35a8abf3.f78d44","name":"2) AV 1","group":"2fe4bc5f.ef6414","order":0,"width":0,"height":0,"label":"AV On","color":"","bgcolor":"","icon":"","payload":"{\"nodeid\" : 2}","payloadType":"json","topic":"switchOn","x":1203.4999771118164,"y":209.07148838043213,"wires":[["6d2e9f00.978ce"]]},{"id":"3b7c3edb.9b3e32","type":"ui_button","z":"35a8abf3.f78d44","name":"2) AV 0","group":"2fe4bc5f.ef6414","order":0,"width":0,"height":0,"label":"AV Off","color":"","bgcolor":"","icon":"","payload":"{\"nodeid\" : 2}","payloadType":"json","topic":"switchOff","x":1204.2142639160156,"y":250.50007724761963,"wires":[["6d2e9f00.978ce"]]},{"id":"708c0f21.9db14","type":"json","z":"e0994af4.69f3c8","name":"","x":520,"y":420,"wires":[["d080bd4.c04964"]]},{"id":"c359b35c.a30b2","type":"sentiment","z":"c1888603.209248","name":"","x":300,"y":180,"wires":[["b7e3623f.750e5"]]},{"id":"2722b1d6.e32a3e","type":"twitter in","z":"c1888603.209248","twitter":"cff1768e.7c4fb8","tags":"#marchmadness","user":"false","name":"Search for tweet","topic":"tweets","x":120,"y":380,"wires":[[]]},{"id":"3c7449.29d12bb8","type":"debug","z":"c1888603.209248","name":"","active":true,"console":"false","complete":"false","x":1390,"y":180,"wires":[]},{"id":"b7e3623f.750e5","type":"switch","z":"c1888603.209248","name":"Sentiment","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"5","vt":"str"},{"t":"lt","v":"-5","vt":"str"}],"checkall":"true","outputs":2,"x":470,"y":180,"wires":[["4522a6db.d592c8"],["1c20d398.efa21c"]]},{"id":"4522a6db.d592c8","type":"template","z":"c1888603.209248","name":"Positive Tweet","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Positive Tweet: {{payload}} !","x":660,"y":120,"wires":[["49ede9eb.524268"]]},{"id":"1c20d398.efa21c","type":"template","z":"c1888603.209248","name":"Negative Tweet","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Negative Tweet: {{payload}} !","x":660,"y":240,"wires":[[]]},{"id":"d618491.1865fb8","type":"twitter in","z":"c1888603.209248","twitter":"cff1768e.7c4fb8","tags":"#smartbuildings","user":"dm","name":"#getsmart","topic":"tweets","x":1500,"y":960,"wires":[["632d4915.83d2f8"]]},{"id":"632d4915.83d2f8","type":"template","z":"c1888603.209248","name":"Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Tweet: {{payload}} !","x":1680,"y":960,"wires":[["7e7313c8.c8c90c"]]},{"id":"7e7313c8.c8c90c","type":"debug","z":"c1888603.209248","name":"","active":true,"console":"false","complete":"false","x":1890,"y":960,"wires":[]},{"id":"847e2e08.85d63","type":"function","z":"c1888603.209248","name":"Toggle 0/1 on input","func":"\ncontext.state = context.state || 0;\n\n(context.state == 0) ? context.state = 1 : context.state = 0;\nmsg.payload = context.state;\n\nreturn msg;","outputs":1,"noerr":0,"x":1730,"y":1020,"wires":[["8ac5964d.a7a978"]]},{"id":"8ac5964d.a7a978","type":"debug","z":"c1888603.209248","name":"","active":true,"x":1969,"y":1080.0000009536743,"wires":[]},{"id":"2a301fc9.13168","type":"inject","z":"c1888603.209248","name":"tick every 1 sec","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1519,"y":1020.0000009536743,"wires":[["847e2e08.85d63"]]},{"id":"ca231fae.a01f2","type":"inject","z":"c1888603.209248","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":480,"y":80,"wires":[["4522a6db.d592c8"]]},{"id":"7950b21.1cce64c","type":"inject","z":"c1888603.209248","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":480,"y":280,"wires":[["1c20d398.efa21c"]]},{"id":"49ede9eb.524268","type":"function","z":"c1888603.209248","name":"Toggle 0/1 on input","func":"\ncontext.positive = context.positive || 0;\n\n(context.positive === 0) ? context.positive = 1 : context.positive = 0;\nmsg.payload = context.positive;\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":120,"wires":[["5a019e28.fb099","eb7905b4.71df68"]]},{"id":"5a019e28.fb099","type":"delay","z":"c1888603.209248","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":180,"wires":[["5d09ee11.190f9"]]},{"id":"eb7905b4.71df68","type":"debug","z":"c1888603.209248","name":"","active":true,"console":"false","complete":"false","x":1110,"y":60,"wires":[]},{"id":"5d09ee11.190f9","type":"function","z":"c1888603.209248","name":"Revert","func":"/*\ncontext.positive = context.positive || 0;\n\n(context.positive === 0) ? context.positive = 1 : context.positive = 0;\nmsg.payload = context.positive;\n\nreturn msg;\n*/\n\nif (msg.payload == 1) {\n   var turnoff = {payload: 0};\n   context.positive = 0;\n   return [ turnoff ];\n} else {\n   var turnon = {payload: 1};\n   context.positive = 1;\n   return [ turnon ];\n}","outputs":1,"noerr":0,"x":1230,"y":180,"wires":[["3c7449.29d12bb8"]]},{"id":"3a9506d2.84322a","type":"rpi-gpio in","z":"c1888603.209248","name":"","pin":"16","intype":"in","debounce":"25","read":true,"x":1470,"y":660,"wires":[["62766272.e170fc"]]},{"id":"5238aadf.8d2d24","type":"debug","z":"c1888603.209248","name":"","active":true,"console":"false","complete":"false","x":1810,"y":660,"wires":[]},{"id":"62766272.e170fc","type":"function","z":"c1888603.209248","name":"Context.Smart","func":"if (msg.payload == 1) {\n   context.smart = 1;\n   return [ msg ];\n} else {\n   context.smart = 0;\n   return [ msg ];\n}","outputs":1,"noerr":0,"x":1640,"y":660,"wires":[["5238aadf.8d2d24"]]},{"id":"86795f14.6d11d","type":"function","z":"c1888603.209248","name":"Revert","func":"/*\ncontext.positive = context.positive || 0;\n\n(context.positive === 0) ? context.positive = 1 : context.positive = 0;\nmsg.payload = context.positive;\n\nreturn msg;\n*/\n\nif (msg.payload == 1) {\n   var turnoff = {payload: 0};\n   context.positive = 0;\n   return [ turnoff ];\n} else {\n   var turnon = {payload: 1};\n   context.positive = 1;\n   return [ turnon ];\n}","outputs":1,"noerr":0,"x":830,"y":240,"wires":[[]]},{"id":"f317ef3b.2acef","type":"sentiment","z":"c1888603.209248","name":"","x":780,"y":480,"wires":[["9b901910.e4f538"]]},{"id":"9b901910.e4f538","type":"switch","z":"c1888603.209248","name":"","property":"sentiment.score","rules":[{"t":"gt","v":"0"},{"t":"eq","v":"0"},{"t":"lt","v":"0"}],"checkall":"false","outputs":3,"x":920,"y":480,"wires":[["375cc6df.5ddd9a"],[],["8bfb5dd6.1558a"]]},{"id":"375cc6df.5ddd9a","type":"template","z":"c1888603.209248","name":"Positive Tweet","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Positive Tweet: {{payload}} !","x":1100,"y":420,"wires":[["c239031b.7526a"]]},{"id":"8bfb5dd6.1558a","type":"template","z":"c1888603.209248","name":"Negative Tweet","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Negative Tweet: {{payload}} !","x":1100,"y":540,"wires":[[]]},{"id":"c239031b.7526a","type":"function","z":"c1888603.209248","name":"Smart ON","func":"if (context.smart == 1) {\n   context.smart = 0;\n   return {topic:\"sblogo\", payload: 0};\n} else {\n   context.smart = 1;\n   return {topic:\"sblogo\", payload: 1};\n}","outputs":1,"noerr":0,"x":1260,"y":360,"wires":[["19fa5bef.d18974","d8ef1959.c20828","52d75d75.646834"]]},{"id":"e528eaa1.115ce8","type":"inject","z":"c1888603.209248","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":910,"y":380,"wires":[["375cc6df.5ddd9a"]]},{"id":"19fa5bef.d18974","type":"delay","z":"c1888603.209248","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1440,"y":360,"wires":[["441283df.191c8c"]]},{"id":"441283df.191c8c","type":"function","z":"c1888603.209248","name":"Smart OFF","func":"if (msg.payload == 1) {\n   context.smart = 0;\n   return {topic:\"sblogo\", payload: 0};\n    \n} else {\n   var turnon = {payload: 0};\n   context.smart = 0;\n   return {topic:\"sblogo\", payload: 0};\n}","outputs":1,"noerr":0,"x":1590,"y":360,"wires":[["75bc9660.bbc548","b2e96236.98b6a"]]},{"id":"75bc9660.bbc548","type":"debug","z":"c1888603.209248","name":"","active":false,"console":"false","complete":"false","x":1770,"y":340,"wires":[]},{"id":"d8ef1959.c20828","type":"debug","z":"c1888603.209248","name":"","active":false,"console":"false","complete":"false","x":1450,"y":320,"wires":[]},{"id":"17fabff4.6f19f","type":"template","z":"c1888603.209248","name":"Neutral Tweet","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Neutral Tweet: {{payload}} !","x":1100,"y":480,"wires":[[]]},{"id":"52d75d75.646834","type":"mqtt out","z":"c1888603.209248","name":"sblogo","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":1430,"y":400,"wires":[]},{"id":"b2e96236.98b6a","type":"mqtt out","z":"c1888603.209248","name":"sblogo","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":1750,"y":380,"wires":[]},{"id":"1d54087f.d816a8","type":"mqtt in","z":"c1888603.209248","name":"","topic":"sblogo","qos":"2","broker":"35e1911a.494f1e","x":930,"y":1220,"wires":[["c0e5af50.c68b8","8cdb9d5a.15731"]]},{"id":"c0e5af50.c68b8","type":"debug","z":"c1888603.209248","name":"","active":false,"console":"false","complete":"false","x":1120,"y":1220,"wires":[]},{"id":"8cdb9d5a.15731","type":"rpi-gpio out","z":"c1888603.209248","name":"","pin":"18","set":"","level":"0","out":"out","x":1130,"y":1280,"wires":[]},{"id":"70156fb1.9f309","type":"sentiment","z":"c1888603.209248","name":"","x":180,"y":700,"wires":[["eb99bb3.679af48","49fc9206.9b656c"]]},{"id":"eb99bb3.679af48","type":"switch","z":"c1888603.209248","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"eq","v":"0","vt":"str"},{"t":"lt","v":"0","vt":"str"}],"checkall":"false","outputs":3,"x":320,"y":700,"wires":[["c16a1b95.801128"],[],[]]},{"id":"c16a1b95.801128","type":"function","z":"c1888603.209248","name":"Smart ON","func":"if (msg.payload.length > 0) {\n   return {topic:\"sblogo\", payload: 1};\n} else {\n   return {topic:\"sblogo\", payload: \"SMART ON ERROR\"};\n}","outputs":1,"noerr":0,"x":460,"y":660,"wires":[["ca9662d6.0b62c","fcf4d0a0.54023","ff3f0d14.f35f8"]]},{"id":"ca9662d6.0b62c","type":"delay","z":"c1888603.209248","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":660,"wires":[["38f9cc3a.0c4224"]]},{"id":"38f9cc3a.0c4224","type":"function","z":"c1888603.209248","name":"Smart OFF","func":"if (msg.payload == 1) {\n   context.smart = 0;\n   return {topic:\"sblogo\", payload: 0};\n    \n} else {\n   var turnon = {payload: 0};\n   context.smart = 0;\n   return {topic:\"sblogo\", payload: 0};\n}","outputs":1,"noerr":0,"x":790,"y":660,"wires":[["85f274b0.d9d158","4b78c176.9c5ef"]]},{"id":"85f274b0.d9d158","type":"debug","z":"c1888603.209248","name":"","active":false,"console":"false","complete":"false","x":970,"y":640,"wires":[]},{"id":"fcf4d0a0.54023","type":"debug","z":"c1888603.209248","name":"","active":false,"console":"false","complete":"false","x":650,"y":620,"wires":[]},{"id":"ff3f0d14.f35f8","type":"mqtt out","z":"c1888603.209248","name":"sblogo","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":630,"y":700,"wires":[]},{"id":"4b78c176.9c5ef","type":"mqtt out","z":"c1888603.209248","name":"sblogo","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":950,"y":680,"wires":[]},{"id":"49fc9206.9b656c","type":"debug","z":"c1888603.209248","name":"","active":true,"console":"false","complete":"true","x":330,"y":580,"wires":[]},{"id":"5de45bde.f5af04","type":"debug","z":"35a8abf3.f78d44","name":"","active":true,"console":"false","complete":"false","x":2010,"y":440,"wires":[]},{"id":"f65df18.0d3af1","type":"mqtt in","z":"35a8abf3.f78d44","name":"","topic":"zwave/main/lux","qos":"2","broker":"35e1911a.494f1e","x":1820,"y":440,"wires":[["5de45bde.f5af04"]]},{"id":"6689d297.eb57ac","type":"function","z":"35a8abf3.f78d44","name":"","func":"\nif (msg.payload >= 0){\nreturn {topic:\"enablePoll\", payload:{\"nodeid\" : 5} };}\nelse {\nreturn {topic:\"fuckup\", payload:\"Get Node Status go boom\"};\n}\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["81c1cc5.681483","54ec5663.8e41a8"]]},{"id":"ce18c9f9.cc7df8","type":"inject","z":"35a8abf3.f78d44","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":300,"wires":[["6689d297.eb57ac"]]},{"id":"54ec5663.8e41a8","type":"debug","z":"35a8abf3.f78d44","name":"","active":true,"console":"false","complete":"true","x":510,"y":300,"wires":[]},{"id":"625d0f9.6f333f","type":"debug","z":"35a8abf3.f78d44","name":"","active":true,"console":"false","complete":"true","x":580,"y":660,"wires":[]},{"id":"e673d7a8.6f9568","type":"inject","z":"35a8abf3.f78d44","name":"enablePoll","topic":"enablePoll","payload":"{\"args\": [5, 37]}","payloadType":"json","repeat":"","crontab":"","once":false,"x":320,"y":720,"wires":[["81c1cc5.681483","625d0f9.6f333f"]]},{"id":"169d0fe8.9e4a4","type":"debug","z":"35a8abf3.f78d44","name":"","active":true,"console":"false","complete":"true","x":1370,"y":100,"wires":[]},{"id":"7e8857d6.fd7758","type":"inject","z":"35a8abf3.f78d44","name":"Interval update interval","topic":"setValue","payload":"{\"nodeid\" :5, \"cmdclass\": 134}","payloadType":"json","repeat":"","crontab":"","once":false,"x":160,"y":1280,"wires":[["13045ed.ab9c6a1","4dbb465e.d10228"]]},{"id":"50479124.2e53c","type":"mqtt in","z":"c1888603.209248","name":"","topic":"zwave/update","qos":"2","broker":"35e1911a.494f1e","x":110,"y":1220,"wires":[["fdb2a062.32aeb","57ca6aad.f8a3a4"]]},{"id":"fdb2a062.32aeb","type":"debug","z":"c1888603.209248","name":"","active":true,"console":"false","complete":"true","x":250,"y":1160,"wires":[]},{"id":"57ca6aad.f8a3a4","type":"function","z":"c1888603.209248","name":"Smart ON","func":"if (msg.payload.length > 0) {\n   return {topic:\"sblogo\", payload: 1};\n} else {\n   return {topic:\"sblogo\", payload: \"SMART ON ERROR\"};\n}","outputs":1,"noerr":0,"x":300,"y":1220,"wires":[["54a449f7.9bd8d8","677b7b5f.1991f4","a1c18f82.95d7"]]},{"id":"54a449f7.9bd8d8","type":"mqtt out","z":"c1888603.209248","name":"sblogo","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":450,"y":1260,"wires":[]},{"id":"677b7b5f.1991f4","type":"delay","z":"c1888603.209248","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":1180,"wires":[["a08e6308.681a5"]]},{"id":"a08e6308.681a5","type":"function","z":"c1888603.209248","name":"Smart OFF","func":"if (msg.payload == 1) {\n   context.smart = 0;\n   return {topic:\"sblogo\", payload: 0};\n    \n} else {\n   var turnon = {payload: 0};\n   context.smart = 0;\n   return {topic:\"sblogo\", payload: 0};\n}","outputs":1,"noerr":0,"x":630,"y":1220,"wires":[["8c78362.28059c8","bc917739.935be8"]]},{"id":"8c78362.28059c8","type":"mqtt out","z":"c1888603.209248","name":"sblogo","topic":"","qos":"","retain":"","broker":"35e1911a.494f1e","x":790,"y":1220,"wires":[]},{"id":"a1c18f82.95d7","type":"debug","z":"c1888603.209248","name":"","active":true,"console":"false","complete":"false","x":470,"y":1320,"wires":[]},{"id":"bc917739.935be8","type":"debug","z":"c1888603.209248","name":"","active":true,"console":"false","complete":"false","x":740,"y":1280,"wires":[]},{"id":"f8c97b09.b42c68","type":"mqtt in","z":"35a8abf3.f78d44","name":"zwave/update","topic":"zwave/update","qos":"2","broker":"35e1911a.494f1e","x":1090,"y":1700,"wires":[["48ae0e6e.2ed87"]]},{"id":"48ae0e6e.2ed87","type":"json","z":"35a8abf3.f78d44","name":"","x":1250,"y":1700,"wires":[["ab42edbc.b9331"]]},{"id":"ab42edbc.b9331","type":"switch","z":"35a8abf3.f78d44","name":"Nodeid","property":"payload.nodeid","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"str"}],"checkall":"true","outputs":1,"x":1400,"y":1700,"wires":[[]]},{"id":"8561f420.028ab8","type":"debug","z":"35a8abf3.f78d44","name":"","active":true,"console":"false","complete":"true","x":2204,"y":572,"wires":[]},{"id":"dfd034ec.6784c8","type":"mongodb in","z":"51598847.36e3a8","mongodb":"940bff07.1e8e3","name":"","collection":"temp","operation":"find","x":1480,"y":920,"wires":[["1e37836c.0a4a5d","84649a6d.4cc438"]]},{"id":"2c321e41.6ea942","type":"debug","z":"51598847.36e3a8","name":"","active":true,"console":"false","complete":"true","x":1830,"y":980,"wires":[]},{"id":"8ed34d44.a270d","type":"inject","z":"51598847.36e3a8","name":"","topic":"","payload":"\"db.temp.find()\"","payloadType":"json","repeat":"","crontab":"","once":false,"x":1080,"y":900,"wires":[["572f3129.2234c","4f24292c.bc4ba8"]]},{"id":"572f3129.2234c","type":"debug","z":"51598847.36e3a8","name":"","active":true,"console":"true","complete":"true","x":1250,"y":880,"wires":[]},{"id":"39c1fa63.1ac596","type":"function","z":"51598847.36e3a8","name":"Format Temp","func":"var tempvalue = msg.payload.currentTemp;\nvar timestamp = msg.payload.time;\n\nreturn {topic:\"Ecobee3/temp\", payload: tempvalue + \",\" + timestamp};\n\n/*\nif (msg.payload >= 0){\nreturn {topic:\"Ecobee3/temp\", payload: tempvalue + \",\" + timestamp};}\nelse {\nreturn {topic:\"Ecobee3/temp\", payload:\"Temp go boom\"};\n}\nreturn msg;\n*/","outputs":"1","noerr":0,"x":1850,"y":900,"wires":[["d71ac27.0dbeb4"]]},{"id":"e395dbf.a401328","type":"function","z":"51598847.36e3a8","name":"Format RH","func":"var rhvalue = msg.payload;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Format Message\n\nif (msg.payload >= 0){\nreturn {topic:\"Ecobee3/RH\", payload: rhvalue, timestamp: time, humidity: rhvalue};}\nelse {\nreturn {topic:\"Ecobee3/RH\", payload:\"Humidity go boom\", timestamp: time};\n}\nreturn msg;","outputs":"1","noerr":0,"x":1850,"y":860,"wires":[["dcf1e730.4d2ba8","d71ac27.0dbeb4"]]},{"id":"4f24292c.bc4ba8","type":"function","z":"51598847.36e3a8","name":"Query Temp","func":"var TempQuery={\n    payload: \"db.temp.find()\",\n    limit: 1000,\n    skip: 0,\n};\nreturn TempQuery;\n\n\n\n\n/*\nvar TempQuery={\n    payload: db.getCollection('temp').find({})\n};\nreturn TempQuery;\n*/\n\n/*\nvar Msg1={\n payload:year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second + \" Main Floor Temp: \" + currentTemp + \"*F. Runtime: \" + currentruntime*5 \n};\nvar Msg2={\n payload:\"Humidity is \" + currentHumidity + \"%.\"\n};\nreturn [ [Msg1, Msg2 ] ];\n*/","outputs":1,"noerr":0,"x":1270,"y":920,"wires":[["dfd034ec.6784c8"]]},{"id":"1e37836c.0a4a5d","type":"debug","z":"51598847.36e3a8","name":"","active":false,"console":"false","complete":"true","x":1670,"y":860,"wires":[]},{"id":"4261b501.9a934c","type":"inject","z":"51598847.36e3a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1100,"y":1000,"wires":[["a9d8eac1.24f318"]]},{"id":"a9d8eac1.24f318","type":"function","z":"51598847.36e3a8","name":"Query Temp","func":"var TempQuery1={\n    payload: \"db.temp.find({ payload: 65.4})\",\n    limit: 1,\n    skip: 0,\n};\nreturn TempQuery1;\n\n\n\n\n/*\nvar TempQuery={\n    payload: db.getCollection('temp').find({})\n};\nreturn TempQuery;\n*/\n\n/*\nvar Msg1={\n payload:year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second + \" Main Floor Temp: \" + currentTemp + \"*F. Runtime: \" + currentruntime*5 \n};\nvar Msg2={\n payload:\"Humidity is \" + currentHumidity + \"%.\"\n};\nreturn [ [Msg1, Msg2 ] ];\n*/","outputs":1,"noerr":0,"x":1270,"y":1000,"wires":[["dfd034ec.6784c8"]]},{"id":"84649a6d.4cc438","type":"bigsplitter","z":"51598847.36e3a8","name":"","property":"payload","x":1680,"y":920,"wires":[["39c1fa63.1ac596","79a6ae04.5bad7","e395dbf.a401328"],["2c321e41.6ea942"]]},{"id":"d71ac27.0dbeb4","type":"debug","z":"51598847.36e3a8","name":"","active":true,"console":"false","complete":"true","x":2010,"y":900,"wires":[]},{"id":"79a6ae04.5bad7","type":"function","z":"51598847.36e3a8","name":"Format Temp","func":"var tempvalue = msg.payload.currentTemp;\nvar timestamp = msg.payload.time;\n\nreturn {topic:\"Ecobee3/temp\", payload: tempvalue};\n\n/*\nif (msg.payload >= 0){\nreturn {topic:\"Ecobee3/temp\", payload: tempvalue + \",\" + timestamp};}\nelse {\nreturn {topic:\"Ecobee3/temp\", payload:\"Temp go boom\"};\n}\nreturn msg;\n*/","outputs":"1","noerr":0,"x":1850,"y":940,"wires":[[]]},{"id":"61bcf460.acc9ec","type":"ui_chart","z":"51598847.36e3a8","name":"Main Temp","group":"3160bdf3.4e48f2","order":0,"width":0,"height":0,"label":"Temperature Main Floor","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"604800","cutout":0,"x":1390,"y":680,"wires":[[],[]]},{"id":"2226b5b4.630e6a","type":"ui_chart","z":"51598847.36e3a8","name":"RH","group":"3160bdf3.4e48f2","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"604800","cutout":0,"x":1370,"y":720,"wires":[[],[]]},{"id":"a120cfde.378f9","type":"switch","z":"51598847.36e3a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"currentTemp","vt":"str"},{"t":"eq","v":"currentHumidity","vt":"str"},{"t":"eq","v":"runtime","vt":"str"}],"checkall":"true","outputs":3,"x":1190,"y":720,"wires":[["61bcf460.acc9ec"],["2226b5b4.630e6a"],[]]},{"id":"dcf1e730.4d2ba8","type":"ui_chart","z":"51598847.36e3a8","name":"","group":"3160bdf3.4e48f2","order":0,"width":0,"height":0,"label":"RH","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"x":2010,"y":860,"wires":[[],[]]},{"id":"31d64272.4ceade","type":"tcp in","z":"a276e394.79ecc","name":"","server":"server","host":"","port":"3001","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":360,"y":340,"wires":[["f717143.89790e8"]]},{"id":"9fa0cdaf.de066","type":"tcp out","z":"a276e394.79ecc","host":"10.0.0.100","port":"3001","beserver":"client","base64":false,"end":false,"name":"","x":570,"y":80,"wires":[]},{"id":"f717143.89790e8","type":"debug","z":"a276e394.79ecc","name":"","active":true,"console":"false","complete":"false","x":560,"y":340,"wires":[]},{"id":"5c030971.43db58","type":"inject","z":"a276e394.79ecc","name":"","topic":"","payload":"hello\\world","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":60,"wires":[["9fa0cdaf.de066"]]},{"id":"a0b5904d.1fc57","type":"github-repo","z":"ed7ca635.59afb8","github":"5f41693b.9e1188","name":"Show node-red repo info","username":"bdbuysse","usernameType":"str","repository":"node-red","repositoryType":"str","action":"show","branch":"master","branchType":"str","path":"","pathType":"str","pathto":"","pathtoType":"str","contents":"payload","contentsType":"msg","outputs":"1","x":310,"y":80,"wires":[["93fffb3f.480fe8"]]},{"id":"8cb4b55.cbd2348","type":"github-user","z":"ed7ca635.59afb8","github":"5f41693b.9e1188","name":"Get your personal info","action":"show","outputs":"1","options":"","optionsType":"json","username":"bdbuysse","usernameType":"str","orgname":"","orgnameType":"str","x":307,"y":157,"wires":[["93fffb3f.480fe8"]]},{"id":"bca58d2b.d10a7","type":"inject","z":"ed7ca635.59afb8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":111,"y":79,"wires":[["a0b5904d.1fc57"]]},{"id":"93fffb3f.480fe8","type":"debug","z":"ed7ca635.59afb8","name":"","active":true,"console":"false","complete":"false","x":641,"y":152,"wires":[]},{"id":"25938d67.742252","type":"inject","z":"ed7ca635.59afb8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":107,"y":154,"wires":[["8cb4b55.cbd2348"]]},{"id":"f25a33be.b9a94","type":"github-repo","z":"ed7ca635.59afb8","github":"5f41693b.9e1188","name":"Get contents of msg.payload at 'master'","username":"bdbuysse","usernameType":"str","repository":"payload","repositoryType":"msg","action":"contents","branch":"master","branchType":"str","path":"","pathType":"str","pathto":"","pathtoType":"str","contents":"payload","contentsType":"msg","outputs":"1","x":379,"y":239,"wires":[["93fffb3f.480fe8"]]},{"id":"afad29e8.bd4088","type":"inject","z":"ed7ca635.59afb8","name":"","topic":"","payload":"node-red","payloadType":"str","repeat":"","crontab":"","once":false,"x":112,"y":240,"wires":[["f25a33be.b9a94"]]},{"id":"e51a9d15.e7b3c","type":"github-repo","z":"ed7ca635.59afb8","github":"5f41693b.9e1188","name":"flows_edgewood-01.json","username":"bdbuysse","usernameType":"str","repository":"node-red","repositoryType":"str","action":"write","branch":"master","branchType":"str","path":"edgewood","pathType":"str","pathto":"","pathtoType":"str","contents":"payload","contentsType":"msg","outputs":"0","x":490,"y":460,"wires":[]},{"id":"b8e51af7.519998","type":"inject","z":"ed7ca635.59afb8","name":"inject","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":420,"wires":[["9e732199.9651"]]},{"id":"9e732199.9651","type":"file in","z":"ed7ca635.59afb8","name":"Read Flows","filename":"/home/bdbuysse/.node-red/flows_edgewood-01.json","format":"utf8","x":270,"y":420,"wires":[["92bdc432.39e108","e51a9d15.e7b3c"]]},{"id":"92bdc432.39e108","type":"debug","z":"ed7ca635.59afb8","name":"","active":false,"console":"false","complete":"true","x":430,"y":380,"wires":[]}]